.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.searchContainer {
    background: #d1d1d1;
    width: 60%;
    border-radius: 4px;
}

.searchHeader {
    background: #304e38;
    border-radius: 4px 4px 0px 0px;
    font-size: 14pt;
    color: white;
}

.searchResultsContainer {
    padding: 10px;
    padding-bottom: 0px;
    height: 500px;
    overflow-y: scroll;
}

.resultCard {
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 12pt;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.resultCard:hover {
    color:white;
    background-color: #3b372b;
    cursor: pointer;
}

.filter {
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 12pt;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.loaderContainer {
    position: absolute;
    width: 35%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lds-grid {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-grid div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #437250;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 6px;
    left: 6px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 6px;
    left: 26px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 6px;
    left: 45px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 26px;
    left: 6px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 26px;
    left: 26px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 26px;
    left: 45px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 45px;
    left: 6px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 45px;
    left: 26px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 45px;
    left: 45px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
