<div class='container'>
  <div class='searchContainer'>
    <div class='searchHeader'>
      {{ts.l.all_users}}
    </div>
    
    <!-- Loading panel -->
    <div *ngIf="!dataLoaded" class="loaderContainer">
      <b>{{ts.l.compiling_data}}</b>
      <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    
    <!-- Filter by role -->
    <div *ngIf="dataLoaded" class='searchResultsContainer'>
      <div class='filter'>
        <div> Include: </div>
        <div class="checkbox-line"><input type="checkbox" [(ngModel)]="roleFilter.STUDENT"/> {{ts.l.students}}</div>
        <div class="checkbox-line"><input type="checkbox" [(ngModel)]="roleFilter.TEACHER"/> {{ts.l.teachers}}</div>
        <div class="checkbox-line"><input type="checkbox" [(ngModel)]="roleFilter.ADMIN"/> {{ts.l.admins}}</div>  
      </div>
      <!-- Search bar -->
      <div role="main">
        <div>
          <div class="form-group">
            <label for="search-text">{{ts.l.search_user}}</label>
            <div style="display: flex">
              <input
                type="text" 
                class="form-control" 
                id="search-text" 
                aria-describedby="search-text"
                [ngModel]='searchText'
                (ngModelChange)='searchModelChanged.next($event)' 
                placeholder="Enter user to search"
              >
              <button (click)="currentPage = 0; searchUsers();">Search</button>
            </div>
          </div>
        </div>
      </div>
      
      <div>
        <button (click)="goPrevPage()">&lt;</button>
        Page {{currentPage}} / {{getPageCount()}}
        <button (click)="goNextPage()">&gt;</button>
      </div>

      <!-- List of users -->
      <div style="margin: 5px;">{{ts.l.results}} ({{resultCount}})</div>
      <div class='resultContainer' *ngIf="resultCount > 0 && searchText">
        <div class='resultCard' routerLink="../user/{{user._id}}" *ngFor="let user of userResults" >
          <div appHighlight [searchedWord]="searchText" [content]="user.username" [classToApply]="'font-weight-bold'" [setTitle]="'true'">
          {{user.username}}</div>
          <div>{{user.role}}</div>
        </div>
      </div>
      <div *ngIf="!searchText">
        Type above to search for users.
      </div>
      <div *ngIf="searchText && resultCount == 0">
        No usernames match the string entered above.
      </div>
    </div>
  </div>
</div>