<div class='container'>
  <div class='searchContainer'>
    <div class='searchHeader'>
      {{ts.l.all_users}} ({{numberOfUsers}})
    </div>
    <!-- Filter by role -->
    <div class='searchResultsContainer'>
      <div class='filter'>
        <div> {{ts.l.filter_by}}: </div>
        <div class="checkbox-line"><input type="checkbox"[(ngModel)]="students"/> {{ts.l.students}} ({{allStudents.length}})</div>
        <div class="checkbox-line"><input type="checkbox"[(ngModel)]="teachers"/> {{ts.l.teachers}} ({{allTeachers.length}})</div>
        <div class="checkbox-line"><input type="checkbox"[(ngModel)]="admins"/> {{ts.l.admins}} ({{allAdmins.length}})</div>  
      </div> 
      <!-- Search bar -->
      <div role="main">
        <div>
          <div class="form-group">
            <label for="search-text">{{ts.l.search_user}}</label>
            <input type="text" class="form-control" id="search-text" aria-describedby="search-text" 
              [(ngModel)]="searchText" placeholder="Enter user to search" 
              autofocus>
          </div>
        </div>
      </div>
      
      <!-- List of users -->
      {{ts.l.results}}
      <div *ngIf="!students && !teachers && !admins">
        <div class='resultCard' routerLink="../user/{{user._id}}" *ngFor="let user of userResults | appFilter: searchText" >
          <div appHighlight [searchedWord]="searchText" [content]="user.username" [classToApply]="'font-weight-bold'" [setTitle]="'true'">
          {{user.username}}</div>
          <div>{{user.role}}</div>
        </div>
      </div>
      
      <div *ngIf="students">
        <div class='resultCard' routerLink="../user/{{user._id}}" *ngFor="let user of allStudents | appFilter: searchText">
          <div appHighlight [searchedWord]="searchText" [content]="user.username" [classToApply]="'font-weight-bold'" [setTitle]="'true'">
          {{user.username}}</div>
          <div>{{user.role}}</div>
        </div>
      </div>
      
      <div *ngIf="teachers">
        <div class='resultCard' routerLink="../user/{{user._id}}" *ngFor="let user of allTeachers | appFilter: searchText">
          <div appHighlight [searchedWord]="searchText" [content]="user.username" [classToApply]="'font-weight-bold'" [setTitle]="'true'">
          {{user.username}}</div>
          <div>{{user.role}}</div>
        </div>
      </div>
      
      <div *ngIf="admins">
        <div class='resultCard' routerLink="../user/{{user._id}}" *ngFor="let user of allAdmins | appFilter: searchText">
          <div appHighlight [searchedWord]="searchText" [content]="user.username" [classToApply]="'font-weight-bold'" [setTitle]="'true'">
          {{user.username}}</div>
          <div>{{user.role}}</div>
        </div>
      </div>
    </div>
  </div>
</div>