<div class="b" style="position: absolute; height: 100%; width: 100%;">
  <div class="r" id="storyBoxContainer" style="overflow-y: scroll; position: absolute; height: 50%; right: 45%; width: 600px; margin: 3em; background-color: white;">
    <div appElastic class="container p-2" >
      <div *ngFor="let sentence of sentences">
        <div class="container p-1">
          <app-text-box [sentence]="sentence"></app-text-box>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="audioElements"></div>
