<!--Irish Language support probably wrong(I used google translate)-->
<div>
    <div class="container">
        <div class="header">
            {{ts.l.sp_dropdown}}
        </div>
        <div>
            <p>{{ts.l.sp_explanation}}</p>
        </div>
        <!--Choose Level-->
        <div class="button-div">
            <form [formGroup]="levelForm">
                <div class="formGroup">
                    <label class="formLabel">{{ts.l.sep_level}}</label>
                    <select formControlName="level" class="level-select">
                    <option *ngFor="let lp of levelPreferences; let i = index" [ngValue]="lp" >{{ts.l.sep_level_preferences[i]}}</option>
                    </select>
                </div>
            </form>
            <button class="prompt-button" (click)="currentPrompt(); randomPrompt(currentPromptBank)">{{ts.l.sep_get_prompt}}</button>
        </div>
        <!--Prompt(-->
        <div *ngIf="promptExists; else noPrompt">
            <div *ngFor="let lp of levelPreferences;">
                <div *ngIf="levelForm.controls['level'].value === lp" class="story-prompt">
                    <p>{{ts.l.sp_character}}</p>
                    <i class="character">{{chosenCharacter}}</i>
                    <p>{{ts.l.sp_setting}}</p>
                    <i class="setting">{{chosenSetting}}</i>
                    <p>{{ts.l.sp_theme}}</p>
                    <i class="theme">{{chosenTheme}}</i>
                </div>
            </div>
            <form [formGroup]="newStoryForm">
                <!--Form input-->
                <div>
                    <div class="formGroup" novalidate>
                    <p class="formLabel">{{ts.l.pos_save_name}}</p>
                    <input
                        data-cy=title
                        type="text"
                        class="titleInput"
                        formControlName="title"
                        maxLength="35">
                        <!--Save story button-->
                        <div class="confirmation-button">
                            <button data-cy=create-story
                            type="submit" 
                            (click)="spAddNewStory(newStoryForm.controls['title'].value, 
                            newStoryForm.controls['dialect'].value, this.prompt)" 
                            [disabled]="newStoryForm.pristine || newStoryForm.invalid" 
                            class="btn btn-success">{{ts.l.pos_save_to_stories}}</button>
                        </div>
                </div>
                <!-- check for invalid title -->
                <div *ngIf="newStoryForm.controls['title'].invalid && 
                (newStoryForm.controls['title'].dirty || newStoryForm.controls['title'].touched)" 
                class="validationAlert">
                    <div *ngIf="newStoryForm.controls['title'].errors.required">
                        *{{ts.l.title_required}}.
                    </div>
                </div>
                </div>
                <!-- Select dialect -->
                <div class="formGroup">
                    <p class="formLabel">{{ts.l.dialect}}</p>
                        <select formControlName="dialect" class="dialectSelect">
                            <option value="connemara">{{ts.l.connacht}}</option>
                            <option value="donegal">{{ts.l.ulster}}</option>
                            <option value="kerry">{{ts.l.munster}}</option>                  
                        </select>
                </div>
              </form>
        </div>
        <!--No Prompt-->
        <ng-template #noPrompt>
            <div *ngIf="promptExists === false" class="prompt">
                {{ts.l.sep_no_prompt}}
            </div>
        </ng-template>
    </div>
</div>