.container {
    width: 600px;
    background-color: white;
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    animation-duration: 1s;
    animation-name: fadeIn;
}

.story-prompt-box {
    display: flex;
    max-height: fit-content;
    justify-content: center;
}

.story-prompt-box > p {
    margin: 4px;
}

.story-prompt-box > button {
    border-width: 2px;
    background-color: rgba(112, 168, 127, 0.1);
    border-color: rgb(112, 168, 127);
    border-style: solid;
}

@keyframes fadeIn {
    from {
        opacity: 0%;
        transform: translateY(100px) scale(0.9);
    }

    to {
        opacity: 100%;
        transform: translateY(0px) scale(1);
    }
}

.header {
    width: 100%;
    font-size: 20pt;
    height: 20px;
    margin-bottom: 16px;
}

.button-div {
    max-height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.confirmation-button {
    margin-top: 16px;
}

.content {
    text-align: left;
}

.formLabel {
    margin: 2px;
    padding: 2px;
}

.level-select {
    font-size: 16px;
    height: 24px;
}

.prompt-button {
    border-width: 2px;
    font-size: 24px;
    background-color: rgba(112, 168, 127, 0.1);
    border-color: rgb(112, 168, 127);
    border-style: solid;
}

.prompt-button:hover {
    box-shadow: 0 0 8px rgba(33, 33, 33, 0.2);
}

.story-prompt {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 24px;
}

.story-prompt > p {
    margin: 8px 4px 4px 0px;
}

.character {
    font-size: 24px;
    margin: 0px 8px 8px 0px;
    animation-name: slots;
    animation-duration: 3s;
}

.setting {
    font-size: 24px;
    margin: 0px 8px 8px 0px;
    animation-name: slots;
    animation-duration: 4s;
}

.theme {
    font-size: 24px;
    margin: 0px 8px 8px 0px;
    animation-name: slots;
    animation-duration: 5s;
}
.validationAlert {
    color: red;
}

@keyframes slots {
    from {
        transform: rotateY(7200deg);
    }
    to {
        transform: rotateY(0deg);
    }
}

@media only screen and (max-width: 700px) {
    .container {
        width: 95%;
    }
    .content {
        font-size: 10pt;
    }
    .header {
        font-size: 15pt;
    }
}