.container {
    max-width: 60%;
    padding-bottom: 20px;
    animation-duration: 1s;
    animation-name: fadeIn;
    text-align: left;
}

.storyContainer {
    //padding-left: 20px;
    //padding-right: 20px;
    padding: 40px;
}

.storyContainer > * {
    //margin-bottom:30px;
    margin-bottom:1.2em;
}

.storyContainer > p {
    font-size: 1.3em;
}

.storyContainer img {
    //width:auto !important;
    //width: auto !important;
    height:auto !important;
    max-width:100% !important;
    aspect-ratio:auto;

    // for centering
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.storyContainer > h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.storyContainer > h1 {
    font-size: 2.4em;
}

.storyContainer .word:hover {
    background-color: var(--scealai-light-green);
}

.storyContainer .sentence:hover {
    background-color: var(--scealai-cream);
}
