.container {
    max-width: 60%;
    padding-bottom: 20px;
    animation-duration: 1s;
    animation-name: fadeIn;
    text-align: left;
}

.storyContainer {
    //padding-left: 20px;
    //padding-right: 20px;
    padding: 40px;
}

.storyContainer > * {
    //margin-bottom:30px;
    margin-bottom:1.2em;
}

.storyContainer > p {
    font-size: 1.3em;
}

.storyContainer img {
    //width:auto !important;
    //width: auto !important;
    height:auto !important;
    max-width:100% !important;
    aspect-ratio:auto;

    // for centering
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.storyContainer > h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.storyContainer > h1 {
    font-size: 2.4em;
}

/*.storyContainer .word:hover {
    //background-color: var(--scealai-green);
}*/

.storyContainer .sentence:hover {
    background-color: var(--scealai-cream);
}

.word {
    scroll-margin: 100px; // so it is not covered by the toolbar
    transition: background-color .3s;
}

.currentWord {
    background-color: var(--scealai-light-green);
}

// there is a visual bug where the toolbar is not quite stuck to the top of the screen
.Toolbar {
    position: sticky;
    top: 0;
    /*padding: 0;
    margin: 0;
    width: 100%;*/
    background-color: var(--scealai-green);
    max-width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    //align-items: center;
}

.Toolbar > button {
    border: none;
    background-color: white;
    color: var(--scealai-green);
    vertical-align: middle;

    width: 70px;
    height: 40px;

    margin-right: 5px;
    margin-left: 5px;

    margin-top: 10px;
    margin-bottom: 10px;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.play {
    font-size: 40px;
}

.pause {
    font-size: 20px;
}

/*html {
    scroll-behavior: smooth;
}*/