
<div class="interactableArea">
    <div class="sideBar">
        <div class="tabContainer">
            <button class="tab" (click)="openSidenav()" [ngClass]="{'tabSelected' : sideBarDisplayType=='grammar'}">
                {{ ts.l.grammatical_info }}
            </button>
            <button class="tab"
            (click)="setSideBarDisplayType('dictionary')"
            [ngClass]="{'tabSelected' : sideBarDisplayType=='dictionary'}">
                {{ ts.l.dictionary_entry }}
            </button>
            <button class="tab"
            (click)="setSideBarDisplayType('wordFreqs')"
            [ngClass]="{'tabSelected' : sideBarDisplayType=='wordFreqs'}">
                <!-- {{ ts.l.sentence_translation }} -->
                {{ ts.l.word_frequencies }}
            </button>
        </div>
        <div *ngIf="sideBarDisplayType == 'dictionary'">
            <div class="dictionaryContainer">
                <app-dictionary-drawer
                #dictionary
                (closeDictionaryEmitter)="this.closeSidenav()"
                ></app-dictionary-drawer>
            </div>
        </div>
        <div *ngIf="sideBarDisplayType=='wordFreqs'" id="sideBarFreqContent">
            <div class="tabContainer">
                <button class="tab"
                [ngClass]="{'tabSelected' : sideBarDisplaySort=='numerical'}"
                (click)="sideBarWordFreqSort('numerical')">
                    {{ ts.l.numerical }}
                </button>
                <button class="tab"
                [ngClass]="{'tabSelected' : sideBarDisplaySort=='alphabetical'}"
                (click)="sideBarWordFreqSort('alphabetical')">
                    {{ ts.l.alphabetical }}
                </button>
            </div>
            <div class="wordFreqsTableContainer">
            <table>
                <tr>
                    <th><b>{{ ts.l.lemma }}</b></th>
                    <th><b>{{ ts.l.tags }}</b></th>
                    <th><b>{{ ts.l.count }}</b></th>
                </tr>
                <tbody *ngIf="sideBarDisplaySort=='numerical'">
                    <tr *ngFor="let word of sortedWordFreqs" class="tableContentRow">
                        <td> {{word.lemma}} </td>
                        <td> {{word.tags}} </td>
                        <td> {{word.count}} </td>
                    </tr>
                </tbody>
                <tbody *ngIf="sideBarDisplaySort=='alphabetical'">
                    <tr *ngFor="let word of alphabeticallySortedWordFreqs" class="tableContentRow">
                        <td> {{word.lemma}} </td>
                        <td> {{word.tags}} </td>
                        <td> {{word.count}} </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        <div id="sideBarContent"> <!--The word/sentences occurrences are generated in this location-->
            
        </div>
    </div>
    <div class="mainPage">

        <!--<mat-sidenav-container>
            <mat-sidenav>Start</mat-sidenav>
            <mat-sidenav position="end">End</mat-sidenav>
            <section>Main</section>
        </mat-sidenav-container>-->

        <div class="Toolbar">
            <div class="instructionsContainer">
                <button
                class="instructions"
                [ngClass]="{'paused': audioPaused===true}"
                [attr.aria-label]="'instructions button'"
                (click)="openInstructionsPopup()"
                ><mat-icon>info_outline</mat-icon></button>
            </div>

            <div class="playbackControls">
                <!--<button
                (click)="play()"
                >prevSent</button>-->
                <!--audioPlaying boolean not fully working yet-->
                <button
                class="pause"
                [ngClass]="{'paused': audioPaused===true}"
                (click)="pause()"
                [attr.aria-label]="'pause button'"
                [attr.title]="'pause'"
                >❚❚</button>
                <button
                class="play"
                [ngClass]="{'playing': audioPlaying===true}"
                (click)="playStory()"
                [attr.aria-label]="'play button'"
                [attr.title]="'play the full story'"
                >▸</button>
                <!--<button
                (click)="play()"
                >nextSent</button>-->
            </div>

            <div class="voiceSelection">
                <button
                mat-button
                [matMenuTriggerFor]="dialects"
                aria-label="Dialect selection menu"
                [attr.title]="'Dialect selection menu'">
                    <!--<mat-icon>arrow_drop_down</mat-icon><span>{{ ts.l.dialect }}</span>-->
                    <mat-icon>arrow_drop_down</mat-icon>
                    <!--<span>{{ ts.l.dialect }}</span>-->
                    {{ ts.l[speaker.dialect] + ' ' + '(' + ts.l[speaker.gender + '_shortened'] + ')' }}
                    <!--<span>{{ ts.l[speaker.dialect] + ' ' + '(' + ts.l[speaker.gender] + ')' }}</span>-->
                </button>
                <mat-menu #dialects="matMenu">
                    <button mat-menu-item
                    [matMenuTriggerFor]="gender"
                    [matMenuTriggerData]="{dialect : 'Connacht'}">
                        <span>{{ts.l.connacht}}</span>
                    </button>
                    <button mat-menu-item
                    [matMenuTriggerFor]="gender"
                    [matMenuTriggerData]="{dialect : 'Ulster'}">
                        <span>{{ts.l.ulster}}</span>
                    </button>
                    <button mat-menu-item
                    [matMenuTriggerFor]="gender"
                    [matMenuTriggerData]="{dialect : 'Munster'}">
                        <span>{{ts.l.munster}}</span>
                    </button>
                </mat-menu>
                <mat-menu #gender="matMenu" aria-label="Gender choice menu">
                    <ng-template matMenuContent let-dialect="dialect">
                        <button mat-menu-item
                        (click)="speakerSelected(dialect, 'm')"
                        [disabled]="!speakerExists(dialect, 'm')">
                            {{ ts.l.male }}
                        </button>
                        <button mat-menu-item
                        (click)="speakerSelected(dialect, 'f')"
                        [disabled]="!speakerExists(dialect, 'f')">
                            {{ ts.l.female }}
                        </button>
                    </ng-template>
                </mat-menu>
                
            </div>
        </div> <br>

        <!--<mat-drawer-container class="example-container" autosize>-->
            <!--<mat-drawer #leftSideNav class="left-sidenav" mode="side">
            <p>Auto-resizing sidenav</p>
            </mat-drawer>
        
            <div class="example-sidenav-content">
            <button type="button" mat-button (click)="leftSideNav.toggle();rightSideNav.toggle()">
                Toggle sidenav
            </button>
            </div>-->

        <div class="container">
            <div class="storyContainer"
            [innerHTML]="forceTrustedHTML"> 
            </div>
        </div>

        <!--<mat-drawer #rightSideNav class="right-sidenav" mode="side" position="end">
            <p>Auto-resizing sidenav</p>
        </mat-drawer>-->

        <!--</mat-drawer-container>-->

    </div>
</div>