.batmirialtaHeader {
  width: 100%;
  padding: 25px;
  height: 30px;
  background-color: var(--scealai-green);
  color: white;
  display: flex;
  align-items: center;
}

.group {
  height: 100%;
  width: 100%;
  margin: none;
  padding: none;
  display: flex;
  flex-flow: column;
}

.closeBatmirialtaBtn {
  margin-left: auto;
}

.closeBatmirialtaBtn:hover {
  cursor: pointer;
}

iframe {
  flex: 1 1 auto;
}

:host {
  overflow: hidden;
}

// .textFieldContainer {
//   width: 100%;
//   resize: none;
//   z-index: 1;
//   color: var(--dark-text);
//   background: white;
//   padding-left: 20px;
//   padding-right: 20px;
//   padding-top: 10px;
// }
// 
// .textField {
//   width: 100%;
//   resize: none;
//   z-index: 1;
//   color: var(--dark-text);
//   background: white;
//   padding-left: 20px;
//   padding-right: 20px;
//   padding-top: 10px;
//   border: none;
// }
// 
// .audioPlayer {
//   height: 30px;
//   width: 90%;
//   background-color: #f1f3f4;
//   border: 1px solid #8c806e86;
// }
