.contentsContainer {
    padding-left: 3%;
    padding-right: 3%;
    height: 390px;
    width: 80%;
    margin-left: 10%;
    background: url("/assets/img/paperBg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    border-radius: 5px 5px 5px 5px;
}

.topHeader {
    width: 100%;
}

.myStoriesBtn {
    margin-top: 10px;
    float: left;
}

.myStoriesBtn:hover {
    color: var(--scealai-orange);
    cursor: pointer;
}

.bookTitle {
    color: var(--dark-text);
    padding-left: 5%;
    padding-right: 5%;
    display: inline-block;
    font-size: 18pt;
    padding-top: 10px;
    width: 100%;
}

.contentBody {
    flex-direction: column;
    padding-top: 20px;
}

.contentGroup {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 20px;
    padding: 5px;
}

.contentLabel {
    float: left;
    font-size: 12pt;
}

.titleInput {
    width: 100%;
    border-radius: 4px;
}

.selectOptions {
    width: 100%;
}

.saveBtn {
    background-color: var(--scealai-green);
    border-radius: 5px;
    margin-bottom: -14px;
}

.saveBtn:hover {
    background-color: var(--scealai-dark-green);
}

@media only screen and (max-width: 700px) { 
    .bookImg {
        display: none;
    }
    .bookContentsContainer {
        width: 95%;
        padding-top: 10px;
        margin-left: 2.5%;
        z-index: 10;
    }
    .contentsContainer {
       width: 90%;
       margin-left: 5%;
    }
}

@media only screen and (min-width: 700px) {
    .bookImg {
        z-index: -10;
        width: 630px;
        left: 50%;
        margin-left: -315px;
    }

    .bookContentsContainer {
        width: 560px;
        position: fixed;
        left: 50%;
        margin-left: -280px;
        padding-top: 40px;
    }
}