.container {
    max-width: 900px;
    background-color: white;
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    animation-duration: 1s;
    animation-name: fadeIn;
}

.fadeOutContainer{
    max-width: 600px; 
    height: 280px;
    background-color: white;
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    animation-duration: 1s;
    animation-name: fadeOut;
}

.playback {
    display: block;
    margin: 8px;
}

.synth-item {
    margin-bottom: 4px;
}

.infoBoxButton {
    width: 24px;
    position: relative;
    background-color:#b90202;
    border-radius: 4px;
    top: -280px + 23px;
    left: 600px - 40px;
}

.infoButtonText {
    background-color: lightblue;
    font-size: x-small;
    margin: 4px auto 4px auto;
    padding: 2px;
    border-radius: 4px;
    max-width: fit-content;
    animation-duration: 1s;
    animation-name: fadeInButton;
}

.infoBoxButton, .infoButtonText:hover {
    cursor: pointer;
}

.victory {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkolivegreen;
}

.buttons-and-templates {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.button-guessed {
    max-height: min-content;
    margin-top: 4px;
    border-radius: 4px;
    border-style: solid;
    border-color: rgba($color: #008f13, $alpha: 1.0);
    background-color: rgba($color: rgba(131, 255, 131, 0.459), $alpha: 1.0);
}

.button-pressed {
    max-height: min-content;
    margin-top: 4px;
    border-radius: 4px;
    border-style: solid;
    border-color: rgba($color: #8f6200, $alpha: 1.0);
    background-color: rgba($color: rgba(255, 199, 46, 0.671), $alpha: 1.0);
}

.button-unguessed {
    max-height: min-content;
    margin-top: 4px;
    border-radius: 4px;
    border-style: solid;
    border-color: rgba($color: #8f0000, $alpha: 1.0);
    background-color: rgba($color: rgba(255, 131, 131, 0.459), $alpha: 1.0);
}

.button-text {
    margin: 0px;
}

.unguessed-class {
    display: grid;
    justify-content: center;
    position: relative;
}

.unguessed-class .hint {
    visibility: hidden;
    min-width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: -35px;
  }

.unguessed-class:hover .hint{
    visibility: visible;
}

.victory-button {
    border-width: 2px;
    font-size: 14px;
    background-color: rgba(112, 168, 127, 0.1);
    border-color: rgb(112, 168, 127);
    border-style: solid;
}

@keyframes fadeIn {
    from {
        opacity: 0%;
        transform: translateY(100px) scale(0.9);
    }

    to {
        opacity: 100%;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 100%;
        transform: translateY(0px) scale(1);
    }

    to {
        opacity: 0%;
        transform: translateY(100px) scale(0.9);
    }
}

@keyframes fadeInButton {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}