<div class="container">
    <div id="selectorDiv" style="display:block">
        <h3>Dictogloss</h3>
        <input id="textSelector">
        <button style="margin:4px;" (click)="dictglossLoad();">✔️</button>
    </div>
    <!--<div *ngIf="showReplay">-->
    <hr>
    <div *ngIf="hasText">
        <h3>Audio Playback</h3>
        <app-synth-item class="synth" [synthItem]=synthItem [i]=0></app-synth-item>
        <hr>
        <button *ngFor="let i of shownWords; let index = index" (click)="shownWords[index] = words[index].slice(0, 1);">{{i}}</button>
        <hr>
        <input id="guesses_input">
        <button style="margin:4px;" (click)="checkWord();">✔️</button>
        <div *ngIf="hasIncorrect">
            {{this.wrong_words_div}}
        </div>
    </div>
</div>