<!--Irish Language support probably wrong(I used google translate)-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="container">
                <div id="selectorDiv" style="display:block">
                    <h3>Dictogloss</h3>
                    <input id="textSelector">
                    <button style="margin:4px;" (click)="dictglossLoad();">✔️</button>
                </div>
                <div *ngIf="hasText">
                    <hr>
                    <h3>{{ts.l.dictgloss_audio}}</h3>
                    <div class="playback">
                        <app-synth-item class="synth" [synthItem]=synthItem [i]=0></app-synth-item>
                    </div>
                    <hr>
                    <div class="buttons-and-templates">
                        <div *ngFor="let i of wordsPunc; let index = index">
                            <button style="margin: 2px;" *ngIf="isNotPunctuated(i); else punctuated;" (click)="firstChar(index); generalCheck();">{{shownWords[index]}}</button>
                            <ng-template style="margin: 2px;"#punctuated>{{i}}</ng-template>
                        </div>
                    </div>
                    <hr>
                    <div *ngIf="!allGuessed; else correct;">
                        <input id="guesses_input">
                        <button style="margin:4px;" (click)="checkWord();">✔️</button>
                        <div [innerHtml]="wrong_words_div" *ngIf="hasIncorrect">
                        </div>
                    </div>
                    <ng-template  #correct>
                        <i><h1 class="victory">{{ts.l.dictgloss_victory}}</h1></i>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="container">
                <h3>{{ts.l.dictgloss_usage}}&ensp;</h3>
                <h6>{{ts.l.dictgloss_1}}&ensp;</h6>
                <h6>{{ts.l.dictgloss_2}}&ensp;</h6>
                <h6>{{ts.l.dictgloss_3}}&ensp;</h6>
                <h6>{{ts.l.dictgloss_tip}}&ensp;</h6>
            </div>
        </div>
    </div>
</div>    