/* Set droplist names - -item is the currently selected font, -label is the font's appearance in the droplist*/
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='times-new-roman']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='times-new-roman']::before 
{
  content: 'Times New Roman';
  font-family: 'Times New Roman';
}
.ql-font-times-new-roman {
  font-family: 'times new roman';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='arial']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='arial']::before
{
  content: 'Arial';
  font-family: 'arial';
}
.ql-font-arial {
  font-family: 'arial';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='sans-serif']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='sans-serif']::before
{
  content: 'Sans Serif';
  font-family: 'sans serif';
}
.ql-font-sans-serif {
  font-family: 'sans serif';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='monospace']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='monospace']::before
{
  content: 'Monospace';
  font-family: 'monospace';
}
.ql-font-monospace {
  font-family: 'monospace';
}
