@import './app/gramadoir-tags.scss';
@import './quill.fonts.scss';

html,body.rootBody {
  height: 100%;
}

.ql-container {
  margin: auto;
}

.ql-editor {
  background-color: white;
  font-size: 14pt;
  max-width: 210mm;
  box-shadow: 0 0 0.3em 0.3em hsla(0,0,0,0.2);
  margin: auto;
  border-left: 0.5px solid white;
  border-right: 0.5px solid white;
  @media only screen and (min-width: 210mm) {
    padding-left: 30mm !important;
    padding-right: 30mm !important;
  }
  * {
    padding-top:    0.5em !important;
    padding-bottom: 0.5em !important;
    max-width: 150mm;
    margin: auto !important;
  }
  span {
    padding-top:    0.1em !important;
    padding-bottom: 0.1em !important;
  }
}

html {
  overflow-y: hidden;
}
body.rootBody {
  overflow-y: scroll;
}

body.rootBody {
   background: url("assets/img/paperBg.jpg") no-repeat center fixed;
 -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
         background-size: cover;
 font-family: "Open Sans";
}

.btn {
  color: white;
  font-size: 14pt;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  background-color: #e5bd3b;
  z-index: 20;
}

.btn:hover {
  background-color: #ad8f2b;
  color: white;
}

.errorMessage {
  color: red;
  margin-top: 10px;
}

button:focus, input:focus, audio:focus{
  outline: 0;
}

.add-personal-topics{
  position: relative;
  border-radius: 5px;
  outline: none;
  border: none;
  color: white;
  background-color: #1ABC9C;
  height: 21%;
  width: 28%;
  margin-top: 5%;
  margin-left: 4%;
  font-size: 14px;
  display: inline;
}

.add-personal-topics:hover{
  cursor: pointer;
  font-style: italic;
}

#go-to-taidhgin{
  outline: none;
  border: none;
  border-radius: 5px;
  background-color:lightsalmon;
}

#go-to-taidhgin:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* Chatbot Styles */
/* Dialogue and Photos */
.bot-message-photo, .user-message-photo{
  position:relative;
  width: 45px;
  height: 45px;
  background: #FEF9E7;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 0%;
}

.bot-message-photo{
  float: left;
}

.user-message-photo{
  display: flexbox;
  margin-left: 93.5%;
}

#bot-img, #user-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#user-img{
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.message_parent{
  animation: message 0.15s ease-out 0s forwards;
}

.user-message, .bot-message{
  width: 75%;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  margin-top: 1%;
}

.message_parent:hover{
  cursor: pointer;
}

.user-message{
  background: #58D68D;
  margin-left: 17%;
  margin-top: -6%;
}

.bot-message{
  background: #fff;
  box-shadow: 1px 1px 1px 0px #ccc;
  margin-left: 8%;
}

.bot-message-ind{
  position: relative;
  background: #fff;
  box-shadow: 1px 1px 1px 0px #ccc;
  width: 50px;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  margin-top: 1%;
  margin-left: 8%;
}

.controls-popup{
  padding: 2px;
  right: 1.8%;
  width: 13%;
}

.controls{
  color: black;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background: #95A5A6;
  box-shadow: 1px 1px 1px 0px #ccc;
  top: 3%;
}

.manual-pause:hover, .manual-play:hover{
  cursor: pointer;
}

.manual-play{
  margin-left: 8%;
}

@keyframes message {
  0% {
    max-height: 100vmax;
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    max-height: 100vmax;
    overflow: visible;
  }
}

/* Typing Indicator */
.typing-indicator{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-bottom: 10px;
}

.typing-indicator .chat-message{
  width: 60px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  background: #fff;
  box-shadow: 1px 1px 1px 0px #ccc;
}

#typ1{
  width: 8px;
  height: 8px;
  background-color: #BDC3C7;
  display: inline-block;
  border-radius: 50%;
  animation: bounce 1.2s infinite;
}

#typ2{
  width: 8px;
  height: 8px;
  background-color: #BDC3C7;
  display: inline-block;
  margin: 1px;
  border-radius: 50%;
  animation: bounce 1.2s infinite .3s;
}

#typ3{
  width: 8px;
  height: 8px;
  background-color: #BDC3C7;
  display: inline-block;
  margin: 1px;
  border-radius: 50%;
  animation: bounce 1.2s infinite .6s;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* RiveScript buttons */
.rive-button{
  border-radius: 15px;
  background-color: #E74C3C;
  padding: 5px;
  border-style: none;
  color: white;
  margin: 5px;
  padding: 10px;
}

.rive-button:hover{
  background-color: #F1C40F;
}

.rive-button2{
  border-radius: 15px;
  padding: 10px;
  border-style: none;
  color: white;
  margin: 5px;
  background-color: #8E44AD;
}

.rive-button2:hover{
  background-color: #1ABC9C;
}

#rive-checkbox{
  position: relative;
  top: 3px;
}

.dictButton{
  position: relative;
  display: none;
  left: 275px;
  width: 25px;
  height: 25px;
  top: -11px;
}

.dictButton:hover{
  cursor:pointer;
}

.dictPopup{
  display: none;
  position: absolute;
  padding: 10px;
  font-family: sans-serif;
  text-align: center;
  background: #F7DC6F;
  width: 220px;
  height: 150px;
  margin-top: 330px;
  right: 320px;
  border-radius: 8px;
}

.new-Q{
  position: relative;
  margin-top: 5%;
  margin-left: 5%;
}

#contents-2{
  left: 35%;
}

#contents-3{
  left: 67%;
}

#contents-4{
  margin-top: 20%;
}

.A{
  position: relative;
  width: 40%;
  margin-left: 4%;
}

.add-A{
  position: relative;
  left: 2%;
  outline: none;
  border: none;
  font-size: smaller;
  border-radius: 5px;
  background-color: #F5B041;
}

.add-A:hover{
  cursor: pointer;
  background-color: #F1C40F;
}

#send-recording{
  position: absolute;
  outline: none;
  border: none;
  border-radius: 5px;
  bottom: 5%;
  left: 28%;
  font-size: 14px;
}

#send-recording:hover{
  font-style: italic;
  cursor: pointer;
}

.deleteQPrompt, .deleteAPrompt{
  position: absolute;
  outline: none;
  border: none;
  font-size: small;
  left: 62.5%;
  top: 0%;
}

.deleteAPrompt{
  margin-left: 27%;
}

.deleteQPrompt:hover, .deleteAPrompt:hover{
  background-color: #BDC3C7;
}

@media only screen and (min-width: 500px) and (max-width: 800px){
  .bot-message{
    margin-left: 30%;
  }
  .user-message-photo{
    margin-left: 90%;
  }
  .user-message{
    margin-left: 12%;
    margin-top: -9%;
  }
  .bot-message-photo, .user-message-photo{
    width: 40px;
    height: 40px;
  }
  .manual-play{
    margin-left: 0%;
  }
}

@media only screen and (min-width: 800px) and (max-width: 900px){
  .bot-message{
    left: 20%;
  }
  .manual-play{
    margin-left: 0%;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1040px){
  .bot-message{
    margin-left: 10%;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
