<div class='container'>
  <div class='searchContainer'>
    <div class='searchHeader'>
      All Users ({{numberOfUsers}})
    </div>
    <!-- Filter by role -->
    <div class='searchResultsContainer'>
      <div class='filter'>
        <div> Filter by: </div>
        <div class="checkbox-line"><input type="checkbox"[(ngModel)]="students"/> Students ({{allStudents.length}})</div>
        <div class="checkbox-line"><input type="checkbox"[(ngModel)]="teachers"/> Teachers ({{allTeachers.length}})</div>
        <div class="checkbox-line"><input type="checkbox"[(ngModel)]="admins"/> Admins ({{allAdmins.length}})</div>  
      </div> 
      <!-- Search bar -->
      <div class="content" role="main">
        <div class="card">
          <div class="form-group">
            <label for="search-text">Search User</label>
            <input type="text" class="form-control" id="search-text" aria-describedby="search-text" 
              [(ngModel)]="searchText" placeholder="Enter user to search" 
              autofocus>
          </div>
        </div>
      </div>
      
      <!-- List of users -->
      Results
      <div *ngIf="!students && !teachers && !admins">
        <div class='resultCard' routerLink="../user/{{user._id}}" *ngFor="let user of userResults | appFilter: searchText" >
          <div class='resultName' appHighlight [searchedWord]="searchText" [content]="user.username" [classToApply]="'font-weight-bold'" [setTitle]="'true'">
          {{user.username}}</div>
          <div class='resultRole'>{{user.role}}</div>
        </div>
      </div>
      
      <div *ngIf="students">
        <div class='resultCard' routerLink="../user/{{user._id}}" *ngFor="let user of allStudents | appFilter: searchText">
          <div class='resultName' appHighlight [searchedWord]="searchText" [content]="user.username" [classToApply]="'font-weight-bold'" [setTitle]="'true'">
          {{user.username}}</div>
          <div class='resultRole'>{{user.role}}</div>
        </div>
      </div>
      
      <div *ngIf="teachers">
        <div class='resultCard' routerLink="../user/{{user._id}}" *ngFor="let user of allTeachers | appFilter: searchText">
          <div class='resultName' appHighlight [searchedWord]="searchText" [content]="user.username" [classToApply]="'font-weight-bold'" [setTitle]="'true'">
          {{user.username}}</div>
          <div class='resultRole'>{{user.role}}</div>
        </div>
      </div>
      
      <div *ngIf="admins">
        <div class='resultCard' routerLink="../user/{{user._id}}" *ngFor="let user of allAdmins | appFilter: searchText">
          <div class='resultName' appHighlight [searchedWord]="searchText" [content]="user.username" [classToApply]="'font-weight-bold'" [setTitle]="'true'">
          {{user.username}}</div>
          <div class='resultRole'>{{user.role}}</div>
        </div>
      </div>
    </div>
  </div>
</div>