  <!-- nav bar at the top of the page -->
  <div class="nav">
    <!-- nav -> dropdown when screen size gets small-->
    <input type="checkbox" id="nav-check" [checked]="checkVal" />
    <!-- logo -->
    <div class="nav-header">
      <!-- redirect to the landing component for login / register -->
      <div class="nav-title">
        <a routerLink="/landing">
          <img src="assets/img/logo-navbar.png" class="logo" />
        </a>
      </div>
    </div>
    <!-- Three-bar menu button when screen is small -->
    <div class="nav-btn" (click)="changeCheck()">
      <label *ngIf="!checkVal">
        <span></span>
        <span></span>
        <span></span>
      </label>
      <div *ngIf="checkVal" class="closeMenu">
        <div>
          <i class="fas fa-times closeMenuTimes"></i>
        </div>
      </div>
      <div
        *ngIf="!checkVal && notifications.length > 0"
        class="notificationBtn menuNotificationBtn"
        (click)="changeCheck()"
      ></div>
    </div>
    <!-- links on the nav bar -->
    <div class="nav-links">
      <a *ngIf="auth.isLoggedIn() && auth.getUserDetails().role === 'STUDENT'" routerLink="/student" class="navBtn" (click)="changeCheck()" >
        {{ ts.l.my_stories }}
      </a>
      <a *ngIf="auth.isLoggedIn() && auth.getUserDetails().role === 'TEACHER'" routerLink="/teacher" class="navBtn" (click)="changeCheck()" >
        {{ ts.l.my_classrooms }}
      </a>
      <a *ngIf="auth.isLoggedIn() && auth.getUserDetails().role === 'ADMIN'" routerLink="/admin" class="navBtn" (click)="changeCheck()" >
        {{ ts.l.admin_dashboard }}
      </a>
      <!-- about menu -->
      <div ngbDropdown class="d-inline-block" #myDrop1="ngbDropdown" placement="bottom" >
        <button class="btn navbarBtn" id="dropdownBasic1" ngbDropdownToggle onclick="this.blur();">
          {{ ts.l.about }}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a routerLink="/about" ngbDropdownItem (click)="changeCheck()">
            An Scéalaí
          </a>
          <a routerLink="/technology" ngbDropdownItem (click)="changeCheck()" >
            {{ ts.l.technology }}
          </a>
          <a routerLink="/user-guides" ngbDropdownItem (click)="changeCheck()" >
            {{ ts.l.user_guide }}
          </a>
          <a routerLink="/team" ngbDropdownItem (click)="changeCheck()">
            {{ ts.l.the_team }}
          </a>
          <a routerLink="/sponsors" ngbDropdownItem (click)="changeCheck()" >
            {{ ts.l.sponsors }}
          </a>
          <a routerLink="/report-an-issue" ngbDropdownItem (click)="changeCheck()" >
            {{ ts.l.report_an_issue }}
          </a>
        </div>
      </div>
      <!-- technology menu -->
      <!-- <div ngbDropdown class="d-inline-block" #myDrop2="ngbDropdown">
        <button class="btn navbarBtn" id="dropdownBasic1" ngbDropdownToggle onclick="this.blur();" >
          {{ ts.l.technology }}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button routerLink="/technology" ngbDropdownItem (click)="changeCheck()" >
            {{ ts.l.technology }}
          </button>
          <button routerLink="/about" ngbDropdownItem (click)="changeCheck()">{{ts.l.other_CALL_projects}}</button>
        </div>
      </div> -->
      <!-- LARA menu -->
      <div ngbDropdown class="d-inline-block" #myDrop3="ngbDropdown" placement="bottom" >
        <button class="btn navbarBtn" ngbDropdownToggle onclick="this.blur();">
          LARA
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a routerLink="/about-lara" ngbDropdownItem (click)="changeCheck()" >
            {{ ts.l.what_is_LARA }}
          </a>
          <a routerLink="/resources" ngbDropdownItem (click)="changeCheck()" >
            {{ ts.l.irish_stories }}
          </a>
        </div>
      </div>
      <!--Taidhgín-->
      <!-- <div ngbDropdown class="d-inline-block" #myDrop3="ngbDropdown" placement="bottom" >
        <button class="btn navbarBtn" ngbDropdownToggle onclick="this.blur();">
          Taidhgín
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button routerLink="/taidhgin" ngbDropdownItem (click)="changeCheck()" >
            {{ ts.l.taidhgin_title }}
          </button>
          <button routerLink="/create-quiz" ngbDropdownItem (click)="changeCheck()" >
            {{ ts.l.create_quiz_title }}
          </button>
          <button routerLink="/about-taidhgin" ngbDropdownItem (click)="changeCheck()" >
            {{ ts.l.what_is_taidhgin_title }}
          </button>
        </div>
      </div> -->
      <!--Prompts-->
      <div *ngIf="auth.isLoggedIn()" ngbDropdown class="d-inline-block" #myDrop3="ngbDropdown" placement="bottom">
        <button matBadge="Beta" matBadgeSize="small" matBadgePosition="before" matBadgeColor="accent" class="btn navbarBtn" ngbDropdownToggle onclick="this.blur();" >
          Cén Scéal?
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a routerLink="/prompts/general" ngbDropdownItem (click)="changeCheck()" >
            {{ ts.l.general_prompts }}
          </a>
          <a routerLink="/prompts/proverb" ngbDropdownItem (click)="changeCheck()" >
            {{ ts.l.proverb_prompts}}
          </a>
          <a routerLink="/prompts/exam" ngbDropdownItem (click)="changeCheck()" >
            {{ ts.l.exam_prompts }}
          </a>
          <a routerLink="/prompts/lara" ngbDropdownItem (click)="changeCheck()" >
            {{ ts.l.lara_prompts }}
          </a>
          <a routerLink="/prompts/combination" ngbDropdownItem (click)="changeCheck()" >
            {{ ts.l.combination_generator }}
          </a>
          <a routerLink="/prompts/pos" ngbDropdownItem (click)="changeCheck()" >
            {{ ts.l.part_of_speech_generator }}
          </a>
        </div>
      </div>
      <!--Dictgloss-->
      <div *ngIf="auth.isLoggedIn()" class="d-inline-block">
        <a class="btn navbarBtn" style="margin-bottom:3px" routerLink="/dictogloss" onclick="this.blur();" (click)="changeCheck()" >
          {{ts.l.dictogloss}}
        </a>
      </div>

      <!-- An Bat Mírialta -->
      <div class="d-inline-block">
        <a href="https://bat-mirialta.detail-design-develop.com/applications/bat-mirialta/" target="_blank" rel="noopener noreferrer" class="navBtn">An Bat Mírialta</a >
      </div>
            
      <!--ABAIR-->
      <div class="d-inline-block">
        <a href="https://www.abair.tcd.ie/" target="_blank" rel="noopener noreferrer" class="navBtn">ABAIR</a >
      </div>
      <!-- Change language dropdown and login button-->
      <div class="navBtn rightNavBtn">
        <button class="btn navbarBtn" (click)="this.toggleLanguage()" >
          {{ ts.l.other_language }}
        </button>
        <!-- sign in button -->
        <a *ngIf="!auth.isLoggedIn()" routerLink="/login" class="btn navbarBtn" (click)="changeCheck()" onclick="this.blur();" >
          {{ ts.l.sign_in }}
        </a>
        <div *ngIf="auth.isLoggedIn()" class="profileBtnContainer">
          <!-- username button -->
          <button routerLink="/profile" (click)="changeCheck()" class="btn navbarBtn" >
            {{ auth.getUserDetails()?.username }}
            <i class="fas fa-user"></i>
          </button>
          <!-- notifications circle -->
          <div class="notificationBtn" *ngIf="totalNumOfMessages > 0" (click)="showNotifications()" >
            {{ totalNumOfMessages }}
          </div>
        </div>
      </div>
    </div>
    <!-- Notifications Dropdown -->
    <div *ngIf="notificationsShown && notifications.length > 0" class="optionsPopupOld notifcationPopup" >
      <div *ngFor="let notificationEntry of notifications">
        <!-- notification type header -->
        <div *ngIf="notificationEntry.body.length > 0" class="notificationsHeader" >
          {{ notificationEntry.header }}
        </div>
        <!-- notification body -->
        <div class="notificationsBody">
          <div *ngFor="let notification of notificationEntry.body" class="notificationCard" >
            <!-- story feedback -->
            <div *ngIf="notification.title" (click)="goToStory(notification._id)" >
              {{ notification.title }}
            </div>
            <!-- student messages -->
            <div *ngIf="notification.subject" (click)="goToMessages(notification.senderId)" >
              {{ notification.subject }}
            </div>
            <!-- teacher messages -->
            <div *ngIf="notification.classroom" (click)="goToMessages(notification.classroom._id)" >
              {{ notification.classroom.title }} ({{ notification.numClassroomMessages }})
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
