<!-- HEADER -->
<div class="dictionaryHeader">
  <h5>
    {{ ts.l.grammar_checker }}
  </h5>
  <div class="closeDictionaryBtn" (click)="closeGrammarEmitter.next(true)">
    <i class="fa fa-times"></i>
  </div>
</div>

<div *ngIf="nonEmptyErrorTypes().length > 0; else noGrammarErrorsMessage" class="selectErrorCheckbox">
  <!-- GRAMMAR ERROR LIST -->
  <ng-container *ngFor="let tagType of nonEmptyErrorTypes()">
    <div *ngIf="displayTagType(tagType)" class="errorContainer" (click)="toggleLegendTag(tagType)" [attr.id]="tagType">
      <div [ngStyle]="{ 'background-color': ERROR_INFO[tagType].color }" class="circle" > </div>
      <span *ngIf="ts.l.iso_code == 'en'" [innerHtml]='" " + ERROR_INFO[tagType].nameEN'></span>
      <span *ngIf="ts.l.iso_code == 'ga'" [innerHtml]='" " + ERROR_INFO[tagType].nameGA'></span>
          <!-- Error count -->
      ({{ grammarEngine.errorStoreForLatestCheck.getType(tagType).length }})
    </div>
  </ng-container>
</div>
<ng-template #noGrammarErrorsMessage>
  <div *ngIf="grammarLoaded" class="errorContainer"> {{ts.l.no_grammar_errors}} </div>
  <div *ngIf="!grammarLoaded" class="errorContainer"> {{ts.l.checking_grammar}} </div>
</ng-template>