.grammarMessageBanner {
  padding-bottom: 20px;
}

.selectErrorCheckbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
  padding-left: 10px;
  gap: 1.5rem;
  user-select: none;
}

.errorContainer {
  margin: 2px;
}

.errorContainer:hover {
  cursor: pointer;
}

.errorColorBox {
  display: inline-flex;
  width: 30px;
  height: 15px;
}

.hideLegendItem {
  text-decoration: line-through;
  opacity: 0.5;
}

.dictionaryContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.dictionaryHeader {
  padding: 20px;
  background-color: var(--scealai-green);
  color: white;
  display: flex;
}

.closeDictionaryBtn {
  margin-left: auto;
}

.closeDictionaryBtn:hover {
  cursor: pointer;
}
