<div class="content">
    <div class="{{modalClass}} modalContainer">
      <div class="modalContent">
          <div class="modalText">Record Audio Message</div>
          <div class="recordBtnContainer">
            <button *ngIf="!recording" (click)="prepRecording()" class="headerIconBtn">Record audio</button>
            <button *ngIf="recording" (click)="stopRecording()" class="headerIconBtn">Stop Recording</button>          
            <div *ngIf="recording" class="recordingIcon"><i class="fa fa-circle"></i></div>
          </div>
          <div *ngIf="showListenBack" class="greenLinkText" (click)="playbackAudio()">Would you like to listen back to that?</div>
          <audio *ngIf="newRecording" [src]="audioSource" id="audio" controls #audioTag class="audioPlayer"></audio>
          <div *ngIf="registrationError" class="errorMessage">{{errorText}}</div>
          <div class="modalBtnContainer">
              <button class="modalBtn" (click)="hideModal()">Cancel</button>
              <button class="modalBtn createBtnGreen" (click)="saveAudio()" *ngIf="canSendAudio">Send <i class="fas fa-paper-plane"></i></button>
              <div class="inactiveBtn" *ngIf="!canSendAudio">Send <i class="fas fa-paper-plane"></i></div>
          </div>
      </div>
    </div>
    <div class="classContainer">
        <div class="classHeader">
          {{story?.title}}
        </div>
        <div class="classBody">
            
            <div class="storyTextContainer">
              <div class="storyTextHeader">Text</div>
              <div class="storyText">{{story?.text}}</div>
            </div>
            <div class="storyInfoContainer">
                <div class="storyTextHeader">Information</div>
                <div class="storyInfoBody">
                    <div class="userInfo">Title: <textarea readonly class="userInfoTextarea">{{story?.title}}</textarea></div>
                    <div class="userInfo">Author: <textarea readonly class="userInfoTextarea">{{story?.author}}</textarea></div>
                    <div class="userInfo">Creation date: <textarea readonly class="userInfoTextarea">{{story?.date}}</textarea></div>
                    <div class="userInfo">Dialect: <textarea readonly class="userInfoTextarea">{{story?.dialect}}</textarea></div>
                    <div class="feedbackContainer">
                      <div class="feedbackHeader">Feedback</div>
                      <div class="feedbackBody" *ngIf="story">
                          <textarea class="feedbackTextarea" placeholder="Leave some feedback on {{authorPossessive}} story" [(ngModel)]="story.feedback.text" (input)="feedbackSent = false"></textarea>
                        </div>
                      <div class="feedbackFooter">
                        <div class="seenByStudent" *ngIf="story">
                          <span *ngIf="story.feedback.seenByStudent">Seen by {{story?.author}} <i class="fas fa-check"></i></span>
                          <span *ngIf="!story.feedback.seenByStudent">Not seen by {{story?.author}}</span>
                        </div>
                        <div class="sendFeedbackBtn">
                          <button *ngIf="!feedbackSent" class="headerIconBtn" (click)="sendFeedback()">Send <i class="fas fa-paper-plane"></i></button>
                          <button *ngIf="feedbackSent" class="headerIconBtn">Sent <i class="fas fa-check"></i></button>
                        </div>
                      </div>
                    </div>
                    <div class="feedbackBtnContainer">
                      <div *ngIf="audioSource">
                          <audio [src]="audioSource" id="audio" controls #audioTag class="audioPlayer"></audio>
                        </div>
                      <div>
                          <button (click)="showModal()" class="headerIconBtn">Audio Message</button>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
      </div>
</div>