<div class="mainContainer">
  <div class="propmtSelectionContainer">
    <div class="headerTitle">Select Prompt Generator:</div>
    <br />
    <!-- Select Prompt Generator -->
    <mat-form-field appearance="fill">
      <mat-label>Prompt Generator</mat-label>
      <mat-select [(ngModel)]="selectedPromptGenerator">
        <mat-option value="general">General Prompts</mat-option>
        <mat-option value="proverb">Proverb Prompts</mat-option>
        <mat-option value="exam">Exam Prompts</mat-option>
        <mat-option value="lara">LARA Prompts</mat-option>
        <mat-option value="combination">Combination Prompts</mat-option>
        <mat-option value="partOfSpeech">Part-of-Speech Prompts</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <app-prompt-data-table [hidden]="!selectedPromptGenerator" [selectedPromptGenerator]="selectedPromptGenerator"></app-prompt-data-table>
</div>
