.mainContainer {
    min-height: 50vh;
    max-height: 80vh;
    padding: 20px;
}

.propmtSelectionContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.headerTitle {
    font-size: 16pt;
    padding-top: 10px;
    padding-bottom: 10px;
}