<!-- HEADER -->
<div class="storyTitleHeader" *ngIf="story">
  <!-- STORY TITLE -->
  <div class="storyTitleContainer">
    <input
      class="storyTitle"
      [ngStyle]="titleStyle()"
      size="{{ updatedTitle.length }}"
      [(ngModel)]="updatedTitle"
      (blur)="updateStoryTitle()"
      (keydown.enter)="updateStoryTitle()"
    />
    <span *ngIf="!storySaved">*</span>
    <span style="color: rgba(0, 0, 0, 0.4)" *ngIf="story?.createdWithPrompts">
      {{ ts.l.made_using_prompts }}
    </span>
  </div>

  <!-- SAVE ICON  -->
  <div class="saveIcon">
    <div *ngIf="storySaved" class="savedIcon">
      {{ ts.l.saved }} <i class="fas fa-check"></i>
    </div>
    <div *ngIf="!storySaved" class="savedIcon">
      {{ ts.l.saving }}
      <i class="fas fa-save"> </i>
    </div>
  </div>
</div>

<!-- STORY OPTIONS TOOL BAR -->
<div class="optionsBtnContainer" *ngIf="story">
  <!-- SPEECH TO TEXT-->
  <div
    class="optionsBtn optionsPopupBtn"
    (click)="dontToggle = true; speakStory()"
    [ngClass]="{ disableDiv: isTranscribing }"
  >
    {{ ts.l.speak }}
    <i *ngIf="!isRecording" class="fas fa-microphone optionsBtnIcon"></i>
    <button *ngIf="isRecording && !isTranscribing" class="notRecordingBtn blink" >
      <i class="fas fa-stop-circle"></i>
    </button>
    <!-- transcribing speech/loading animation -->
    <div *ngIf="isTranscribing"><div class="dot-flashing"></div></div>
  </div>

  <!-- DOWNLOAD -->
  <div style="display: flex" (click)="dontToggle = true">
    <button
      (click)="downloadStory()"
      style="text-decoration: none"
      class="optionsBtn optionsPopupBtn"
      target="_blank"
    >
      {{ ts.l.download }}
      <i class="fas fa-download optionsBtnIcon"></i>
    </button>
  </div>

  <!-- RECORDINGS -->
  <div
    class="optionsBtn optionsPopupBtn"
    (click)="dontToggle = true; goToRecording()"
  >
    {{ ts.l.recordings }}
    <i class="fa-solid fa-headset optionsBtnIcon"></i>
  </div>

  <!-- FEEDBACK -->
  <div
    *ngIf="hasFeedback; else requestFeedback"
    class="optionsBtn optionsPopupBtn"
    [class.optionsBtnClicked]="rightDrawerOpened && selectedDrawer == 'feedback'"
    (click)="dontToggle = true; toggleRightDrawer('feedback')"
  >
    {{ ts.l.feedback }}
    <i class="fas fa-comment-dots optionsBtnIcon"></i>
    <span class="notificationBtn" *ngIf="hasFeedback && !story.feedback.seenByStudent">1</span>
  </div>
  <ng-template #requestFeedback>
    Request Feedback
  </ng-template>

  <!-- INLINE SYNTHESIS -->
  <div
    class="optionsBtn optionsPopupBtn"
    [class.optionsBtnClicked]="synthButtons?.enabled"
    (click)="dontToggle = true"
  >
    <mat-slide-toggle
      class="listenToggle"
      (click)="synthButtons?.toggle()"
      [checked]="synthButtons?.enabled"
    >
    </mat-slide-toggle>
    <span (click)="toggleRightDrawer('synthesis')">
      {{ ts.l.listen }}
      <i class="fas fa-volume-up optionsBtnIcon"></i>
    </span>
  </div>

  <!-- GRAMMAR CHECK -->
  <div
    class="optionsBtn optionsPopupBtn"
    [class.optionsBtnClicked]="rightDrawerOpened && selectedDrawer == 'grammar'"
    (click)="dontToggle = true; toggleRightDrawer('grammar')"
  >
    {{ ts.l.grammar_checker }}
    <i class="fas fa-spell-check optionsBtnIcon"></i>
  </div>

  <!-- BAT MIRIALTA -->
  <div
    class="optionsBtn optionsPopupBtn"
    [class.optionsBtnClicked]="rightDrawerOpened && selectedDrawer == 'bat-mirialta'"
    (click)="dontToggle = true; toggleRightDrawer('bat-mirialta')"
  >
    {{ ts.l.batmirialta}}
    An Bat Mírialta
    <i class="fas fa-spell-check optionsBtnIcon"></i>
  </div>

  <!-- DICTIONARY -->
  <div
    class="optionsBtn optionsPopupBtn"
    [class.optionsBtnClicked]="rightDrawerOpened && selectedDrawer == 'dictionary'"
    (click)="dontToggle = true; toggleRightDrawer('dictionary')"
  >
    {{ ts.l.dictionary }}
    <i class="fas fa-book optionsBtnIcon"></i>
  </div>
</div>

<!-- BODY CONTAINER-->
<mat-drawer-container class="bodyContainer" autosize>
  <!-- STORY LIST DRAWER-->
  <mat-drawer #storyDrawer class="storyListDrawer" mode="side" [opened]="storiesLoaded && (!story || isFirstStory)">
    <app-story-drawer
      #storyDrawer
      (storyEmitter)="setCurrentStory($event)"
      (hasFeedback)="hasFeedback = $event"
      (titleUpdated)="updatedTitle = $event"
      (storiesLoaded)="storiesLoaded = $event"
      (isFirstStory)="isFirstStory = $event"
    ></app-story-drawer>
  </mat-drawer>

  <!-- STORY WRITING CONTAINER-->
  <div class="storyContainer">
    <div class="ql-container" #quillHeightSpan *ngIf="storiesLoaded && story; else newStoryMessage">
      <!-- STORY DRAWER BUTTON-->
      <span class="menuButton" (click)="storyDrawer.toggle()"><mat-icon style="display: inline-block">menu</mat-icon></span>
      <div class="wordCount">{{ ts.l.word_count }}: {{ wordCount }}</div>
      <!-- QUILL EDITOR AND TOOLBAR-->
      <quill-editor
        [modules]="quillToolbar"
        placeholder=""
        [preserveWhitespace]="true"
        [debounceTime]="1500"
        [(ngModel)]="story.htmlText"
        (onContentChanged)="onContentChanged($event)"
        (onEditorCreated)="onEditorCreated($event)"
        (onSelectionChanged)="getWordCountSelectedText($event)"
      ></quill-editor>
    </div>

    <!-- NO STORIES MESSAGE-->
    <ng-template #newStoryMessage>
      <div *ngIf="storiesLoaded" class="newStoryMessage">
        <i class="fas fa-arrow-left fa-3x" style="animation: pulse 2s infinite linear" ></i>
        <div>{{ ts.l.create_first_story }}</div>
      </div>
    </ng-template>
  </div>

  <mat-drawer #rightDrawer class="rightDrawer" mode="side" position="end">
    <!-- FEEDBACK -->
    <app-feedback-drawer
      *ngIf="selectedDrawer == 'feedback'"
      [story]="story"
      [hasFeedback]="hasFeedback"
      (closeFeedbackEmitter)="toggleRightDrawer('feedback')"
    >
    </app-feedback-drawer>
    <!-- SYNTHESIS SETTINGS -->
    <app-synthesis-drawer
      *ngIf="selectedDrawer == 'synthesis'"
      (closeSynthesisEmitter)="toggleRightDrawer('synthesis')"
      (selectedVoice)="synthSettings.voice= $event"
      (selectedSpeed)="synthSettings.speed= $event"
    ></app-synthesis-drawer>
    <!-- DICTIONARY -->
    <app-dictionary-drawer
      *ngIf="selectedDrawer == 'dictionary'"
      (closeDictionaryEmitter)="toggleRightDrawer('dictionary')"
    ></app-dictionary-drawer>
    <!-- GRAMMAR CHECKER -->
    <app-grammar-error-drawer
      *ngIf="selectedDrawer == 'grammar'"
      [quillHighlighter]="quillHighlighter"
      [grammarLoaded]="grammarLoaded"
      [grammarErrorsTypeDict]="grammarErrorsTypeDict"
      [grammarEngine]="grammarEngine"
      [checkBoxes]="checkBoxes"
      (closeGrammarEmitter)="toggleRightDrawer('grammar')"
    ></app-grammar-error-drawer>
    <app-bat-mirialta-drawer
        *ngIf="selectedDrawer == 'bat-mirialta'"
        (closeEmitter)="toggleRightDrawer('bat-mirialta')"
        >
    </app-bat-mirialta-drawer>
  </mat-drawer>
</mat-drawer-container>
