.bodyContainer {
    width: 100%;
    height: 80vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    background-color: blue;
  }
  
  .example-sidenav {
    padding: 50px;
  }

  .storyTitleHeader {
    display: flex;
    justify-content: center;
    margin-top: -30px;  // margin for entire page set in app.component.scss
    padding-bottom: 40px;
  }

  .storyTitle {
    margin: auto;
    overflow: auto;
    font-size: 20px;
    font-weight: bolder;
  }

  .saveIcon {
    align-self: flex-end;
    white-space: nowrap;
    color: var(--dark-text);
    border-style: none;
    font-size: 11pt;
    padding: 5px;
  }
  
  .savedIcon {
      color: var(--scealai-light-brown);
  }

  .optionsBtnContainer > * {
    height: 2rem;
  }
  
  .optionsBtnContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    --options-btn-background-color-hover : lightgray;
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .optionsBtn {
    background-color: var(--scealai-yellow);
    border-style: none;
    color: #464444;
    margin: 0px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 5px;
    background: #dfd9c800;
  }
  
  .optionsBtn:hover {
    background-color: var(--options-btn-background-color-hover);
    color: #35322f;
    cursor: pointer;
    border-radius: 2;
  }

  .optionsPopupBtn {
    margin-right: 4px;
}

.optionsBtnIcon {
  margin-left: 5px;
}

.notRecordingBtn {
    background-color: red;
    color: white;
    border-radius: 4px;
    border: none;
    margin-left: 4px;
    font-size: 10pt;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .blink {
    animation: blinker 2s linear infinite;
  }
  
  @keyframes blinker {
    0% {
      background-color:red;
    }
    50% {
      background-color:rgb(119, 0, 0);
    }
    100% {
      background-color:red;
    }
  }



// .storyContainer {
//     flex-basis: 50%;
//     background-color: green;
// }

// .storyListDrawerContainer {
//     flex-basis: 25%;
//     background-color: red;
// }

// .storyListDrawer {

// }

// .storyToolDrawer {
//     flex-basis: 25%;
//     background-color: blue;
// }