.storyTitleHeader {
    display: flex;
    justify-content: center;
    margin-top: -30px;  // margin for entire page set in app.component.scss
    padding-bottom: 20px;
  }

.storyTitle {
    margin: auto;
    overflow: auto;
    font-size: 20px;
    font-weight: bolder;
    padding-left: 20px;
    padding-right: 20px;
}

.saveIcon {
    align-self: flex-end;
    white-space: nowrap;
    color: var(--dark-text);
    border-style: none;
    font-size: 11pt;
    padding: 5px;
}

.savedIcon {
    color: var(--scealai-light-brown);
}

.optionsBtnContainer > * {
    height: 2rem;
}

.optionsBtnContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    --options-btn-background-color-hover : lightgray;
    margin-left: 2%;
    margin-right: 2%;
}
  
.optionsBtn {
    background-color: var(--scealai-yellow);
    border-style: none;
    color: #464444;
    margin: 0px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 5px;
    background: #dfd9c800;
}

.optionsBtn:hover {
    background-color: var(--options-btn-background-color-hover);
    color: #35322f;
    cursor: pointer;
    border-radius: 2;
}

.optionsPopupBtn {
    margin-right: 4px;
}

.optionsBtnIcon {
    margin-left: 5px;
}

.notRecordingBtn {
    background-color: red;
    color: white;
    border-radius: 4px;
    border: none;
    margin-left: 4px;
    font-size: 10pt;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.bodyContainer {
    width: 100%;
    height: 100%;
}

.storyListDrawer {
    padding: 40px;
}

.dictionaryDrawer {
    width: 25%;
    height: 100%;
}

.grammarErrorDrawer {
    width: 25%;
    height: 100%;
}

.grammarMessageBanner {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
  }
  
.newStoryMessage {
    font-weight: bolder;
    max-width: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 80vh;
    width: 100%;
}

.storyContainer {
    height: 100%;
}

.ql-container {
    background-color: #F8F9FA;
    height: 100%;
}

.menuButton {
    float:left;
    padding-left: 10px;
    padding-top: 5px;
    transform: scale(2);
    z-index: 100;
}

.menuButton:hover {
    cursor: pointer;
}

//<link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet"
.ql-editor {
    background-color: white;
    z-index: 1;
    margin-top: 20px;
    font-size: 14pt;
    font-family: "Times New Roman", Times, serif;
    min-height: 70vh !important;        // current way to set the height, would like to make it dynamic
    max-height: 70vh !important;
}

.blink {
    animation: blinker 2s linear infinite;
}
  
@keyframes blinker {
    0% {
        background-color:red;
    }
    50% {
        background-color:rgb(119, 0, 0);
    }
    100% {
        background-color:red;
    }
}

.dictionaryHeader {
    padding: 20px;
    background-color: var(--scealai-green);
    color: white;
    display: flex;
}

.closeDictionaryBtn {
    margin-left: auto;
}

.closeDictionaryBtn:hover {
    cursor: pointer;
}
