.container {
    width: 600px;
}

.header {
    height: 10px;
    margin-bottom: 60px;
}

@media only screen and (max-width: 700px) {
    .container {
        width: 95%;
    }
    .aboutContent {
        font-size: 10pt;
    }
    .header {
        font-size: 15pt;
    }
}