.headerTitle {
    font-size: 16pt;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
.mainContainer {
    min-height: 50vh;
    max-height: 80vh;
    padding: 20px;
}

.posFields {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.errorText {
    color: red;
    padding: 10px;
}


.viewDataBtn {
    background-color: var(--scealai-green);
    color: white;
    float: left;
    margin-left: 20px;
}
