
<div class="mainContainer">
  <div class="headerTitle" > Add Data to DB </div>
  <mat-form-field appearance="fill">
    <mat-label>Select Topic</mat-label>
    <mat-select [(ngModel)]="selectedContent">
      <mat-option value="partOfSpeech">Part of Speech Data</mat-option>
      <mat-option value="two">Story Prompt Data</mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="selectedContent == 'partOfSpeech'">
    <div class="posFields">
      <mat-form-field appearance="fill">
        <mat-label>Part of Speech</mat-label>
        <mat-select [(ngModel)]="selectedPOS">
          <mat-option value="noun">Noun</mat-option>
          <mat-option value="verb">Verb</mat-option>
        </mat-select>
      </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Word</mat-label>
        <input matInput [(ngModel)]="posWord">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Translation</mat-label>
        <input matInput [(ngModel)]="posTranslation">
      </mat-form-field>

      <div *ngIf="errorMessage" class="errorText">{{errorMessage}}</div>

      <button mat-raised-button (click)="addContent()" class="viewDataBtn">Add</button>
    </div>

      <button mat-raised-button (click)="showData = !showData" class="viewDataBtn">{{showData? 'Hide Data' : 'Show Data'}}</button>
  </div>

</div>


<div *ngIf="showData">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
  
    <!-- Position Column -->
    <ng-container matColumnDef="pos">
      <th mat-header-cell *matHeaderCellDef> Part of speech </th>
      <td mat-cell *matCellDef="let element"> {{element.partOfSpeechData?.partOfSpeech}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="word">
      <th mat-header-cell *matHeaderCellDef> Word </th>
      <td mat-cell *matCellDef="let element"> {{element.partOfSpeechData?.word}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="translation">
      <th mat-header-cell *matHeaderCellDef> Translation </th>
      <td mat-cell *matCellDef="let element"> {{element.partOfSpeechData?.translation}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Last Updated </th>
      <td mat-cell *matCellDef="let element"> {{element.lastUpdated | date: 'medium'}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
    




