dist

**/node_modules
session.vim

.DS_Store

ngapp/build_prod_local

ngapp/build_prod_local

/api/sendinblue.json

**/logs/*

ngapp/build_prod_local/

session.vim

/mongotest/logs/**
/mongotest/db/**

/api/logs/**
/api/sendinblue.json
/api/DB.js
/api/globalConfig.json

/sshlogin
/login_to_phonetics.sh
/login

/.neimhin
