dist

**/node_modules
session.vim

*key.pem

.DS_Store

ngapp/build_prod_local

ngapp/build_prod_local

/api/sendinblue.json

**/logs/*

ngapp/build_prod_local/

session.vim

/mongotest/logs/**

/data/**

/api/logs/**
/api/sendinblue.json
/api/globalConfig.json
/api/node_modules_backup_*

/sshlogin
/login_to_phonetics.sh
/login

/.neimhin
