dist

**/node_modules
session.vim

priv_key.pem
pub_key.pem

.DS_Store

ngapp/build_prod_local

/api/sendinblue.json
./api/globalConfig.json

**/logs/*

session.vim

/mongotest/logs/**

/data/**

/api/logs/**
api/globalConfig.json
/api/node_modules_backup_*

/sshlogin
/login_to_phonetics.sh
/login

/.neimhin
