.chartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  height: 200px;
  width: 400px;
}

ngb-carousel {
  width: 400px; // can we change this to work with full screen mat card? 
}

ngb-carousel:focus {
  outline: none;
}
