.bookContainer {
    padding-top: 10px;
    height: 400px;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    background: url("/assets/img/paperBg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    border-radius: 5px 5px 5px 5px;
}

.bookImg {
    z-index: -10;
    width: 90%;
    height: 500px;
    position: fixed;
    right: 5%;
}

.bookTitle {
    color: #261500;
    font-size: 15pt;
}

.titleItem {
    justify-content: center;
}

.myStoriesBtn {
    border-style: none;
    color: #261500;
    font-size: 11pt;
    padding-left: 5%;
}

.myStoriesBtn:hover {
    color: #c15a2e;
    text-decoration: none;
    cursor: pointer;
}

.saveIcon {
    color: #261500;
    border-style: none;
    font-size: 11pt;
    padding-right: 5%;
}

.backArrow {
    margin-right: 5px;
}

.bookHeader {
    display: flex;
    flex-direction: column;
}

.headerUpper {
    display: flex;
    justify-content: space-between;
}

.lowerHeader {
    width: 100%;
    display: flex;
    justify-content: center;
}

.textField {
    width: 90%;
    height: 290px;
    resize: none;
    z-index: 1;
    color: #261500;
    background: #f7f2e7;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
}

.text-highlight-element {
    margin-left: 5%;
}

.text-input-highlight-container .text-highlight-element  {
    background: #f7f2e7;
}

.bg-blue {
background-color: lightblue;
}


.closeFeedbackBtn {
    margin-left: auto;
}

.closeFeedbackBtn:hover {
    cursor: pointer;
}

.closeDictionaryBtn {
    margin-left: auto;
}

.closeDictionaryBtn:hover {
    cursor: pointer;
}

.dictionary {
  width: 90%;
  height: 190px;
}

.dictionaryContainer {
    position: absolute;
    right: -320px;
    top: 0px;
    height: 400px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    border-radius: 5px 5px 5px 5px;
}

.dictionaryIframe {
    height: 400px;
}

.saveBtn {
    font-size: 14pt;
    border-style: none;
    color: white;
    font-size: 12pt;
    margin: 0px;
    margin-right: 5%;
    margin-left: auto;
    border-radius: 5px 5px 5px 5px;
}

.audioPlayer {
    height: 30px;
    width: 90%;
    background-color: #f1f3f4;
    border: 1px solid #8c806e86;
}

.unsavedBtn {
    background-color: #e5bd3b;
}

.unsavedBtn:hover {
    background-color: #ad8f2b;
    color: white;
}

.storyContainer {
    z-index: 1;
}

.tickIcon {
    margin-left: 5px;
}

.savedBtn {
    background-color: #70a87f;
}

.footerBtnContainer {
    display: flex;
    
}

.optionsBtn {
    font-size: 14pt;
    background-color: #e5bd3b;
    border-style: none;
    color: white;
    font-size: 12pt;
    margin: 0px;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.optionsBtn:hover {
    background-color: #ad8f2b;
    color: white;
    cursor: pointer;
}

.optionsBtnClicked {
    background-color: #ad8f2b;
    color: white;
}

.optionsPopup {
    z-index: 10;
    position: fixed;
    margin-top: 25px;
    display: flex;
    padding: 4px;
    padding-right: 0px;
    background: url("/assets/img/paperBg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
-moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
border-radius: 5px 5px 5px 5px;
}

.optionsPopup:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 70px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: #f1e9d8;
	border-top: 0;
	margin-left: -10px;
    margin-top: -10px;
}

.optionsPopupBtn {
    margin-right: 4px;
}

.notificationBtn {
    margin-left: 5px;
    background-color: #bd2323;
    color: white;
    font-size: 8pt;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: inset 0px -9px 9px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px -9px 9px -14px rgba(0,0,0,0.75);
  box-shadow: inset 0px -9px 9px -14px rgba(0,0,0,0.75);
  }

.hidden {
    visibility: hidden;
}

.textFieldGrammarCheck {
    height: 160px;
}

.grammarMessageContainer {
    height: 72px;
    border: 1px solid #999999;
    background: #f7f2e7;
    width: 90%;
    margin-left: 5%;
    text-align: left;
    padding: 4px;
    padding-left: 8px;
    font-size: 10pt;
}

.grammarMessagePlaceholder {
    color: #999999;
}

.grammarToolbar {
    background-color: #70a87f;
    color: white;
    display: flex;
    width: 90%;
    margin-left: 5%;
    padding-top: 2px;
    padding-left: 5px;
}

.selectErrorCheckbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
  background-color: #70a87f;
  display: flex;
  color: white;
  width: 90%;
  margin-left: 5%;
}

.selectGrammarFilter {
    font-size: 10pt;
    margin-left: 5px;
}

.seimhiu-color {
    background-color: #00c732;
}

.uru-color {
    background-color: #4c00ff;
}

.vowel-caol-agreement-tag {
    background-color: #0077c7;
}

.vowel-leathan-agreement-tag {
    background-color: #da4c0a;
}

.default-tag {
    background-color: #bd2323;
}

.tagHover {
    opacity: 0.8;
    transition: 0.5s;
}

.tagNotHover {
    opacity: 0.4;
    transition: 0.5s;
}

.refreshGrammar:hover {
    cursor: pointer;
}

.loaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    color: #437250;
}

.textContainer {
    width: 90%;
    margin-left: 5%;
    height: 290px;
    color: #261500;
    background-color: #f7f2e7;
    border: 1px solid #999999;
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    overflow: auto;
    margin-bottom: 1vh;
}

.savedIcon {
    color: #b3a995;
}

.unsavedIcon {
    background-color: #70a87f;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 5px;
    margin-top: -5px;
    color: white;
}

.unsavedIcon:hover {
    background-color: #437250;
    cursor: pointer;
    transition: 0.5s;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.hiddenFade {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease-in;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.visibleFade {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s ease-out;
}

.modalContainer {
    position: absolute;
    margin-top: -10px;
    z-index: 100;
    height: 400px;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.modalContent {
    margin-top: 80px;
    width: 80%;
    margin-left: 10%;
    padding: 25px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: -1px 10px 17px 0px rgba(0,0,0,0.5);
-moz-box-shadow: -1px 10px 17px 0px rgba(0,0,0,0.5);
box-shadow: -1px 10px 17px 0px rgba(0,0,0,0.5);
}

.modalBtn {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #d1d1d1;
    border: none;
    border-radius: 5px;
    margin: 5px;
    margin-top: 15px;
}

.modalText {
    font-size: 14pt;
}
/*
@media only screen and (max-width: 400px) { 

    .bookTitle {
        font-size: 12pt;
    }

    .myStoriesBtn {
        font-size: 10pt;
    }

    .savedIcon {
        font-size: 10pt;
    }

}

@media only screen and (max-width: 700px) { 
    .bookImg {
        display: none;
        width: 5px;
    }
    .bookContentsContainer {
        width: 100%;
        padding-top: 10px;
        z-index: 10;
    }
    .bookContainer {
       width: 90%;
       margin-left: 5%;
    }

    .modalContainer {
        position: absolute;
        margin-top: -10px;
        z-index: 100;
        height: 400px;
        width: 90%;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
    }
    .optionsPopup {
        z-index: 10;
        margin-top: 25px;
        display: flex;
        padding-right: 0px;
        max-width: 90%;
        background: url("/assets/img/paperBg.jpg") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
        -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    border-radius: 5px 5px 5px 5px;
    }
    
    .optionsPopup:after {
        content: '';
        position: absolute;
        top: 0px;
        left: 50px;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-bottom-color: #f1e9d8;
        border-top: 0;
        margin-left: -10px;
        margin-top: -10px;
    }
    
    .optionsPopupBtn {
        padding: 5px;
        padding-top: 2px;
        margin: 0px;
        margin-right: 4px;
        font-size: 10pt;
    }
}
*/

.feedbackVisibleTextfieldAudio {
    height: 130px;
}

.feedbackVisibleTextfield {
    height: 100px;
}

.dictionaryVisibleTextfield {
  width: 90%;
  height: 280px;
  resize: none;
  z-index: 1;
  color: #261500;
  background: #f7f2e7;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
}

@media only screen and (min-width: 700px) {
    .bookImg {
        z-index: -10;
        width: 630px;
        left: 50%;
        margin-left: -315px;
    }

    .bookContainer {
        width: 490px;
        position: fixed;
        left: 50%;
        margin-left: -245px;
        margin-top: 30px;
    }

    .optionsPopupBtn {
        margin-top: 0px;
    }
    .dictionary {
      width: 90%;
      height: 100px;
    }
}
@media only screen and (max-width: 1000px) and (max-height: 750px) {
  .dictionary {
    width: 90%;
    height: 100px;
  }
}

@media only screen and (min-width: 1000px) and (min-height: 750px) {
    .bookImg {
        z-index: -10;
        width: 800px;
        height: 600px;
        left: 50%;
        margin-left: -400px;
    }

    .bookContainer {
        width: 620px;
        height: 510px;
        position: fixed;
        left: 50%;
        margin-left: -310px;
        margin-top: 30px;
    }

    .dictionaryContainer {
        height: 510px;
    }

    .dictionaryIframe {
        height: 510px;
    }

    .textField {
        height: 380px;
        margin-bottom: 10px;
    }

    .feedbackVisibleTextfield {
        height: 190px;
    }

    .feedbackVisibleTextfieldAudio {
        height: 160px;
    }

    .textFieldGrammarCheck {
        height: 240px;
    }

    .textContainer {
        height: 380px;
    }
    .modalContainer {
        height:  510px;
    }
    .dictionary {
      width: 90%;
      height: 100px;
    }
}

@media only screen and (min-width: 1400px) and (min-height: 900px) {
    .bookImg {
        z-index: -10;
        width: 1000px;
        height: 740px;
        left: 50%;
        margin-left: -500px;
    }

    .bookContainer {
        width: 800px;
        height: 600px;
        position: fixed;
        left: 50%;
        margin-left: -400px;
        margin-top: 50px;
    }

    .dictionaryContainer {
        height: 600px;
    }

    .dictionaryIframe {
        height: 600px;
    }

    .textField {
        height: 470px;
    }

    .feedbackVisibleTextfield {
        height: 275px;
    }

    .feedbackVisibleTextfieldAudio {
        height: 245px;
    }

    .textFieldGrammarCheck {
        height: 330px;
    }

    .textContainer {
        height: 470px;
    }
    .modalContainer {
        height:  600px;
    }
    .dictionary {
      width: 90%;
      height: 100px;
    }
}

@media only screen and (min-width: 1900px) and (min-height: 1000px) {
    .bookImg {
        z-index: -10;
        width: 1200px;
        height: 850px;
        left: 50%;
        margin-left: -600px;
    }

    .bookContainer {
        width: 980px;
        height: 730px;
        position: fixed;
        left: 50%;
        margin-left: -490px;
        margin-top: 50px;
    }

    .dictionaryContainer {
        height: 730px;
    }

    .dictionaryIframe {
        height: 730px;
    }

    .textField {
        height: 590px;
    }

    .feedbackVisibleTextfield {
        height: 395px;
    }

    .feedbackVisibleTextfieldAudio {
        height: 365px;
    }

    .textFieldGrammarCheck {
        height: 470px;
    }

    .textContainer {
        height: 590px;
    }
    .modalContainer {
        height:  730px;
    }
    .dictionary {
      width: 90%;
      height: 100px;
    }
}

.feedbackTextareaAudio {
    height: 100px;
}

.feedbackTextarea {
    height: 160px;
}

.feedbackHeader {
    width: 90%;
    margin-left: 5%;
    border-radius: 4px 4px 0px 0px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #70a87f;
    color: white;
    display: flex;
    align-items: column;
}

.dictionaryHeader {
    border-radius: 4px 4px 0px 0px;
    padding: 5px;
    background-color: #70a87f;
    color: white;
    display: flex;
    align-items: column;
}


.dictionarySubHeader {
    padding: 5px;
    background-color: #70a87f;
    color: white;
    display: flex;
}

.dictionaryName {
  background-color: #70a87f;
  font-size: 12px;
  color: white;
  padding-right: 5px;
  padding-top: 5px;
}

.dictionaryName:hover {
    color: #91ffa5;
    text-decoration: none;
    cursor: pointer;
}


.lds-grid {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-grid div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #437250;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 6px;
    left: 6px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 6px;
    left: 26px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 6px;
    left: 45px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 26px;
    left: 6px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 26px;
    left: 26px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 26px;
    left: 45px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 45px;
    left: 6px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 45px;
    left: 26px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 45px;
    left: 45px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }