<img src="assets/img/book.png" class="bookImg">
<div class="page">
  <div class="bookContainer">
      <div class="bookHeader">
        <a routerLink="/contents" class="myStoriesBtn">Contents</a>
        <div class="bookTitle">{{story?.title}}</div>
        <a (click)="topRightButton()" class="chatbotBtn">Taidhgín</a>
      </div>
      <div class="storyContainer">
        <div class="textFieldContainer">
            <textarea class="textField" value="{{story?.text}}" #storyInput (input)="storyEdited()"></textarea>
        </div>
        <div class="saveBtnContainer">
            <button *ngIf="storySaved" class="btn saveBtn savedBtn">
              Saved <i class="fas fa-check tickIcon"></i>
            </button>
            <button *ngIf="!storySaved" class="btn saveBtn unsavedBtn" (click)="saveStory(storyInput.value)">
                Save
            </button>
        </div>
      </div>
  </div>
</div>