.bookContainer {
    width: 70%;
    height: 62vh;
    margin-left: 15%;
    z-index: 10;
    border-radius: 5px;
    background: url("/assets/img/paperBg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
-moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
}

.page {
    padding-top: 5vh;
}

.bookImg {
    z-index: -10;
    width: 90%;
    height: 75vh;
    position: fixed;
    right: 5%;
}

.bookTitle {
    color: #261500;  
    padding-left: 5%;
    padding-right: 5%;
    display: inline-block;
    font-size: 18pt;
}

.myStoriesBtn {
    display: inline;
    float: left;
    border-style: none;
    color: #261500;
    font-size: 12pt;
    padding-top: 1.5vh;
    padding-left: 5%;
}

.myStoriesBtn:hover {
    color: #c15a2e;
    text-decoration: none;
}

.chatbotBtn {
    display: inline;
    float: right;
    color: #261500;
    border-style: none;
    font-size: 12pt;
    padding-top: 1.5vh;
    padding-right: 5%;
}

.chatbotBtn:hover {
    color: #c15a2e;
}

.bookHeader {
    text-align: center;
}

.textField {
    width: 90%;
    height: 48vh;
    resize: none;
    z-index: 1;
    color: #261500;
    background-color: #f7f2e7;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
}

.feedbackVisibleTextfieldAudio {
    height: 22vh;
}

.feedbackVisibleTextfield {
    height: 20vh;
}

.feedbackTextareaAudio {
    height: 15vh;
}

.feedbackTextarea {
    height: 23vh;
}

.feedbackHeader {
    width: 90%;
    margin-left: 5%;
    border-radius: 4px 4px 0px 0px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #70a87f;
    color: white;
    display: flex;
    align-items: column;
}

.closeFeedbackBtn {
    margin-left: auto;
}

.closeFeedbackBtn:hover {
    cursor: pointer;
}

.saveBtn {
    font-size: 14pt;
    border-style: none;
    color: white;
    font-size: 12pt;
    margin: 0px;
    margin-right: 5%;
    margin-left: auto;
    border-radius: 5px 5px 5px 5px;
}

.audioPlayer {
    height: 30px;
    width: 90%;
    background-color: #f1f3f4;
    border: 1px solid #8c806e86;
}

.unsavedBtn {
    background-color: #e5bd3b;
}

.unsavedBtn:hover {
    background-color: #ad8f2b;
    color: white;
}

.storyContainer {
    z-index: 1;
}

.tickIcon {
    margin-left: 5px;
}

.savedBtn {
    background-color: #70a87f;
}

.saveBtnContainer {
    display: flex;
    
}

.optionsBtn {
    font-size: 14pt;
    background-color: #e5bd3b;
    border-style: none;
    color: white;
    font-size: 12pt;
    margin: 0px;
    float: left;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    align-items: center;
}

.optionsBtn:hover {
    background-color: #ad8f2b;
    color: white;
}

.optionsBtnClicked {
    background-color: #ad8f2b;
    color: white;
}

.optionsPopup {
    z-index: 10;
    position: fixed;
    margin-top: 25px;
    display: flex;
    align-items: center;
    padding: 4px;
    padding-right: 0px;
    background: url("/assets/img/paperBg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
-moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
border-radius: 5px 5px 5px 5px;
}

.optionsPopup:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 70px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: #f1e9d8;
	border-top: 0;
	margin-left: -10px;
    margin-top: -10px;
}

.optionsPopupBtn {
    height: 38px;
    margin-right: 4px;
}

.notificationBtn {
    margin-left: 5px;
    background-color: #bd2323;
    color: white;
    font-size: 8pt;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: inset 0px -9px 9px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px -9px 9px -14px rgba(0,0,0,0.75);
  box-shadow: inset 0px -9px 9px -14px rgba(0,0,0,0.75);
  }

@media only screen and (min-width: 700px) {
    .bookImg {
        z-index: -10;
        width: 630px;
        left: 50%;
        top: 50%;
        margin-left: -315px;
        margin-top: -35vh;
    }

    .bookContainer {
        width: 490px;
        position: fixed;
        left: 50%;
        top: 50%;
        margin-left: -245px;
        margin-top: -30vh;
    }

}