.bookContainer {
    --bookContainerHeight: 80vh;
    --bookContainerWidth: 95%;
    --textfieldHeight: calc(var(--bookContainerHeight) - 170px);
    height: var(--bookContainerHeight);
    width: var(--bookContainerWidth);
    margin-left: 2.5%;
    background: url("/assets/img/paperBg.jpg") no-repeat center center fixed; 
    -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.4); 
    box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.4);
    border-radius: 5px 5px 5px 5px;
    border: solid 2px #827662b8;
}

.bookImg {
    z-index: -10;
    width: 90%;
    height: 500px;
    position: fixed;
    right: 5%;
}

.bookTitle {
    color: #261500;
    font-size: 18pt;
    text-align: left;
    padding: 5px;
}

.titleItem {
    justify-content: center;
}

.myStoriesBtn {
    border-style: none;
    color: #b3a995;
    font-size: 11pt;
    padding: 5px;
}

.myStoriesBtn:hover {
    /* color: #c15a2e; */
    color: #261500;
    text-decoration: none;
    cursor: pointer; 
}

.saveIcon {
    color: #261500;
    border-style: none;
    font-size: 11pt;
    padding: 5px;
}

.backArrow {
    margin-right: 5px;
}

.bookHeader {
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-bottom: 5px;
}

.headerUpper {
    display: flex;
    justify-content: space-between;
}

.lowerHeader {
    width: 100%;
    display: flex;
    justify-content: center;
}

.textField {
    width: 100%;
    height: var(--textfieldHeight);
    resize: none;
    z-index: 1;
    color: #261500;
    background: #f7f2e7;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.text-input-highlight-container .text-highlight-element  {
    background: #f7f2e7;
}

.bg-blue {
background-color: lightblue;
}


.closeFeedbackBtn {
    margin-left: auto;
}

.closeFeedbackBtn:hover {
    cursor: pointer;
}

.closeDictionaryBtn {
    margin-left: auto;
}

.closeDictionaryBtn:hover {
    cursor: pointer;
}

.dictionary {
  width: 90%;
  height: 190px;
}

.dictionaryContainer {
    position: absolute;
    right: -320px;
    top: 0px;
    height: 400px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    border-radius: 5px 5px 5px 5px;
}

.dictionaryIframe {
    height: 400px;
}

.saveBtn {
    font-size: 14pt;
    border-style: none;
    color: white;
    font-size: 12pt;
    margin: 0px;
    margin-right: 5%;
    margin-left: auto;
    border-radius: 5px 5px 5px 5px;
}

.audioPlayer {
    height: 30px;
    width: 90%;
    background-color: #f1f3f4;
    border: 1px solid #8c806e86;
}

.unsavedBtn {
    background-color: #e5bd3b;
}

.unsavedBtn:hover {
    background-color: #ad8f2b;
    color: white;
}

.storyContainer {
    z-index: 1;
    --feedbackHeight: 120px;
    --grammarMessageHeight: 80px;
}

.tickIcon {
    margin-left: 5px;
}

.savedBtn {
    background-color: #70a87f;
}

.footerBtnContainer {
    display: flex;
    
}

.optionsBtnContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.optionsBtnIcon {
  margin-left: 5px;
}

.optionsBtn {
    font-size: 14pt;
    background-color: #e5bd3b;
    border-style: none;
    color: #464444;
    font-size: 12pt;
    margin: 0px;
        margin-right: 40px;
    border-radius: 2px 2px 2px 2px;
    display: flex;
    align-items: center;
    padding: 5px;
    background: #dfd9c800;
    background-color: rgba(223, 217, 200, 0);

}

.optionsBtn:hover {
    background-color: #aeffc486;
    color: #35322f;
    cursor: pointer;
}

.optionsBtnClicked {
    background-color: #ad8f2b;
    color: white;
}

.optionsPopup {
    z-index: 10;
    position: fixed;
    margin-top: 25px;
    display: flex;
    padding: 4px;
    padding-right: 0px;
    background: url("/assets/img/paperBg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    border-radius: 5px 5px 5px 5px;
    }

.optionsPopup:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 70px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: #f1e9d8;
	border-top: 0;
	margin-left: -10px;
    margin-top: -10px;
}

.optionsPopupBtn {
    margin-right: 4px;
}

.notificationBtn {
    margin-left: 5px;
    background-color: #bd2323;
    color: white;
    font-size: 8pt;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: inset 0px -9px 9px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px -9px 9px -14px rgba(0,0,0,0.75);
  box-shadow: inset 0px -9px 9px -14px rgba(0,0,0,0.75);
  }

.hidden {
    visibility: hidden;
}

.textFieldGrammarCheck {
    height: calc(var(--textfieldHeight) - var(--grammarMessageHeight) - 90px);
}

.grammarMessageContainer {
    height: var(--grammarMessageHeight);
    border: 1px solid #999999;
    background: #f7f2e7;
    text-align: left;
    padding: 4px;
    padding-left: 8px;
    font-size: 10pt;
}

.grammarMessagePlaceholder {
    color: #999999;
}

.grammarToolbar {
    background-color: #70a87f;
    color: white;
    display: flex;
    padding-left: 20px;
    height: 30px;
    display: flex;
    align-items: center;
}

.selectErrorCheckbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
  background-color: #70a87f;
  display: flex;
  color: white;
}

.selectGrammarFilter {
    font-size: 10pt;
    margin-left: 5px;
}

.seimhiu-color {
    background-color: #00c732;
}

.uru-color {
    background-color: #4c00ff;
}

.vowel-caol-agreement-tag {
    background-color: #0077c7;
}

.vowel-leathan-agreement-tag {
    background-color: #da4c0a;
}

.default-tag {
    background-color: #bd2323;
}

.tagHover {
    opacity: 0.8;
    transition: 0.5s;
}

.tagNotHover {
    opacity: 0.4;
    transition: 0.5s;
}

.refreshGrammar:hover {
    cursor: pointer;
}

.loaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: calc(var(--textfieldHeight) / 3);
    color: #437250;
}

.textContainer {
    height: var(--textfieldHeight);
    color: #261500;
    background-color: #f7f2e7;
    border: 1px solid #999999;
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    overflow: auto;
}

.savedIcon {
    color: #b3a995;
}

.unsavedIcon {
    background-color: #70a87f;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 5px;
    margin-top: -5px;
    color: white;
}

.unsavedIcon:hover {
    background-color: #437250;
    cursor: pointer;
    transition: 0.5s;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.hiddenFade {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease-in;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.visibleFade {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s ease-out;
}

.modalContainer {
    position: absolute;
    z-index: 100;
    height: calc(var(--bookContainerHeight) - 4px);
    width: calc(var(--bookContainerWidth) - 4px);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    padding: 25px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: -1px 10px 17px 0px rgba(0,0,0,0.5);
-moz-box-shadow: -1px 10px 17px 0px rgba(0,0,0,0.5);
box-shadow: -1px 10px 17px 0px rgba(0,0,0,0.5);
}

.modalBtn {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #d1d1d1;
    border: none;
    border-radius: 5px;
    margin: 5px;
    margin-top: 15px;
}

.modalBtn:hover {
    background: #474747;
    color: white;
}

.modalText {
    font-size: 14pt;
}

.feedbackVisibleTextfieldAudio {
    height: 130px;
}

.feedbackVisibleTextfield {
    height: calc(var(--textfieldHeight) - var(--feedbackHeight) - 35px);
}

.dictionaryVisibleTextfield {
  width: 90%;
  height: 280px;
  resize: none;
  z-index: 1;
  color: #261500;
  background: #f7f2e7;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
}

.feedbackTextareaAudio {
    height: 100px;
}

.feedbackTextarea {
    height: var(--feedbackHeight);
}

.feedbackHeader {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
    background-color: #70a87f;
    color: white;
    display: flex;
    align-items: center;
}

.dictionaryHeader {
    border-radius: 4px 4px 0px 0px;
    padding: 5px;
    background-color: #70a87f;
    color: white;
    display: flex;
    align-items: column;
}


.dictionarySubHeader {
    padding: 5px;
    background-color: #70a87f;
    color: white;
    display: flex;
}

.dictionaryName {
  background-color: #70a87f;
  font-size: 12px;
  color: white;
  padding-right: 5px;
  padding-top: 5px;
}

.dictionaryName:hover {
    color: #91ffa5;
    text-decoration: none;
    cursor: pointer;
}


.lds-grid {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-grid div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #437250;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 6px;
    left: 6px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 6px;
    left: 26px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 6px;
    left: 45px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 26px;
    left: 6px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 26px;
    left: 26px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 26px;
    left: 45px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 45px;
    left: 6px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 45px;
    left: 26px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 45px;
    left: 45px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
