<div class="landingTextContainer">
    <img src="assets/img/logo-landing.png" class="landingImg">
    <p class="landingText">
      Welcome to an Scéalaí! This is the landing page.
    </p>
  </div>
  
  <button type="button" class="btn registerBtn" routerLink="/register">Register</button><br>
  <button type="button" class="btn loginBtn" routerLink="/login">Log in</button>
  
  <img src="assets/img/main01.png" class="bottomLeftImg">
  <img src="assets/img/main02.png" class="bottomRightImg">
  <img src="assets/img/main03.png" class="topRightImg">
  <div class="catContainer">
    <img src="assets/img/main04.png" class="catJumpingImg">
    <img src="assets/img/main05.png" class="catWalkingImg">
  </div>
  