<div class="landingTextContainer">
    <img src="assets/img/logo-landing.png" class="landingImg">
    <p class="landingText">
      "For the things we have to learn before we can do them, we learn by doing them."
    </p>
    <div class="landingText quoteAuthorText">-Aristotle</div>
  </div>
  
  <div class="landingBtnsContainer">
    <button type="button" class="btn teacherRegisterBtn" routerLink="/register-teacher">I am a Teacher</button><br>
    <button type="button" class="btn studentRegisterBtn" routerLink="/register">I am a Student</button>
    <div class="loginTextContainer">Already have an account? <a routerLink="/login">Login</a></div>
  </div>
  
  <img src="assets/img/main01.png" class="bottomLeftImg">
  <img src="assets/img/main02.png" class="bottomRightImg">
  <img src="assets/img/main03.png" class="topRightImg">
  <div class="catContainer">
    <img src="assets/img/main04.png" class="catJumpingImg">
    <img src="assets/img/main05.png" class="catWalkingImg">
  </div>