.landingImg {
    width: 42%;
}

.bottomLeftImg {
    width: 300px;
    height: auto;
    left: 0px;
    bottom: 40px;
    position: fixed;
    z-index: -2;
}

.bottomRightImg {
    width: 300px;
    height: auto;
    right: 0px;
    bottom: 40px;
    position: fixed;
    z-index: -2;
}

.catJumpingImg {
    width: 180px;
    height: auto;
    bottom: 80px;
    position: fixed;
    margin-left: -10%;
    z-index: -1;
    
}

.catWalkingImg {
    display: none;
    z-index: -1;
}

.catContainer {
    width: 100%;
    text-align: center;
}

.landingTextContainer {
    margin-top: -5vh;
    padding-left: 5px;
    padding-right: 5px;
}

.landingText {
    margin-bottom: -2px;
    font-family: "Optima";
    color: #261500;
}

.landingBtnsContainer {
    margin-top: 20px;
}

.teacherRegisterBtn {
    font-size: 14pt;
}

.studentRegisterBtn {
    font-size: 14pt;
    background-color: #c15a2e;
}

.studentRegisterBtn:hover {
    background-color: #843c1d;
    color: white;
}

.teacherRegisterBtn {
    margin: 10px;
    background-color: #e5bd3b;
    color: white;
}

.teacherRegisterBtn:hover {
    background-color: #ad8f2b;
    color: white;
}

.loginTextContainer {
    margin-top: 2vh;
}

.quoteAuthorText {
    position: absolute;
    right: 20%;
    z-index: -5;
}


.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background: white;
    padding: 2px;
    -webkit-box-shadow: 0px -3px 32px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px -3px 32px 10px rgba(0,0,0,0.1);
    box-shadow: 0px -3px 32px 10px rgba(0,0,0,0.1);
}

.logoImg {
    height: 40px;
}

.separator {
    width: 1px;
    opacity: 0.5;
    height: 40px;
    background-color: grey;
}

@media only screen and (max-width: 620px) {
    .catJumpingImg {
        display: none;
    }

    .catWalkingImg {
        display: none;
    }

    .topRightImg {
        display: none;
    }

    .bottomRightImg {
        display: none;
    }

    .bottomLeftImg {
        width: 55%;
    }

    .landingTextContainer {
        margin-top: -2vh;
    }

}

@media only screen and (min-width: 900px) {
    .catJumpingImg {
        display: none;
    }

    .catWalkingImg {
        width: 14%;
        height: auto;
        bottom: 4vh;
        position: fixed;
        display: block;
        margin-left: 42%;
    }

    .bottomLeftImg {
        width: 30%;
    }

    .bottomRightImg {
        width: 30%;
    }

    .topRightImg {
        display: none;
    }

    .landingImg {
        width: 350px;
    }
}