.bottomLeftImg {
    width: 300px;
    height: auto;
    left: 0px;
    bottom:0px;
    position: fixed;
}

.bottomRightImg {
    width: 300px;
    height: auto;
    right: 0px;
    bottom:0px;
    position: fixed;
}

.topRightImg {
    width: 300px;
    height: auto;
    right: 0px;
    top: 0px;
    margin-top: 50px;
    position: fixed;
}

.catImg {
    width: 180px;
    height: auto;
    bottom: 60px;
    position: fixed;
    margin-left: -10%;
    
}

.catContainer {
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 550px) {
    .catImg {
        display: none;
    }

    .topRightImg {
        display: none;
    }

    .bottomRightImg {
        display: none;
    }

}

@media only screen and (min-width: 900px) {
    .catImg {
        display: none;
    }
}