<div
  #fullHeightDiv
  [style.width]="'100%'"
  [style.x-overflow]="'visible'"
  [style.overflow]="'auto'"
  [style.max-width]="'100%'"
  [style.max-height]="fillHeight(fullHeightDiv)">
  <div
      *ngFor="
        let message of messages;
        let index = index
        "
      style="
        display: flex;
        margin: 10px;
        ">
      <dsc-listen
        *ngIf="message.src"
        [src]=message.src
        [index]=index>
        {{s}}
      </dsc-listen>
      <img
        *ngIf=message.apiRef
        style="width: 30px;"
        class="trash"
        src="assets/img/trash-solid.svg"
        (click)=removeMessage(index,message)
        />
  </div>
</div>
