<div
  #fullHeightDiv
  [style.overflow]="'scroll'"
  [style.max-height]="fillHeight(fullHeightDiv)">
  <div
      *ngFor="let message of messages; let index = index"
      style="display: flex; margin: 10px;">
      <dsc-listen
        *ngIf="message.src"
        [src]=message.src
        [index]=index>
        {{s}}
      </dsc-listen>
      <span>
        <span
          *ngIf=message.apiRef
          class="fa-trash"
          (click)=removeMessage(index,message)
          ></span>
      </span>
  </div>
</div>
