.bookContainerSynth {
    width: 70%;
    height: 400px;
    margin-left: 15%;
    z-index: 10;
    border-radius: 5px;
    background: url("/assets/img/paperBg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
}

.page {
    padding-top: 20px;
}

.bookImg {
    z-index: -10;
    width: 90%;
    height: 500px;
    position: fixed;
    right: 5%;
}

.bookTitle {
    color: #261500; 
    padding-right: 5%;
    display: inline-block;
    font-size: 18pt;
}

.storyHeader {
    background-color: #70a87f;
    color: white;
    border-radius: 4px 4px 0px 0px;
    width: 90%;
    margin-left: 5%;
}

.myStoriesBtn {
    display: inline;
    border-style: none;
    color: #261500;
    width: 100px;
    font-size: 12pt;
    padding-top: 10px;
    padding-left: 5%;
}

.myStoriesBtn:hover {
    color: #c15a2e;
    cursor: pointer;
    transition: color 0.5s;
}

.chatbotBtn {
    display: inline;
    float: right;
    color: #261500;
    border-style: none;
    font-size: 12pt;
    padding-top: 10px;
    padding-right: 5%;
}

.chatbotBtn:hover {
    color: #c15a2e;
}

.bookHeader {
    display: flex;
    justify-content: space-between;
}

.textContainerSynth {
    width: 90%;
    margin-left: 5%;
    height: 290px;
    color: #261500;
    background-color: #f7f2e7;
    border: 1px solid #261500a2;
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    overflow: auto;
}

.storyContainer {
    margin-top: 10px;
}

.playAudioBtn {
    background-color: #70a87f;
    color: white;
    border-radius: 4px;
    border: none;
    margin-left: 4px;
    font-size: 10pt;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.playAudioBtn:hover {
    background-color: #437250;
    transition: 0.5s;
}

.loaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    color: #437250;
}

.footer {
  margin-left: 5%;
  width: 90%;
  display: flex;
}

.footerText {
  display: flex;
  align-items: center;
  font-size: 12pt;
  margin-right: 5px;
}

.btnContainer {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
}

.changeSplitBtn {
  background-color: #70a87f;
  border-radius: 4px;
  margin-right: 5px;
  color: white;
}

.changeSplitBtn:hover {
  background-color: #437250;
}

.sentenceContainer {
  margin-bottom: 10px;
}

.selectedBtn {
  background-color: #437250;
}

@media only screen and (max-width: 350px) {
  .footerText {
    font-size: 10pt;
  }
  .changeSplitBtn {
    font-size: 10pt;
  }
}

@media only screen and (max-width: 300px) {
  .footerText {
    font-size: 8pt;
  }
  .changeSplitBtn {
    font-size: 8pt;
  }
}

@media only screen and (max-width: 700px) { 
  .bookImg {
      display: none;
  }
  .bookContentsContainer {
      width: 100%;
      padding-top: 10px;
      z-index: 10;
  }
  .bookContainerSynth {
     width: 90%;
     margin-left: 5%;
  }
  
}

@media only screen and (min-width: 700px) {
    .bookImg {
        z-index: -10;
        width: 630px;
        left: 50%;
        margin-left: -315px;
    }

    .bookContainerSynth {
        width: 490px;
        position: fixed;
        left: 50%;
        margin-left: -245px;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 1000px) and (min-height: 750px) {
  .bookImg {
      z-index: -10;
      width: 800px;
      height: 600px;
      left: 50%;
      margin-left: -400px;
  }

  .bookContainerSynth {
      width: 620px;
      height: 510px;
      position: fixed;
      left: 50%;
      margin-left: -310px;
      margin-top: 20px;
  }

  .textContainerSynth {
      height: 390px;
  }
}

@media only screen and (min-width: 1400px) and (min-height: 900px) {
  .bookImg {
      z-index: -10;
      width: 1000px;
      height: 740px;
      left: 50%;
      margin-left: -500px;
  }

  .bookContainerSynth {
      width: 800px;
      height: 600px;
      position: fixed;
      left: 50%;
      margin-left: -400px;
      margin-top: 30px;
  }

  .textContainerSynth {
      height: 480px;
  }
}

@media only screen and (min-width: 1900px) and (min-height: 1000px) {
  .bookImg {
      z-index: -10;
      width: 1200px;
      height: 850px;
      left: 50%;
      margin-left: -600px;
  }

  .bookContainerSynth {
      width: 980px;
      height: 730px;
      position: fixed;
      left: 50%;
      margin-left: -490px;
      margin-top: 30px;
  }

  .textContainerSynth {
      height: 610px;
  }

  .myStoriesBtn {
    width: 120px;
  }
}

/* 

Some pseudo-classes used to highlight text

*/

.paragraphContainer ::ng-deep .highlightable {
    position: relative;
}

.paragraphContainer ::ng-deep .highlightable::before {
    content: '';
    height: 22px;
    width: 0%;
    background: #0088ff6b;
    position: absolute;
    transition: var(--trans);
}

.paragraphContainer ::ng-deep .highlight::before {
    width: 100%;
}

.paragraphContainer ::ng-deep .noHighlight::before {
    right: 0;
    width: 0%;
}

.paragraphContainer ::ng-deep .wordBtn:hover {
  background: #0088ff36;
  cursor: pointer;
}

.sentenceContainer ::ng-deep .wordBtn:hover {
  background: #0088ff36;
  cursor: pointer;
}
