$corner-button-width: 10rem;
$scealai-orange: #c15a2e;

.bookContainerSynth {
    width: 70%;
    margin-left: 15%;
    z-index: 10;
    border-radius: 5px;
    background: url("/assets/img/paperBg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
}

.page {
    padding-top: 20px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.hiddenFade {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease-in;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.visibleFade {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s ease-out;
}

.modalContainer {
    position: absolute;
    margin-top: 0px;
    z-index: 100;
    height: 400px;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.modalContent {
    margin-top: 80px;
    width: 80%;
    margin-left: 10%;
    padding: 25px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: -1px 10px 17px 0px rgba(0,0,0,0.5);
-moz-box-shadow: -1px 10px 17px 0px rgba(0,0,0,0.5);
box-shadow: -1px 10px 17px 0px rgba(0,0,0,0.5);
}

.modalBtn {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #d1d1d1;
    border: none;
    border-radius: 5px;
    margin: 5px;
    margin-top: 15px;
}

.modalText {
    font-size: 14pt;
    white-space: normal;
}

.bookTitle {
  overflow: auto;
  color: #261500; 
  margin-left: 2em;
  margin-right: 2em;
  display: inline-block;
  font-size: 16pt;
}

.bookTitleHistory {
    color: #261500; 
    padding-right: 37%;
    padding-top: 3px;
    display: inline-block;
    font-size: 16pt;
}

.recordingStoryHeader {
    background-color: #70a87f;
    color: white;
    border-radius: 4px 4px 0px 0px;
    width: 90%;
    margin-left: 5%;
}

.myStoriesBtn {
  white-space: nowrap;
  display: inline;
  border-style: none;
  color: #261500;
  width: $corner-button-width;
  font-size: 12pt;
  padding-top: 10px;
}

.myStoriesBtn:hover {
    color: $scealai-orange;
    cursor: pointer;
    transition: color 0.5s;
}

.recordingBookHeader {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
}

.textContainerSynth {
    width: 90%;
    margin-left: 5%;
    height: 290px;
    color: #261500;
    background-color: #f7f2e7;
    border: 1px solid #261500a2;
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    overflow: auto;
}


.historyTextContainerSynth {
    width: 90%;
    margin-left: 5%;
    height: 360px;
    color: #261500;
    background-color: #f7f2e7;
    border: 1px solid #261500a2;
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    overflow: auto;
}

.recordingStoryContainer {
    margin-top: 10px;
}

.recordingSaveIcon {
  width: $corner-button-width;
  color: #261500;
  border-style: none;
  font-size: 11pt;
  padding-top: 15px;
}

.recordingSavedIcon {
  white-space: nowrap;
  color: #b3a995;
}

.optionsPopupRec {
  z-index: 10;
  position: absolute;
  right: 0;
  margin-top: 25px;
  display: flex;
  padding: 5px;
  padding-top: 10px;
  background: url("/assets/img/paperBg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
  box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
  border-radius: 5px 5px 5px 5px;
}

.optionsPopupRec:after {
  content: '';
  position: absolute;
  top: 0px;
  right: 60px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #f1e9d8;
  border-top: 0;
  margin-left: -10px;
  margin-top: -10px;
}

.recordingUnsavedIcon {
    background-color: #70a87f;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
    margin-top: -5px;
    color: white;
}

.recordingUnsavedIcon:hover {
    background-color: #437250;
    cursor: pointer;
    transition: 0.5s;
}

.audioPlayer {
  height: 15px;
}

.playAudioBtn {
    background-color: #70a87f;
    color: white;
    border-radius: 4px;
    border: none;
    margin-left: 4px;
    font-size: 10pt;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.playAudioBtn:hover {
    background-color: #437250;
    transition: 0.5s;
}

.loaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    color: #437250;
}

.footer {
  margin-left: 5%;
  width: 90%;
  display: flex;
}

.footerText {
  display: flex;
  align-items: center;
  font-size: 12pt;
  margin-right: 5px;
}

.btnContainer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.changeSplitBtn {
  background-color: #70a87f;
  border-radius: 4px;
  margin-right: 5px;
  font-size: 10pt;
  color: white;
}

.changeSplitBtn:hover {
  background-color: #437250;
}

.sentenceContainer {
  margin-bottom: 10px;
}

.selectedBtn {
  background-color: #437250;
}

.historyToolbar {
    background-color: #70a87f;
    color: white;
    display: flex;
    width: 90%;
    margin-left: 5%;
    padding: 5px;
}

.selectStoryFilter {
    font-size: 10pt;
    margin-left: 5px;
}

.textCard {
  background-color: white;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.22);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.22);
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.22);
}

.dividerLine {
  border-top: 1px solid #707070;
  width: 100%;
}

.recognisedSpeech {
  padding-bottom: 20px;
}

.cardFooter {
  display: flex;
}

.recordingBtn {
  background-color: #70a87f;
  color: white;
  border-radius: 4px;
  border: none;
  margin-left: 4px;
  font-size: 10pt;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.recordingBtn:hover {
  background-color: #437250;
  transition: 0.5s;
}

.notRecordingBtn {
  background-color: red;
  color: white;
  border-radius: 4px;
  border: none;
  margin-left: 4px;
  font-size: 10pt;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.trashBtn {
  background-color: rgb(190, 10, 10);
  font-size: 12pt;
  padding-top: 2px;
  padding-bottom: 2px;
}

.trashBtn:hover {
  background-color: rgb(119, 5, 5);
}

.blink {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  0% {
    background-color:red;
  }
  50% {
    background-color:rgb(119, 0, 0);
  }
  100% {
    background-color:red;
  }
}

.audioPlayer {
  width: 100%;
  height: 35px;
}

@media only screen and (max-width: 350px) {
  .footerText {
    font-size: 10pt;
  }
  .changeSplitBtn {
    font-size: 10pt;
  }
}

@media only screen and (max-width: 300px) {
  .footerText {
    font-size: 8pt;
  }
  .changeSplitBtn {
    font-size: 8pt;
  }
}

@media only screen and (max-width: 700px) { 
  .bookContentsContainer {
      width: 100%;
      padding-top: 10px;
      z-index: 10;
  }
  .bookContainerSynth {
     width: 90%;
     margin-left: 5%;
  }
  
}

@media only screen and (min-width: 700px) {
    .bookContainerSynth {
        width: 490px;
        position: fixed;
        left: 50%;
        margin-left: -245px;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 1000px) and (min-height: 750px) {
  .bookContainerSynth {
      width: 620px;
      position: fixed;
      left: 50%;
      margin-left: -310px;
      margin-top: 20px;
  }

  .modalContainer {
    width: 620px;
    height: 510px;
  }

  .textContainerSynth {
      height: 390px;
  }
}

@media only screen and (min-width: 1400px) and (min-height: 900px) {
  .bookContainerSynth {
      width: 800px;
      position: fixed;
      left: 50%;
      margin-left: -400px;
      margin-top: 30px;
  }

  .modalContainer {
    width: 800px;
    height: 600px;
  }

  .textContainerSynth {
      height: 480px;
  }
}

@media only screen and (min-width: 1900px) and (min-height: 1000px) {
  .bookContainerSynth {
      width: 980px;
      position: fixed;
      left: 50%;
      margin-left: -490px;
      margin-top: 30px;
  }

  .modalContainer {
    width: 980px;
      height: 730px;
  }

  .textContainerSynth {
      height: 610px;
  }
}

/* 

Some pseudo-classes used to highlight text

*/

.paragraphContainer ::ng-deep .highlightable {
  position: relative;
}

.paragraphContainer ::ng-deep .highlightable::before {
  content: '';
  height: 22px;
  width: 0%;
  background: #0088ff6b;
  position: absolute;
  transition: var(--trans);
}

.paragraphContainer ::ng-deep .highlight::before {
  width: 100%;
}

.paragraphContainer ::ng-deep .noHighlight::before {
  right: 0;
  width: 0%;
}

.paragraphContainer ::ng-deep .wordBtn:hover {
  background: #0088ff36;
  cursor: pointer;
}

.sentenceContainer ::ng-deep .wordBtn:hover {
  background: #0088ff36;
  cursor: pointer;
}
