$corner-button-width: 10rem;

.content {
  width: 90%;
  margin-left: 5%;
  -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.4); 
  box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.4);
  border-radius: 5px 5px 5px 5px;
  border: solid 2px #827662b8;
}

.archiveNavContainer {
  height: 70vh; 
  background-color: white;
}

.sidenav {
  padding: 20px;
  width: 20vw;
}

.archiveButton {
  display: flex;
  margin-left: 10px;
  margin-top: 20px;
  font-size: 16px;
}

.archiveButton:hover {
  cursor: pointer;
}

.contentSection:hover {
  cursor: pointer;
}

.contentsLink {
  color: var(--dark-text);
  text-align: left;
  width: 50%;
  text-decoration: none;
}

.contentsLink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.recordingStoryContainer {
  margin-top: 20px;
  height: 80%;
}

.textContainerSynth {
  -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.4); 
  box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.4);
  margin-left: 5%;
  width: 90%;
  color: var(--dark-text);
  background-color: #F8F9FA;
  text-align: left;
  overflow: auto;
  height: 100%;
}

.recordingBookHeader {
  display: flex;
  justify-content: space-between;
}

.myStoriesBtn {
  white-space: nowrap;
  display: inline;
  border-style: none;
  color: var(--dark-text);
  width: $corner-button-width;
  font-size: 12pt;
  padding-top: 10px;
}

.myStoriesBtn:hover {
    color: var(--scealai-orange);
    cursor: pointer;
    transition: color 0.5s;
}

.bookTitle {
  overflow: auto;
  color: var(--dark-text); 
  margin-left: 2em;
  margin-right: 2em;
  display: inline-block;
  font-size: 16pt;
}

.recordingSaveIcon {
  width: $corner-button-width;
  color: var(--dark-text);
  border-style: none;
  font-size: 11pt;
  padding-top: 15px;
}

.recordingSavedIcon {
  white-space: nowrap;
  color: var(--scealai-light-brown);
}

.recordingUnsavedIcon {
    background-color: var(--scealai-green);
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
    margin-top: -5px;
    color: white;
}

.recordingUnsavedIcon:hover {
    background-color: var(--scealai-med-green);
    cursor: pointer;
    transition: 0.5s;
}

.clickedresultCard {
  background-color: #eee;
  padding:10px;
  font-weight: bold;
  border-radius: 10px;
}

.textCard {
  background-color: white;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.22);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.22);
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.22);
}

.playAudioBtn {
    background-color: var(--scealai-green);
    color: white;
    border-radius: 4px;
    border: none;
    margin-left: 4px;
    font-size: 10pt;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    float:right;
}

.playAudioBtn:hover {
    background-color: var(--scealai-med-green);
    transition: 0.5s;
}

.recordingBtn {
  background-color: var(--scealai-green);
  color: white;
  border-radius: 4px;
  border: none;
  margin-left: 4px;
  font-size: 10pt;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  float: right;
}

.recordingBtn:hover {
  background-color: var(--scealai-med-green);
  transition: 0.5s;
}

.notRecordingBtn {
  background-color: red;
  color: white;
  border-radius: 4px;
  border: none;
  margin-left: 4px;
  font-size: 10pt;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  float: right;
}


.recognisedSpeech {
  color: var(--scealai-green);
  font-style: italic;
  padding-left: 5px;
}

.audioContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.audioPlayer {
  width: 25%;
  height: 35px;
}

.trashBtn {
  background-color: rgb(190, 10, 10);
  font-size: 12pt;
  padding-top: 2px;
  padding-bottom: 2px;
}

.trashBtn:hover {
  background-color: rgb(119, 5, 5);
}

.footerText {
  display: flex;
  align-items: center;
  font-size: 12pt;
  margin-right: 5px;
}

.changeSplitBtn {
  font-size: 10pt;
}

.selectedBtn {
  background-color: var(--scealai-med-green);
}


.blink {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  0% {
    background-color:red;
  }
  50% {
    background-color:rgb(119, 0, 0);
  }
  100% {
    background-color:red;
  }
}


@media only screen and (max-width: 350px) {
  .footerText {
    font-size: 10pt;
  }
  .changeSplitBtn {
    font-size: 10pt;
  }
}

@media only screen and (max-width: 300px) {
  .footerText {
    font-size: 8pt;
  }
  .changeSplitBtn {
    font-size: 8pt;
  }
}

/* 

Some pseudo-classes used to highlight text

*/

.paragraphContainer ::ng-deep .highlightable {
  position: relative;
}

.paragraphContainer ::ng-deep .highlightable::before {
  content: '';
  height: 22px;
  width: 0%;
  background: var(--scealai-light-blue);
  position: absolute;
  transition: var(--trans);
}

.paragraphContainer ::ng-deep .highlight::before {
  width: 100%;
}

.paragraphContainer ::ng-deep .noHighlight::before {
  right: 0;
  width: 0%;
}

.paragraphContainer ::ng-deep .wordBtn:hover {
  background: var(--scealai-light-blue-hover);
  cursor: pointer;
}

.sentenceContainer ::ng-deep .wordBtn:hover {
  background: var(--scealai-light-blue-hover);
  cursor: pointer;
}
