.headerTitle {
  font-size: 16pt;
  padding-top: 10px;
}

.dataOptions {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.option {
  padding-right: 5px;
  padding-top: 5px;
}

.option:hover {
    color: var(--scealai-green);
    text-decoration: none;
    cursor: pointer;
}

.content {
    width: 100%;
    padding: 3vh;
    display: flex;
    justify-content: space-around;
}

.datePicker {
  padding-top: 10px;
}

.submitButton {
    background-color: var(--scealai-green);
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
}

.submitButton:hover {
    cursor: pointer;
    background-color: var(--scealai-dark-green);
}

.loaderContainer {
    position: absolute;
    width: 90%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
  display: flex;
  flex-direction: row;
  padding: 10px;
  text-align: center;
}

.featureName {
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
}

.featureValue {
  font-size: 14pt;
  padding-left: 20px;
  text-align: center;
}
