<!-- Dislay profile and activity summary for a given user -->
<div class="content" *ngIf="user">
  <!-- User profile summary -->
  <div class="generateCodeTitle">{{ts.l.profile_summary}}: '{{user.username}}'</div>
  <div class="userInfoDisplay">
    <div class="userInfo"><b>{{ts.l.username}}:</b> <textarea readonly class="userInfoTextarea">{{user.username}}</textarea></div>
  </div>
  <div class="userInfoDisplay">
    <div class="userInfo"><b>{{ts.l.role}}:</b> <textarea readonly class="userInfoTextarea">{{user.role}}</textarea></div>
  </div>
  <!-- Main info container -->
  <div class="contentBody">
    <!-- Container to list classrooms for TEACHER -->
    <div class="teacherAccountsContainer" *ngIf="user?.role === 'TEACHER'">
      <div class="teacherAccountsDisplay">
        <div class="teacherAccountsHeader">
          {{user.username}}'<span style="margin-right: 8px;" *ngIf="user.username[user.username.length-1] !== 's'">s</span> {{ts.l.classrooms}}
        </div>
        <div class="teacherAccountsBody">
          <div class="activeTeacherCodeContainer whiteBtn" *ngFor="let classroom of classrooms" (click)="goToClassroom(classroom._id)">
            <div>{{classroom.title}}</div>
            <div class="studentCount">{{classroom.studentIds.length}}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Container to list stoires for STUDENT -->
    <div class="teacherAccountsContainer" *ngIf="user?.role === 'STUDENT'">
      <div class="teacherAccountsDisplay">
        <div class="teacherAccountsHeader">
          {{user.username}}'<span style="margin-right: 8px;" *ngIf="user?.username[user.username.length-1] !== 's'">s</span> {{ts.l.stories}}
        </div>
        <div class="teacherAccountsBody">
          <div class="activeTeacherCodeContainer whiteBtn" *ngFor="let story of stories" (click)="goToStory(story._id)">
            {{story.title}}
          </div>
        </div>
      </div>
    </div>
    <!-- Activity container -->
    <div class="teacherAccountsContainer">
      <div class="teacherAccountsDisplay">
        <div class="teacherAccountsHeader eventContainerHeader">
          <div style="width: 20px;"></div>
          <div>
          {{user.username}}'<span style="margin-right: 8px;" *ngIf="user?.username[user.username.length-1] !== 's'">s</span> {{ts.l.activity}}
          </div>
          <div *ngIf="maximised" class="maximiseIconContainer" (click)="minimiseEvents()"><i class="fas fa-minus maximiseIcon"></i></div>
          <div *ngIf="!maximised" class="maximiseIconContainer" (click)="maximiseEvents()"><i class="fas fa-plus maximiseIcon"></i></div>
        </div>
        <div class="teacherAccountsBody">
          <!-- activity cards -->
          <div class="" *ngFor="let eventArray of eventDates">
            <div class="dateTextContainer"><div class="dateLine"></div><div class="dateText">{{getFormattedDateOfInitialElementFor(eventArray)}}</div><div class="dateLine"></div></div>
            <div class="activeTeacherCodeContainer eventContainer whiteBtn" *ngFor="let event of eventArray" (click)="eventSelected[event._id]=!eventSelected[event._id]">
                <div class="eventHeader">
                    <div class="eventType">{{event.type}}</div>
                    <div class="eventTime">{{getTimeFromDate(event.date)}}</div>
                </div>
                <div class="eventBody mainEventBody" *ngIf="eventSelected[event._id]">
                  <b>{{ts.l.ISODate}}</b>{{event.date}}
                  <div *ngIf="event.storyData?._id" class="eventBody"><b>Story id</b><div class="storyLink" (click)="goToStory(event.storyData._id)">{{event.storyData._id}}<i class="fas fa-link storyLinkIcon"></i></div></div>
                  <div *ngIf="event.storyData?.text" class="eventBody"><b>Story text</b>{{event.storyData.text}}</div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
