<!-- Select the synthesis option for a story -->
<img src="assets/img/book.png" class="bookImg">
<div class="page">
  <div class="bookContainerSynth">
    <!-- back button to return to story -->
      <div class="bookHeader">
        <div (click)="goToDashboard()" class="myStoriesBtn"><i class="fa fa-chevron-left"></i> {{ts.l.story}}</div>
        <div></div>
      </div>
      <div class="storyContainer" *ngIf="story">
        <div class="storyHeader">
          {{ts.l.listen_and_correct}}
        </div>
        <div class="textFieldContainer">
          <!--Main container for story -->
            <div class="textContainerSynth">
              <!-- Display synthesising (loading) -->
              <div *ngIf="!audioFinishedLoading" class="loaderContainer">
                  <b>{{ts.l.synthesising}}</b>
                  <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
              </div>
              <!-- When synthesis finished loading -->
              <div *ngIf="audioFinishedLoading">
                <!-- loop through each paragraph of text -->
                  <div *ngFor="let p of paragraphs" class="paragraphContainer">
                    <!-- if paragraph option selected -->
                    <span *ngIf="sectionSplit==='paragraph'">
                      <span [innerHTML]="p.responseHtml" [attr.id]="'paragraph-' + p.index"></span>
                      <button *ngIf="p.audioPlaying" (click)="stopAudio(p)" class="playAudioBtn"><i class="fas fa-pause"></i></button>
                      <button *ngIf="!p.audioPlaying" (click)="playAudio(p)" class="playAudioBtn"><i class="fa fa-play"></i></button>
                    </span>
                    <!-- if sentence option selected -->
                    <span *ngIf="sectionSplit==='sentence'">
                      <!-- loop thorugh each sentence in the paragraph -->
                      <div *ngFor="let s of p.sentences" class="sentenceContainer">
                          <span [innerHTML]="s.responseHtml" [attr.id]="'sentence-' + s.index"></span>
                          <button *ngIf="s.audioPlaying" (click)="stopAudio(s)" class="playAudioBtn"><i class="fas fa-pause"></i></button>
                          <button *ngIf="!s.audioPlaying" (click)="playAudio(s)" class="playAudioBtn"><i class="fa fa-play"></i></button>
                      </div>
                    </span>
                  </div>
              </div>
            </div>
            <!-- Footer: Choose paragraph or Sentence buttons -->
            <div class="footer">
              <div class="btnContainer">
                <div class="footerText">
                  {{ts.l.listen_by}}
                </div>
                <div *ngIf="sectionSplit==='paragraph'">
                  <button class="changeSplitBtn selectedBtn">{{ts.l.paragraph}}</button>
                  <button class="changeSplitBtn" (click)="sentenceMode()">{{ts.l.sentence}}</button>
                </div>
                <div *ngIf="sectionSplit==='sentence'">
                  <button class="changeSplitBtn" (click)="paragraphMode()">{{ts.l.paragraph}}</button>
                  <button class="changeSplitBtn selectedBtn">{{ts.l.sentence}}</button>
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>