<img src="assets/img/book.png" class="bookImg">
<div class="page">
  <div class="bookContainer">
      <div class="bookHeader">
        <div (click)="goToDashboard()" class="myStoriesBtn"><i class="fa fa-chevron-left"></i> {{ts.l.story}}</div>
        <div></div>
      </div>
      <div class="storyContainer" *ngIf="story">
        <div class="storyHeader">
          {{ts.l.listen_and_correct}}
        </div>
        <div class="textFieldContainer">
            <div class="textContainer">
              <div *ngIf="!audioFinishedLoading" class="loaderContainer">
                  <b>{{ts.l.synthesising}}</b>
                  <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
              </div>
              <div *ngIf="audioFinishedLoading">
                <div *ngFor="let p of paragraphs" class="paragraphContainer">
                  <span [innerHTML]="p.responseHtml" [attr.id]="'paragraph-' + p.index"></span>
                  <button *ngIf="p.audioPlaying" (click)="stopAudio(p)" class="playAudioBtn"><i class="fas fa-pause"></i></button>
                  <button *ngIf="!p.audioPlaying" (click)="playAudio(p)" class="playAudioBtn"><i class="fa fa-play"></i></button>
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>