.flex {
  display: flex;
  align-items: center;
  vertical-align: center;
}

.height {
  height: 3rem;
}

.center {
  vertical-align: middle;
  text-align: center;
  align: center;
}

.clickable:hover {
  background-color: white;
  cursor: pointer;
}

.reload {
  font-family: Lucida Sans Unicode;
  font-size: 20px;
  height: 3rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: grey;
  vertical-align: center;
  text-align: center;
}

.reload:hover {
  color: black;
  font-weight: bold;
}

.left {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-right: dotted grey thin;
}

.right {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding-right: 1rem;
}

.b0 {
  background-color:#BBF5F0;
}
.b1 {
  background-color: #B3EDE9;
}
.b2 {
  background-color: #ACE5E2;
}
.b3 {
  background-color: #A4DDDB;
}
.b4 {
  background-color: #95CDCD;
}
