<img src="assets/img/book.png" class="bookImg">
<div class="bookContainer">
  <div class="contentsContainer">
      <a class="backBtn" routerLink="/contents">Back</a>
      <div class="bookTitle">New Story</div>
    <form>
      <div class="formGroup">
        <p class="formLabel">Title</p>
        <input type="text" class="titleInput">
      </div>
      <div class="formGroup">
        <p class="formLabel">Dialect</p>
        <select>
          <option value="connemara">Connemara</option>
          <option value="donegal">Donegal</option>
          <option value="kerry">Kerry</option>
        </select>
      </div>
      <div class="contentsBtnsContainer">
        <button class="btn createBtn" (click)="makeUUID()">Create</button>
      </div>
    </form>
  </div>
</div>
  