<div class="bookContainer">
  <div class="bookHeader">
    <div class="bookTitle">My Stories</div>
  </div>
  <div class="contentsContainer">
    <div class="contentsLinkContainer">
      <a routerLink="/dashboard" class="contentsLink">Story 1</a>
      <span class="contentsDate">01/03/2019</span>
    </div>
    <div class="contentsLinkContainer">
      <a routerLink="/dashboard" class="contentsLink">Story 2</a>
      <span class="contentsDate">01/03/2019</span>
    </div>
    <div class="contentsLinkContainer">
      <a routerLink="/dashboard" class="contentsLink">Story 3</a>
      <span class="contentsDate">01/03/2019</span>
    </div>
    <div class="contentsLinkContainer">
      <a routerLink="/dashboard" class="contentsLink">Story 4</a>
      <span class="contentsDate">01/03/2019</span>
    </div>
    <div class="contentsLinkContainer">
      <a routerLink="/dashboard" class="contentsLink">Story 5</a>
      <span class="contentsDate">01/03/2019</span>
    </div>
    <div class="contentsLinkContainer">
      <a routerLink="/dashboard" class="contentsLink">Story 6</a>
      <span class="contentsDate">01/03/2019</span>
    </div>
  </div>
</div>
