<div class="container">
  <div class="header">
    {{ ts.l.digital_reader }}
  </div>
  <!--<div class="aboutContent">
    <p style="text-align: center;">This is where the stories will be displayed/can be generated (I think)</p>
    <p style="text-align: center;">List of stories in the db :</p>
    <p style="text-align: center;">(will be filtered based in public/private/who created it)</p>
  </div>-->
  <div style="display: flex;">
    <!--<div style="margin: 0 auto; width: 50%;">
      <table>
        <tr style="margin: 0 auto; width: 25%;text-align: center;">
          <th>Story ID</th>
          <th>Story name</th>
        </tr>
      </table>
    </div>-->
    
    <!--<app-story-drawer></app-story-drawer>-->

    <!--Upload docx interaction-->
    <div style="margin: auto; width: 40%; display: flex;">
      <div style="width: 35%; margin: auto 0 auto 0;">
        <input type="file" id="file"
        (change)="processUploadedFile($event.target.files)"
        [disabled]="storyState=='processing'">
        <label for="file" class="viewStoryBtn"> Upload a .docx file </label>
      </div>

      <!--<div style="margin: auto; width: 50%;">-->
        <div *ngIf="this.docxFile" style="margin: auto; width: 65%; padding:0 10%;">
          <div>File uploaded : </div>
          <div>{{ this.docxFile.name }}</div>
        </div>
      <!--</div>-->
    </div>

    <!--Process docx interaction-->
    <div style="margin: auto; width: 60%; display: flex;">
      <div style="width: 50%; margin: auto 0 auto 0;">
        <button class="viewStoryBtn"
        (click)="createNewStory()"
        [disabled]="!this.docxFile || storyState=='processing' || storyState=='converting'"
        >Create Digital Reader story from uploaded file</button>
      </div>

      <!-- Processing ICON  -->
      <div *ngIf="storyState!=''" class="processIcon" style="margin: auto; width: 50%; padding:0 10%;">
        <div *ngIf="storyState=='processed'" class="processedIcon">
          {{ ts.l.uploaded }} <i class="fas fa-check"></i> <br><br>
          <div>
            View story in story viewer [Unimplemented]
          </div> <br>
          <div>
            Go to story library [Unimplemented]
          </div> <br>
        </div>
        <div *ngIf="storyState=='processing'" class="processedIcon">
          {{ ts.l.processing }}
          <i class="fas fa-save"> </i>
        </div>
        <div *ngIf="storyState=='converting'" class="processedIcon">
          converting
          <i class="fas fa-save"> </i>
        </div>
        <div *ngIf="storyState=='converted'" class="processedIcon">
          converted
          <i class="fas fa-check"></i>
        </div>
      </div>
    </div>

    <!--Create story interaction-->
    <!--<div style="margin: auto; width: 33%;">
      <button class="viewStoryBtn"
      (click)="createNewStory()"
      [disabled]="!this.convertedHTMLDoc"
      >*Test* Create Story</button>-->
      
      <!--<div class="viewStoryBtn">
        Create a new story
      </div>-->
      <!--<mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'50px'" [expandedHeight]="'50px'">
          <mat-panel-description class="panelDescription">
            Create a new story
          </mat-panel-description>
        </mat-expansion-panel-header>-->
          <!--<span class="panelContent">
            <span> rud ar bith </span>
          </span>-->
        <!--<mat-action-row class="storyCreationActionRow">-->
          <!--<div class=>-->
            <!--<div class="viewStory dialectChoice" style="font-weight:bold;">Select the dialect voices to synthesise:</div> <br>
            <div class="dialectContainer">
              <mat-checkbox><div class="viewStoryBtn">{{ts.l.munster}}</div></mat-checkbox>
              <mat-checkbox><div class="viewStoryBtn">{{ts.l.connacht}}</div></mat-checkbox>
              <mat-checkbox><div class="viewStoryBtn">{{ts.l.ulster}}</div></mat-checkbox>
            </div> <br>-->
          <!--</div>-->
          
          <!--<div>
            <button class="viewStoryBtn"
            (click)="convertDocxToHTML()"
            [disabled]="!this.docxFile"
            >*Test* Convert the docx to html</button> <br> <br>
            <button class="viewStoryBtn"
            (click)="createNewStory()"
            [disabled]="!this.convertedHTMLDoc"
            >*Test* Create Story</button>
          </div>-->
        <!--</mat-action-row>
      </mat-expansion-panel>-->
    <!--</div>-->
  </div>
</div>

<div *ngIf="drStoryService.segmentedSentences">
  <div><span>{{ this.ts.l.confirm_sentences }} </span><button
    (click)="confirmSentencesAndStoreStory()"
    class="acceptSentencesBtn"
    [disabled]="storyState==='processing'">{{ this.ts.l.confirmation }}</button></div><!--<br>-->
  <hr>
  <div class="sentContainer">
    <div
    *ngFor="let sent of drStoryService.segmentedSentences; index as i"
    [attr.sentNumber]="i+1">
      <button class="sentenceMerger" tabindex="-1"
      (click)="mergeSentences($event.target)">▲ merge ▼</button><br>
      <!--<span [hidden]="(sent.text.match('/\./g') || []).length < 2" >test highlighting</span>-->
      <b>{{ i+1 }}  </b><span
      class="sentencePreview"
      
      contenteditable="plaintext-only"
      (beforeinput)="splitSentence($event)"
      (input)="test()"
      spellcheck="false"
      
      >{{sent.text}}</span>
    </div>
  </div>
  <br>
</div>

<!-- Footer containing logos -->
<div class="footerLARA">
  <div class="footerLogos">
    <div class="copyright"> {{ts.l.published_courtesy_of}} </div>
    <div class="logoPadding"><img class="logoImg" src="assets/img/logo_an_gum.png"></div>
    <div class="logoPadding"><img class="logoImg" src="assets/img/logo_foras_na_gaeilge.png"></div>
  </div>
</div>