.loginBtn {
    background-color: var(--scealai-yellow);
}

.loginBtn:hover {
    background-color: var(--scealai-yellow-hover);
}

.inputField {
    width: 80%;
    margin-left: 10%;
}

.registerContainer {
    background-color: var(--scealai-yellow);
}

.formLabel {
    text-align: left;
    margin-left: 10%;
}

.errorMessage {
    margin-left: 10%;
    width: 80%;
}


.languageButtonContainer {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
}

.languageButton {
    background-color: var(--scealai-green);
    color: white;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 4px;
    margin: 4px;
}

.languageButton:hover { 
    cursor: pointer;
    background-color: var(--scealai-med-green);
}

.languageButtonSelected {
    background-color: var(--scealai-med-green);
}

.termsOfUseContainer {
    font-size: 10pt;
    width: 100%;
}

.termsOfUseButton {
    width: 80%;
    margin-left: 10%;
    color: var(--scealai-med-green);
}

.termsOfUseButton:hover {
    text-decoration: underline;
    cursor: pointer;
}

.termsOfUseText {
    border: 1px solid rgb(155, 155, 155);
    border-radius: 4px;
    padding: 4px;
    width: 90%;
    margin-left: 5%;
    text-align: left;
    color: rgb(97, 97, 97);
}

.usernameInputRed {
    border: 1px solid red;
    background: rgba(255, 0, 0, 0.123);
}

@media only screen and (max-width: 700px) {
    .registerContainer {
        width: 90%;
    }
    .formContainer {
        width: 100%;
    }
}