.container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.storyEntry {
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.storyEntry:hover {
    cursor: pointer;
}

