<mat-tab-group mat-stretch-tabs>
    <mat-tab label="{{ts.l.my_quiz_s}}">
        <table mat-table [dataSource]="userQuizzes" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> {{ts.l.title}} </th>
            <td mat-cell *matCellDef="let quiz"> {{quiz.title}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> {{ts.l.date}} </th>
            <td mat-cell *matCellDef="let quiz"> {{quiz.date}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="numOfQuestions">
            <th mat-header-cell *matHeaderCellDef> No. Questions </th>
            <td mat-cell *matCellDef="let quiz"> {{quiz.numOfQuestions}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="tableEntry"></tr>
        </table>
    </mat-tab>
    <mat-tab *ngIf="data.role == 'STUDENT'" label="{{ts.l.my_teachquiz}}">
        <table mat-table [dataSource]="classroomQuizzes" class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> {{ts.l.title}} </th>
                <td mat-cell *matCellDef="let quiz"> {{quiz.title}} </td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> {{ts.l.date}} </th>
                <td mat-cell *matCellDef="let quiz"> {{quiz.date}} </td>
            </ng-container>
    
            <!-- Weight Column -->
            <ng-container matColumnDef="numOfQuestions">
                <th mat-header-cell *matHeaderCellDef> No. Questions </th>
                <td mat-cell *matCellDef="let quiz"> {{quiz.numOfQuestions}} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="tableEntry"></tr>
            </table>
    </mat-tab>
    <mat-tab label="{{ts.l.t_community_quiz}}">Community Quizzes</mat-tab>
</mat-tab-group>


