.container {
    width: 600px;
    background-color: white;
    border-radius: 4px;
    padding-top: 20px;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
}

.header {
    width: 100%;
    font-size: 20pt;
    height: 40px;
}

.content {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.section {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
}

.siteLink {
    margin-left: 5px;
    color: var(--scealai-green);
    text-decoration: underline;
}


@media only screen and (max-width: 700px) {
    .container {
        width: 95%;
    }
    .content {
        font-size: 10pt;
    }
    .header {
        font-size: 15pt;
    }
}