<div
    style="width: 100% - 40px; margin: 10px; background-color: #14ff004a; border: 2px;"
    [hidden]="hideEntireSynthesisPlayer"
    class=synth>
  <div>
    <h1>Listen back to your story</h1>
    <p>(High Quality)</p>
  </div>
  <hr>
  <div class=header>
    <div class=reload (click)="refresh();">&#8635;</div>
    <div class=fast-synth (click)="goToFastSynthesiser()">
      go to fast synthesiser
    </div>
  </div>
  <hr>
  <div
      #audioElements
      *ngFor="let line of lines; let i = index;"
      class="flex-container"
      (click)="playAudio(i)">
    <app-synth-item
      [dialect]="dialect"
      [raw_text]="line"
      class={{alternateColors(i)}}></app-synth-item>
  <div>
</div>
