.synth {
  display: grid;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
}

.synth .reload {
  font-family: Lucida Sans Unicode;
  font-size: 20px;
  justify-self: left;
  width: 1em;
  height: 2rem;
  padding: 0px;
  margin: 0px;
  color: grey;
  cursor: pointer;
}

.synth .reload:hover {
  background-color: #8fcaff;
  color: black;
  border-radius: 2px;
}

.synth .fast-synth {
  justify-self: right;
  padding: 3px;
  color: grey;
  cursor: pointer;
}

.synth .fast-synth:hover {
  background-color: #8fcaff;
  color: black;
  border-radius: 2px;
}
