<!-- Select the synthesis option for a story -->
<img src="assets/img/book.png" class="bookImg">
<div class="page">
  <div class="bookContainerSynth">
    <!-- back button to return to story and save button to send recordings to db-->
      <div class="recordingBookHeader" *ngIf="story">
        <div [routerLink]="['/recording-history', story.id]" class="myStoriesBtn"><i class="fa fa-chevron-left"></i> History </div> 
        <div></div>
        <div [ngClass]="recordingMode ? 'bookTitle': 'bookTitleHistory'">{{story?.title}}<span *ngIf="!recordingSaved">*</span></div>
        <div *ngIf="recordingMode" class="recordingSaveIcon">
          <div *ngIf="recordingSaved" class="recordingSavedIcon">
            {{ts.l.saved}} <i class="fas fa-check"></i>
          </div>
          <div *ngIf="!recordingSaved" class="recordingUnsavedIcon" (click)="saveRecordings()">
            {{ts.l.save}} <i class="fas fa-save"></i>
          </div>
        </div>
      </div>
      <div class="recordingStoryContainer" *ngIf="story">
        <div class="recordingStoryHeader">
          Listen and compare
        </div>
        <div class="textFieldContainer">
          <!--Main container for story -->
            <div class="textContainerSynth">
              <!-- Display synthesising (loading) -->
              <div *ngIf="!audioFinishedLoading || !recordingsFinishedLoading" class="loaderContainer">
                  <b>{{ts.l.synthesising}}</b>
                  <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
              </div>
              <!-- When synthesis finished loading -->
              <div *ngIf="audioFinishedLoading && recordingsFinishedLoading">
                <!-- loop through each paragraph of text -->
                  <div *ngFor="let p of paragraphs" class="paragraphContainer">
                    <!-- if paragraph option selected -->
                    <span *ngIf="sectionSplit==='paragraph'">
                      <!-- play / pause synthesiser -->
                      <div class="textCard">
                        <div class="cardBody">
                          <span [innerHTML]="p.responseHtml" [attr.id]="'paragraph-' + p.index"></span>
                          <button *ngIf="p.audioPlaying" (click)="stopAudio(p)" class="playAudioBtn"><i class="fas fa-pause"></i></button>
                          <button *ngIf="!p.audioPlaying" (click)="playAudio(p)" class="playAudioBtn"><i class="fa fa-play"></i></button>
                        </div>
                        <hr class="dividerLine" *ngIf="paragraphToAudioSource[p.index]">
                        <!-- Audio player -->
                        <div class="cardFooter" *ngIf="paragraphToAudioSource[p.index]">
                          <!-- play / pause student recorded audio -->
                          <audio *ngIf="paragraphToAudioSource[p.index]" [src]="paragraphToAudioSource[p.index]" controls #audioTag class="audioPlayer"></audio>
                          <div *ngIf="registrationError" class="errorMessage">{{errorText}}</div> 
                        </div>
                      </div>
                    </span>
                    <!-- if sentence option selected -->
                    <span *ngIf="sectionSplit==='sentence'">
                      <!-- loop thorugh each sentence in the paragraph -->
                      <div *ngFor="let s of p.sentences" class="sentenceContainer">
                        <!-- play / pause synthesiser -->
                        <div class="textCard">
                          <div class="cardBody">
                            <span [innerHTML]="s.responseHtml" [attr.id]="'sentence-' + s.index"></span>
                            <button *ngIf="s.audioPlaying" (click)="stopAudio(s)" class="playAudioBtn"><i class="fas fa-pause"></i></button>
                            <button *ngIf="!s.audioPlaying" (click)="playAudio(s)" class="playAudioBtn"><i class="fa fa-play"></i></button>
                          </div>
                      
                          <hr class="dividerLine" *ngIf="sentenceToAudioSource[s.index]">
                          <!-- Audio player -->
                          <div class="cardFooter" *ngIf="sentenceToAudioSource[s.index]">
                            <!-- play / pause student audio -->
                            <audio *ngIf="sentenceToAudioSource[s.index]" [src]="sentenceToAudioSource[s.index]" controls #audioTag class="audioPlayer"></audio>
                            <div *ngIf="registrationError" class="errorMessage">{{errorText}}</div>          
                          </div>
                        </div>
                      </div>
                    </span>
                  </div>
              </div>
            </div>
            <!-- Choose paragraph or Sentence buttons -->
            <div *ngIf="audioFinishedLoading" class="footer">
              <div class="btnContainer">
                <div class="footerText">
                  {{ts.l.listen_by}}
                </div>
                <div *ngIf="sectionSplit==='paragraph'">
                  <button class="changeSplitBtn selectedBtn">{{ts.l.paragraph}}</button>
                  <button class="changeSplitBtn" (click)="sentenceMode()">{{ts.l.sentence}}</button>
                </div>
                <div *ngIf="sectionSplit==='sentence'">
                  <button class="changeSplitBtn" (click)="paragraphMode()">{{ts.l.paragraph}}</button>
                  <button class="changeSplitBtn selectedBtn">{{ts.l.sentence}}</button>
                </div>
                <div *ngIf="recordingMode" style="padding-left: 40px">
                  <button *ngIf="needsUpdating" class="changeSplitBtn" (click)="showModal()"> Update Story </button>
                  <button *ngIf="recordingHistory && recordingHistory.length > 0" class="changeSplitBtn" (click)="switchToHistoryMode()"> View History </button> 
                </div>
                <div *ngIf="historyMode" style="padding-left: 40px">
                  <button class="changeSplitBtn" (click)="switchToRecordMode()"> Record Story </button>
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>