.container {
    padding-bottom: 20px;
    text-align: left;
}

.header {
    margin-top: 20px;
    text-align: center;
}

.textBlock {
    padding: 20px;
}

.smallTextBlock {
    padding: 10px;
}

.logoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logoImg {
    height: 80px;
    margin: 10px;
}

.sponsorCard {
    display: flex;
    flex-direction: column;
}

.cardBody {
    display: flex;
    align-items: center;
}

.cardLeft {
    width: 60%;
    margin-right: 5%;
}

.cardRight {
    width: 35%;
}

.logoCardImg {
    width: 100%;
}

.testimonialFooter {
    width: 100%;
    text-align: right;
}