<div class="container">
  <div class="header">
    {{ts.l.resources}}
  </div>
  <div class="content">
    <div class="headerTitle">Examples - LARA Stories</div><br>
    <div><b> Mar a Baisteadh Fionn </b></div>
    <a href="https://www.abair.tcd.ie/lara/mar_a_baisteadh_fionnvocabpages/_hyperlinked_text_.html" target="_blank" rel="noopener noreferrer">
      <img src="assets/img/fionn01_colors.jpg" class="storyImg" alt="Mar a Baisteadh Fionn">
    </a>
    <br>
    <br>
    <div><b> Balor </b></div>
    <a href="https://www.abair.tcd.ie/lara/balor2vocabpages/_hyperlinked_text_.html" target="_blank" rel="noopener noreferrer">
      <img src="assets/img/1_balor.png" class="storyImg" alt="Balor">
    </a>
    <br>
    <br>
    <div> <a href="https://www.abair.tcd.ie/lara/fairceallach_fhinn_mhic_cumhaill_noposvocabpages/_hyperlinked_text_.html" target="_blank" rel="noopener noreferrer"> Fairceallach Fhinn Mhic Cumhaill</a></div>
  </div>
</div>