.container {
    width: 900px;
    background-color: white;
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
}

.header {
    width: 100%;
    font-size: 20pt;
    height: 50px;
    margin-bottom: 10px;
}

.author {
    font-style: normal;
}

.content {
    text-align: left;
}

.headerTitle {
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}

.dialectTitle {
    font-size: 15pt;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 30px;
}

.storyBlock {
  padding-left: 20px;
  padding-bottom: 20px;
}

.story {
  padding-bottom: 20px;
  padding-left: 30px;
}

.storyImg {
  width: 300px;
  height: 200px;
  padding: 5px;
}

.panelDescription {
  font-size : 15pt;
  font-weight: bold;
  padding-top: 70px;
}

.viewStoryBtn {
    padding: 7px;
    background-color: #70a87f;
    color: white;
    border-radius: 4px;
}

.viewStoryBtn:hover {
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .container {
        width: 95%;
    }
    .content {
        font-size: 10pt;
    }
    .header {
        font-size: 15pt;
    }
}