<!--Component for sending messages to students -->
<div class="contents">
  <div class="classContainer">
  
    <!-- Nav bar -->
    <div class="classHeader">
      <div class="backArrow" (click)="goBack()"><i class="fas fa-arrow-left"></i></div> {{ts.l.messages}} ({{totalNumberOfMessages}})
      <div class="headerIconContainer">
        <div *ngIf="!createNewMessage" class="btn deleteBtn"><i class="fa fa-redo-alt refreshNotifications" (click)="resetMessages()"></i></div>
        <button *ngIf="!createNewMessage" class="btn deleteBtn" [class.deleteModeBtn]="deleteMode" (click)="toggleDeleteMode()"><i class="fas fa-trash-alt headerIcon"></i></button>
        <div *ngIf="!createNewMessage" class="headerIconBtn" (click)="createNewMessage = true; audioSource = null; chunks = [];"> {{ts.l.new_message}} <i class="fas fa-plus"></i></div>
      </div>
    </div>
     

    <!-- View messages -->
    <div class="messagesContainer" *ngIf="!createNewMessage">
      <div class="messagesContainerHeader"> <div>{{ts.l.from}}</div> <div> {{ts.l.subject}} </div> <div> {{ts.l.date}} </div> </div>
      <div *ngIf="receivedMessages.length > 0" class="messageList">
        <div class="resultCard" *ngFor="let message of receivedMessages" (click)="showMessageBody(message);" [attr.id]="'message-' + message.id"> 
        <!--  <div class="messageEntries"> -->
            <div class="dotNewMessage">
              <input type="checkbox" class="deleteCheckbox" *ngIf="deleteMode" (click)="toggleDelete(message.id)">
              <div *ngIf="!message.seenByRecipient"><i class='fas fa-circle' style='font-size:10px;color:#70a87f;padding-right:5px'></i></div>
              <div class="sender"> {{message.senderUsername}} </div>
            </div>
            <div class="subject">{{message.subject}} </div>
            <div *ngIf="!isFromAmerica" class="date">{{message.date | date:'dd/MM/yyyy h:mm aa' }} </div>
            <div *ngIf="isFromAmerica" class="date">{{message.date | date:'MM/dd/yyyy h:mm aa' }} </div> 
        <!--  </div> -->
        </div>
      </div>
      <div *ngIf="receivedMessages.length == 0" class="messageList"> {{ts.l.no_messages}}
      </div>
      <div class="messageReadContents">
        <div class="readMessageBody" [innerHtml]="messageContent"></div>
        <div *ngIf="showAudio">
          <audio [src]="audioSource" id="audio" controls #audioTag class="audioPlayer"></audio>
        </div>
      </div>
    </div>
    
    <!-- Write new message container -->
    <form #messageForm="ngForm" (ngSubmit)="sendMessage(); messageForm.reset();" class="newMessageContainer" *ngIf="createNewMessage" ngNativeValidate>
      
      <!-- Record audio message container (fades in/out depending on class) -->
         <div class="{{modalClass}} modalContainer">
           <div class="modalContent">
               <div class="modalText">{{ts.l.record_audio_message}}</div>
               <!-- Start/stop recording audio or go back -->
               <div class="recordBtnContainer">
                 <button *ngIf="!recording" type="button" (click)="prepRecording()" class="headerIconBtn">{{ts.l.record_audio}}</button>
                 <button *ngIf="recording" (click)="stopRecording()" class="headerIconBtn">{{ts.l.stop_recording}}</button>          
                 <div *ngIf="recording" class="recordingIcon"><i class="fa fa-circle"></i></div>
               </div>
               <!-- Listen back to message -->
               <div *ngIf="showListenBack" class="greenLinkText" (click)="playbackAudio()">{{ts.l.would_you_like_to_listen_back}}</div>
               <audio *ngIf="newRecording" [src]="audioSource" id="audio" controls #audioTag class="audioPlayer"></audio>
               <div *ngIf="registrationError" class="errorMessage">{{errorText}}</div>
               <!-- Cancel or send audio -->
               <div class="modalBtnContainer">
                   <button type="button" class="modalBtn" (click)="hideModal();">{{ts.l.cancel}}</button>
                   <button type="button" class="modalBtn createBtnGreen" (click)="playbackAudio(); saveAudio(); hideModal();" *ngIf="canSendAudio"> {{ts.l.add_to_message}} </button>
               </div>
           </div>
         </div>
      
    <!-- new message -->
      <div class="messageContents">
          <!-- recipient field -->
          <div class="sendTo">
            <label> {{ts.l.send_to}} </label>
            <select *ngIf="isTeacher" name="recipient" class="selectOptions" [(ngModel)]="message.recipientId" required>
              <option [ngValue]="classroom._id"> {{ts.l.all_class_members}} </option>
              <option *ngFor="let student of students" [ngValue]="student._id"> {{student.username}} </option>
            </select>
            
            <div *ngIf="isStudent" class="studentSendTo">
              <div> {{teacherName}} </div>
            </div>
          </div>
          <!-- subject field -->
          <div class="subjectNewMessage">
            <label > {{ts.l.subject}} </label>
            <input class="subjectNewMessage" type="text" name="subject" id="subject" [(ngModel)]="message.subject" required>
          </div>
          <!-- message body -->
          <div class="newMessageBody">
            <!--<quill-editor class="textFieldNewMessage" placeholder="" name="text" [modules]="config" [(ngModel)]="message.text" (input)="messageSent = false" required> </quill-editor> -->
            <textarea class="textFieldNewMessage" name="text" value="{{messageText}}" [(ngModel)]="message.text" (input)="messageSent = false" required></textarea>
          </div>
          <!-- buttons -->
          <div class="bottomButtons">
            <div class="">
                <button class="headerIconBtn" (click)="messageForm.reset(); resetForm();"> {{ts.l.cancel}} </button>
            </div>
            <!-- audio message player -->
            <div class="audioReplay">
              <div *ngIf="audioSource">
                <audio [src]="audioSource" id="audio" controls #audioTag class="audioPlayer"></audio>
              </div>
              <div>
                  <button type="button" (click)="showModal()" class="headerIconBtn">{{ts.l.audio_message}}</button>
              </div>
            </div>
            <!-- send button -->
            <div>
              <button *ngIf="!messageSent" class="headerIconBtn" type="submit">{{ts.l.send}} <i class="fas fa-paper-plane"></i></button>
              <button *ngIf="messageSent" class="headerIconBtn">{{ts.l.sent}} <i class="fas fa-check"></i></button>
            </div>
          </div> 
      </div>  
    </form>
  </div>
</div>