.loginBtn {
    background-color: #cc670a;
}

.loginBtn:hover {
    background-color: #af5503;
}

.inputField {
    width: 80%;
    margin-left: 10%;
}

.formContainer {
    width: 400px;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 25px;
    color: #261500;
    background-color: #e6e8ed;
    border-radius: 0px 0px 10px 10px;
}

.formTitle {
    margin-bottom: -20px;
    margin-top: 5px;
    font-size: 18pt;
}

.registerContainer {
    width: 400px;
    display: inline-block;
    background-color: #cc670a;
    color: white;
    border-radius: 10px;

    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
-moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
}

.formLabel {
    text-align: left;
    margin-left: 10%;
}

@media only screen and (max-width: 700px) {
    .registerContainer {
        width: 90%;
    }
    .formContainer {
        width: 100%;
    }
}