<div class="registerContainer">
    <div class="formTitle">{{ts.l.sign_in}}</div><br>
    <div class="formContainer">
      <!-- Popup for forgetting password -->
      <div *ngIf="forgotPassword" class="{{modalClass}} modalContainer">
          <div class="modalContent">
              <pre class="modalText">Please input your username and email, and we will send you an email with a new password.</pre><br>
              <div class="forgotPasswordInput">
                <div class="modalText"> {{ts.l.username}}: <input type="text" placeholder={{ts.l.enter_username}} name="username" [(ngModel)]="usernameForgotPassword"></div>
                <div class="modalText"> Email: <input type="text" placeholder="Enter email" name="email" [(ngModel)]="emailForgotPassword"></div>
              </div>
              <div class="usernameErrorText"> {{errorMessage}} </div>
              <div>
                  <button class="modalBtn createBtnGreen" (click)="sendNewPassword()">{{ts.l.send}}</button>
                  <button class="modalBtn createBtnGreen" (click)="hideModal()">{{ts.l.cancel}}</button>
              </div>
          </div>
      </div>
      <form (submit)="login()">
        <div class="form-group">
          <div class="formLabel"><label>{{ts.l.username}}</label></div>
          <input type="text" class="form-control inputField"
          placeholder="Enter username" name="username" [(ngModel)]="credentials.username">
        </div>
        <div class="form-group">
          <div class="formLabel"><label>{{ts.l.password}}</label></div>
          <input type="password" class="form-control inputField" 
          placeholder="Enter password" name="password" [(ngModel)]="credentials.password">
          <div class="forgotPassword" (click)="forgotPassword=true;errorMessage='';showModal()"> Forgot password </div><br>
          <div *ngIf="loginError" class="errorMessage">{{errorText}}</div>
        </div>
        <button type="submit" class="btn loginBtn">{{ts.l.sign_in}}</button>
      </form>
    </div>
</div>