<div class="registerContainer" *ngIf="!waitingForEmailVerification">
    <div class="formTitle">{{ts.l.sign_in}}</div><br>
    <div class="formContainer">
      <!-- Popup for forgetting password -->
      <div *ngIf="forgotPassword" class="{{modalClass}} modalContainer">
          <div class="modalContent">
              <pre class="modalText">Please input your username and email, and we will send you an email with a new password.</pre><br>
              <div class="modalText"> {{ts.l.username}}: <input type="text" placeholder={{ts.l.enter_username}} name="username" [(ngModel)]="usernameForgotPassword"></div>
              <div class="modalText"> Email: <input type="text" placeholder="Ener email" name="email" [(ngModel)]="emailForgotPassword"></div>
              <div class="usernameErrorText"> {{errorMessage}} </div>
              <div>
                  <button class="modalBtn createBtnGreen" (click)="sendNewPassword()">{{ts.l.send}}</button>
                  <button class="modalBtn createBtnGreen" (click)="hideModal()">{{ts.l.cancel}}</button>
              </div>
          </div>
      </div>
      <form (submit)="login()">
        <div class="form-group">
          <div class="formLabel"><label>{{ts.l.username}}</label></div>
          <!-- TODO placeholder text translation -->
          <input
              type="text"
              class="form-control inputField"
              placeholder="Enter username"
              name="username"
              [(ngModel)]="credentials.username">
        </div>
        <div class="form-group">
          <div class="formLabel"><label>{{ts.l.password}}</label></div>
          <input type="password" class="form-control inputField" 
          placeholder="Enter password" name="password" [(ngModel)]="credentials.password">
          <div class="forgotPassword" (click)="forgotPassword=true;errorMessage='';showModal()"> Forgot password </div><br>
          <div *ngIf="loginError" class="errorMessage">{{errorText}}</div>
        </div>

        <!-- Verify the user's email address if they have not yet been verified -->
        <div class="form-group" *ngIf="userHasNotBeenVerified && !verificationEmailHasBeenSent">
          <div class="formLabel"><label>TODO Email</label></div>
          <input 
               type="text"
               name="email"
               class="form-control inputField"
               placeholder="Enter email"
               name="email"
               [(ngModel)]="emailToVerify"><br>
          <button (click)="verifyOldAccount" class="btn loginBtn">Verify email address</button>
        </div>

        <button type="submit" class="btn loginBtn" *ngIf="!userHasNotBeenVerified || verificationEmailHasBeenSent">{{ts.l.sign_in}}</button>
      </form>
    </div>
</div>

<!-- THE USER'S EMAIL HAS NOT BEEN VERIFIED YET -->
<div class="registerContainer" *ngIf="waitingForEmailVerification">
  <div class="formTitle">{{ts.l.verification}}</div><br>
  <div class="formContainer">
    <p>We have sent you an email. Click the link in the email to verify your email address. Once you've done that you will be able to log in again.</p>
    <p>{{ts.l.username}}: {{frozenCredentials.username}}</p>
    <p>{{ts.l.email_address}}: {{frozenCredentials.email}}</p>
    <div *ngIf="loginErrorText" class="errorMessage">{{loginErrorText}}</div>
    <button (click)="login()">Login</button>
    <p *ngIf="waitingErrorText" class="errorMessage">{{waitingErrorText}}</p>
  </div>
</div>
