.registerContainer {
    background-color: #cc670a;
}

.formLabel {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

.inputField {
    width: 80%;
    margin-left: 10%;
}

.forgotPassword {
  float: left;
  padding-left: 12%;
  font-size: 12px;
  color: #0000EE;
}

.forgotPassword:hover {
  cursor: pointer;
  text-decoration: underline;
}

.loginBtn {
    background-color: #cc670a;
}

.loginBtn:hover {
    background-color: #af5503;
}


.closeForgotPasswordBtn {
  float: riht;
}
.closeForgotPasswordBtn:hover {
  cursor: pointer;
  color: black;
}

@media only screen and (max-width: 700px) {
    .registerContainer {
        width: 90%;
    }
    .formContainer {
        width: 100%;
    }
}
