.container {
    padding-bottom: 20px;
}

.headerTitle {
    text-align: left;
}

.name {
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
}

.neasaImg {
  width: 200px;
  height: 220px;
  padding: 5px;
}

.developerCard {
  display: flex;
}

.maddieImg {
  width: 200px;
  height: 170px;
  padding: 5px;
  padding-right: 20px;
}

.oisinImg {
  width: 200px;
  height: 210px;
  padding: 5px;
  padding-left: 20px;
}

.annaImg {
  width: 200px;
  height: 210px;
  padding: 5px;
  padding-right: 20px;
}

.teamImg {
  width: 500px;
  height: 350px;
  padding: 5px;
}
