<div class="registerContainer">
    <div class="formTitle">Login</div><br>
    <div class="formContainer">
        <div class="form-group">
          <div class="formLabel"><label>Email address</label></div>
          <input type="email" class="form-control inputField" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <div class="formLabel"><label>Password</label></div>
          <input type="password" class="form-control inputField" placeholder="Password">
        </div>
        <button routerLink="/contents" class="btn loginBtn">Submit</button>
    </div>
</div>