.loginBtn {
    background-color: #cc670a;
}

.loginBtn:hover {
    background-color: #af5503;
}

.inputField {
    width: 60%;
    margin-left: 20%;
}

.formContainer {
    width: 300px;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 25px;
    background-color: #efefef;
}

.formTitle {
    margin-bottom: -20px;
    margin-top: 5px;
    font-size: 18pt;
}

.registerContainer {
    width: 300px;
    display: inline-block;
    background-color: #d8d8d8;
    border-radius: 25px;

    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
-moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
}

.formLabel {
    text-align: left;
    margin-left: 20%;
}