<span style="display: grid; grid-template-columns: 2fr 1fr;">
  <div>
    <dsc-image [src]="imageUri">
    </dsc-image>
  </div>
  <div>
    <dsc-message-list
      #messageList
      [gameInfo]=gameInfo
      >
    </dsc-message-list>
    <dsc-record-message
      *ngIf=messageList
      (ondataavailable)=messageList.process($event)
      (hitStop)=messageList.receiveRecordingId($event)>
    </dsc-record-message>
  </div>
<span>
  <button
    *ngIf=messageList
    (click)=submitDescription(messageList)>
      submit
  </button>
