<span style="display: grid; grid-template-columns: 2fr 2fr 1fr;">
  <div>
    <dsc-image [src]="imageUri">
    </dsc-image>
  </div>
  <div>
    <dsc-message-list
      #messageList
      [messages]=messages>
    </dsc-message-list>
    <dsc-record-message
      *ngIf=messageList
      (ondataavailable)=newMessage($event)
      (hitStop)="hitStop(messageList,$event)">
    </dsc-record-message>
  </div>
  <button
    *ngIf=imageUri
    (click)=submitDescription(messageList)>
    <i class="fa-regular fa-paper-plane"></i>
  </button>
<span>
