.content {
    width: 100%;
    padding: 3vh;
    display: flex;
    flex-direction: column;
}

.generateCodeTitle {
    font-size: 14pt;
    display: flex;
    justify-content: center;
}

.teacherCodeButton {
    background-color: var(--scealai-green);
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
}

.teacherCodeButton:hover {
    cursor: pointer;
    background-color: var(--scealai-dark-green);
}

.teacherCodeTitle {
    padding: 5px;
}

.teacherCodeDisplay {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

.teacherCodeTextarea {
    width: 40%;
    height: 30px;
    font-size: 12pt;
    resize: none;
    background-color: #d1d1d1;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.copyIcon {
    background-color: var(--scealai-green);
    color: white;
    width: 30px;
    height: 30px;
    padding: 4px;
    font-size: 16pt;
    border-radius: 0px 5px 5px 0px;
}

.copyIcon:hover {
    cursor: pointer;
    background-color: var(--scealai-dark-green);
}

.teacherAccountsHeader {
    font-size: 14pt;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--scealai-dark-green);
    border-radius: 5px 5px 0px 0px;
}

.teacherAccountsContainer {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-left: 10%;
}

.teacherAccountsDisplay {
    margin-top: 4vh;
    width: 40%;
    height: 45vh;
    background-color: #d1d1d1;
    border-radius: 0px 0px 5px 5px;
}

.teacherAccountsBody {
    padding: 10px;
    padding-bottom: 0px;
    text-align: left;
    overflow: auto;
    height: 40vh;
}

.activeTeacherCodeContainer {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 11pt;
}

.deleteBtn {
    color: var(--scealai-dark-green);
    font-size: 12pt;
    padding: 5px;
    float: right;
    margin-top: -2px;
}

.deleteBtn:hover {
    cursor: pointer;
    font-size: 14pt;
    padding: 4px;
}

.modalContainer {
    position: absolute;
    z-index: 5;
    width: 90%;
    height: 74vh;
    border-radius: 0px 0px 4px 4px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.modalContent {
    margin-top: 22vh;
    width: 30%;
    margin-left: 35%;
    padding: 25px;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: -1px 10px 17px 0px rgba(0,0,0,0.5);
-moz-box-shadow: -1px 10px 17px 0px rgba(0,0,0,0.5);
box-shadow: -1px 10px 17px 0px rgba(0,0,0,0.5);
}

.modalBtn {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #d1d1d1;
    border: none;
    border-radius: 5px;
    margin: 5px;
    margin-top: 15px;
}

.modalBtn:hover {
    background-color: var(--modal-hover);
    color: white;
}

.deleteRedBtn {
    background-color: var(--scealai-delete-red-3);
    color: white;
}

.deleteRedBtn:hover {
    background-color: var(--scealai-delete-red-3-hover);
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.hiddenFade {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease-in;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.visibleFade {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s ease-out;
}

.copiedText {
    margin-left: 10px;
    color: var(--scealai-green);
}

.whiteBtn:hover {
    color:white;
    background-color: var(--scealai-med-brown-hover);
    cursor: pointer;
  }