.adminClassContainer {
    width: 90%;
    margin-left: 5%;
    background-color: var(--scealai-gray);
    border-radius: 5px;
    margin-top: 20px;
    height: 65vh;
}

.classHeader {
    padding-left: 12px;
    font-size: 14pt;
}