.storyTitleHeader {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: -55px;  // margin for entire page set in app.component.scss
  }

.storyTitleContainer {
    margin: auto;
    overflow: auto;
    font-size: 20px;
    font-weight: bolder;
}

.storyTitle {
    border: 1px solid transparent;
    text-align:center;
    resize:none;
}

.storyTitle:hover {
    border: 1px solid;
    border-radius: 5px;
}

.teacherOptionsBtnContainer > * {
    height: 2rem;
}

.teacherOptionsBtnContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    --options-btn-background-color-hover : lightgray;
    background-color:white;
    padding-left: 30px;
    padding-right: 30px;
}
  
.optionsBtn {
    background-color: var(--scealai-yellow);
    border-style: none;
    color: #464444;
    margin: 0px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 5px;
    background: #dfd9c800;
}

.optionsBtn:hover {
    background-color: var(--options-btn-background-color-hover);
    color: #35322f;
    cursor: pointer;
    border-radius: 2;
}

.optionsBtnIcon {
    margin-left: 5px;
}

.bodyContainer {
    width: 100%;
    height: 100%;
}

.storyListDrawer {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    max-width: 35%;
    height: 100%;
}

.storyContainer {
    height: 100%;
}

.studentListContainer {
    height: 80vh; 
    width: 100%;
}

.menuButton {
    float:left;
    padding: 10px;
    transform: scale(1.5);
    z-index: 100;
}

.menuButton:hover {
    cursor: pointer;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.newStoryMessage {
    font-weight: bolder;
    max-width: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    height: 80vh;
    width: 100%;
    display:flex;
    align-items: flex-end;
}