<!-- HEADER -->
<div class="storyTitleHeader" *ngIf="classroom">
  <!-- CLASSROOM TITLE -->
  <div class="storyTitleContainer">
    <input
      class="storyTitle"
      size="{{ updatedTitle.length }}"
      [(ngModel)]="updatedTitle"
      (blur)="updateClassroomTitle()"
    />
  </div>
</div>

<!-- CLASSROOM DRAWER BUTTON-->
<span class="menuButton material-symbols-outlined" (click)="classroomDrawer.toggle()" >menu</span >

<!-- CLASSROOM OPTIONS TOOL BAR -->
<div class="optionsBtnContainer" (click)="toggleOptions()" *ngIf="classroom">
  <div class="optionsBtn">
    <i *ngIf="!showOptions" class="fas fa-chevron-down"></i>
    <i *ngIf="showOptions" class="fas fa-chevron-right"></i>
  </div>

  <!-- SHARE CODE -->
  <div
    *ngIf="showOptions"
    class="optionsBtn optionsPopupBtn"
    (click)="dontToggle = true; openCodeDialog()"
  >
    {{ ts.l.share_code }}
    <i class="fas fa-share-alt headerIcon"></i>
  </div>

  <!-- STATISTICS -->
  <div
    *ngIf="showOptions"
    class="optionsBtn optionsPopupBtn"
    (click)="dontToggle = true; goToStats()"
  >
    {{ ts.l.stats }}
    <i class="fas fa-calculator optionsBtnIcon"></i>
  </div>

  <!-- MESSAGES -->
  <div
    *ngIf="showOptions"
    class="optionsBtn optionsPopupBtn"
    (click)="dontToggle = true; goToMessages()"
  >
    {{ ts.l.messages }}
    <i class="fa fa-envelope optionsBtnIcon"></i>
  </div>

  <!-- DICTOGLOSS -->
  <div
    *ngIf="showOptions"
    class="optionsBtn optionsPopupBtn"
    (click)="dontToggle = true; goToDictogloss()"
  >
    {{ ts.l.dictogloss }}
    <i class="fas fa-file-audio optionsBtnIcon"></i>
  </div>

  <!-- SETTINGS -->
  <div
    *ngIf="showOptions"
    class="optionsBtn optionsPopupBtn"
    (click)="dontToggle = true; goToSettings()"
  >
    {{ ts.l.settings }}
    <i class="fas fa-cog optionsBtnIcon"></i>
  </div>
</div>

<!-- BODY CONTAINER-->
<mat-drawer-container class="bodyContainer" autosize>
  <!-- CLASSROOM LIST DRAWER-->
  <mat-drawer #classroomDrawer class="storyListDrawer" mode="side" [opened]="true" >
    <app-classroom-drawer
      #classroomDrawer
      (classroomEmitter)="setCurrentClassroom($event)"
      (titleUpdated)="updatedTitle = $event"
      (classroomsLoaded)="classroomsLoaded = $event"
    ></app-classroom-drawer>
  </mat-drawer>

  <!-- CENTER CONTAINER-->
  <div class="storyContainer">
    <div class="studentListContainer" *ngIf="classroom; else newClassroomMessage" >
      <app-student-list
        [classroom]="classroom"
        (storyEmitter)="storyForFeedback = $event; rightDrawer.open()"
      ></app-student-list>
    </div>
    <!-- NO CLASSROOMS MESSAGE-->
    <ng-template #newClassroomMessage>
      <div *ngIf="!classroomsLoaded">
        <grid-spinner></grid-spinner>
      </div>
      <div *ngIf="classroomsLoaded" class="newStoryMessage">
        Click on the '+' button to create your first classroom!
      </div>
    </ng-template>
  </div>
</mat-drawer-container>
