<div
    [hidden]="hideEntireGrammarChecker"
    style="resize: vertical; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
  <div class="feedbackHeader">
    <div>{{ts.l.grammar_checker}} </div>
    <div
        class="closeFeedbackBtn"
        (click)="hideEntireGrammarChecker = true;">
      <i class="fa fa-times optionsBtnIcon"></i>
    </div>
  </div>

  <div class="grammarToolbar">
    <div>
      <i class="fa fa-redo-alt refreshGrammar"
         (click)="runGramadoir()">
      </i>
    </div>
    <div class="selectGrammarFilter">
      <button
          (click)="onChangeGrammarFilter(this.FILTER.GRAMADOIR)"
          class="active"
          [ngClass]="{'invisibleBackground': isGramadoirMode()}"
          >
          {{ts.l.gramadoir}}
      </button>
      <button
          (click)="onChangeGrammarFilter(this.FILTER.VOWEL)"
          [ngClass]="{'invisibleBackground': isVowelMode()}"
          >
          {{ts.l.broad_slender}}
      </button>
    </div>
  </div>
  
  <!-- display the story with error highlighting-->
  <div class="textFieldContainer" [hidden]="!(grammarLoading && isGramadoirMode())">
    <div class="textContainer">
      <div class="loaderContainer">
        <b>{{ts.l.correcting_grammar}}</b>
        <div class="lds-grid">
          <div></div> <div></div> <div></div>
          <div></div> <div></div> <div></div>
          <div></div> <div></div> <div></div>
        </div>
      </div>
    </div>
  </div>

  <!-- display story container after grammar checked -->
  <div class="textFieldContainer"
       [hidden]="grammarLoading && isGramadoirMode()">
    <!-- display chosen tag window -->
    <div class="grammarMessageContainer">
      <span
          *ngIf="chosenTag; else grammarMessagePlaceholder"
          style="width: 60vw; float: left;">
        {{getGramadoirMessage()}}
      </span>
      <ng-template #grammarMessagePlaceholder>
        <span class="placeHolderText">
          {{ts.l.choose_an_error}}
        </span>
      </ng-template>
      <div
          *ngIf="gramadoirErrorMessage"
          class="has-error"
          style="width: 30vw; float: right; color: maroon;"
          >
        {{gramadoirErrorMessage}}
      </div>
    </div>


    <div mwlTextInputHighlightContainer
         >
      <textarea
          #grammarCheckerTextArea
          style="color: black;"
          mwlTextInputElement
          readonly
          style="width: 100%; height: 42vh;"
          [(ngModel)]="checkedText"
          #inputTextarea ></textarea>

      <!-- an gramadoir -->
      <div *ngIf="isGramadoirMode()">
        <button 
          (click)="syncrhoniseGramadoir()">
          {{  ts.l['synchronise'] ?
              ts.l['synchronise'] :
              'Synchronise'
              }}
        </button>
        <mwl-text-input-highlight
            [tags]="getSelectedTags()"
            [textInputElement]="inputTextarea"
            (tagClick)="chooseGrammarTag($event.tag)"
            (tagMouseEnter)="addTagHoverClass($event.target)"
            (tagMouseLeave)="removeTagHoverClass($event.target)">
        </mwl-text-input-highlight>
        <div class="selectErrorCheckbox">
          <div *ngFor="let recipient of filteredTags | keyvalue" style="margin:2px;">
            <input
                [ngModel]="checkBox.get(recipient.key)"
                (ngModelChange)="checkBox.set(recipient.key, $event)"
                type="checkbox">
            {{recipient.key | lowercase}} ({{recipient.value.length}})
          </div> 
        </div>
      </div>
      <!-- vowel Agreement -->
      <div *ngIf="isVowelMode()">
        <button
            (click)="synchroniseVowelAgreementChecker()">
          {{  ts.l['synchronise'] ?
              ts.l['synchronise'] :
              'Synchronise'
              }}
        </button>
        <mwl-text-input-highlight
            [tags]="tagSets[FILTER.VOWEL]"
            [textInputElement]="inputTextarea"
            (tagClick)="chooseGrammarTag($event.tag)"
            (tagMouseEnter)="addTagHoverClass($event.target)"
            (tagMouseLeave)="removeTagHoverClass($event.target)">
        </mwl-text-input-highlight>
      </div>
    </div>
  </div>
</div>
