.grammarMessagePlaceholder {
    color: #999999;
}

.grammarToolbar {
    background-color: #70a87f;
    color: white;
    display: flex;
    padding-left: 20px;
    display: flex;
    align-items: center;
}
