<body>
  <div id='container'>
    <button id='about-button' onclick=showAbout()>About <i class="fas fa-info-circle"></i></button>
    <div id='quiz-name'><input id='topic-name' type="text" placeholder="Enter Name of Quiz"></div>
    <div id='questions'>
      <p>Questions</p>
      <div class='Q'>1. <input id='q1' placeholder='Insert Question' type="text"></div>
      <div class='Q'>2. <input id='q2' placeholder='Insert Question' type="text"></div>
      <div class='Q'>3. <input id='q3' placeholder='Insert Question' type="text"></div>
      <div class='Q'>4. <input id='q4' placeholder='Insert Question' type="text"></div>
      <div class='Q'>5. <input id='q5' placeholder='Insert Question' type="text"></div>
    </div>
    <div id='answers'>
      <p>Answers</p>
      <div class='Q' id='answer-1'>1. <input placeholder='Insert Answer' class='A' id='a1' type="text"><button class='add-A' type="submit" id='add-a1' onclick='addAnswer("answer-1", "add-a1")'>Add Answer</button></div>
      <div class='Q' id='answer-2'>2. <input placeholder='Insert Answer' class='A' id='a2' type="text"><button class='add-A' type="submit" id='add-a2' onclick='addAnswer("answer-2", "add-a2")'>Add Answer</button></div>
      <div class='Q' id='answer-3'>3. <input placeholder='Insert Answer' class='A' id='a3' type="text"><button class='add-A' type="submit" id='add-a3' onclick='addAnswer("answer-3", "add-a3")'>Add Answer</button></div>
      <div class='Q' id='answer-4'>4. <input placeholder='Insert Answer' class='A' id='a4' type="text"><button class='add-A' type="submit" id='add-a4' onclick='addAnswer("answer-4", "add-a4")'>Add Answer</button></div>
      <div class='Q' id='answer-5'>5. <input placeholder='Insert Answer' class='A' id='a5' type="text"><button class='add-A' type="submit" id='add-a5' onclick='addAnswer("answer-5", "add-a5")'>Add Answer</button></div>
    </div>
    <button id='add-question' onclick='addQuestion()'><i class="fas fa-plus-circle"></i> Add Question</button>
    <button id='done' onclick='showVerificationStep()'>Done</button>
  </div>
  <div id='submit-container'>
    <div id='submit-messages'>
      <div id='save-prompt'>
        Save your script?
        <input id='class-code-input' type='text' placeholder="class code">
        <button type='submit' (click)=sendScript() id='yes-publish'>Yes</button>
        <button type='submit' onclick='$("#saved-message").text("Your script will not be saved. Save it to use with Taidhgín."); 
        $("#saved-message").css("display", "block")' id='no-publish'>No</button>
      </div>
      <div id='thank-message'>Thank you for using the 'make your own script' framwork! 😄</div>
      <div id='saved-message'>Your script has been saved! You can now use it in Taidhgín under 'Personal Topics'.</div>
      <div id='ask-publish'>
        Would you like to publish your script to the An Scealaí community?
        <button id='yes-publish' onclick='sendVerification()'>Yes</button>
        <button id='no-publish' onclick="$('#saved-message').text('No problem! You can still use your script in Taidhgín under Personal Topics.')">No</button>
      </div>
      <button id='ask-download' onclick="downloadNewScript()">Download a copy of you script?</button>
      <div id='remind-message'>Fill in all entries</div>
    </div>
    <button id='cancel-submit' type='submit' onclick="closeSubmit()">Close</button>
  </div>
  <div id='about-container'>
    <div id='info'>
      <h2>How to Use! ℹ️</h2>
      <p id=description>
        Welcome to the "create your own quiz-bot" <i>Taidhgín</i> page.<br><br> Use this page to create your own
        quizzes which you can then run within the <i>Taidhgín</i> bot 💬. All you need to do is fill 
        in the name of your quiz, your questions, and your answers and you're good to go! You can add
        more questions with the "Add Question" button, and you can add multiple acceptable answers with
        the "Add Answer" button. <br><br>Once you have finished creating your quiz, click on "Done" and then on "yes" to save it.
        (You will also have the option to download the script as a .txt file for your own records). 
        Once your quiz has been saved you can select it and run it on the <i>Taidhgín</i> page under "Your Quizzes".
        <br><br>Teachers can create quizzes and assign them to their class. There is also an option to share your quiz
        with the wider <i>An Scealaí</i> community. Students can create quizzes for practice and for fun 📖😄.
      </p>
    </div>
    <button id='cancel-submit' type='submit' onclick="closeAbout()">Close</button>
  </div>
</body>
