<mat-form-field appearance="fill">
  <!-- [style]="'background-color:' + color(selected.gender)" -->
  <mat-label>{{ts.message('voice')}}</mat-label>
  <mat-select [(value)]=selected (selectionChange)=selectVoice.emit($event.value)>
      <mat-option
      *ngFor="let voice of voices"
      matNativeControl
      required
      data-gender={{voice.gender}}
      [value]=voice>
        {{voice.note + voice.name + ' (' + ts.message(voice.dialect) + ') '}}
    </mat-option>
  </mat-select>
</mat-form-field>