<div class="dialogContainer">
  <div class="header">
    <h2 mat-dialog-title>{{ts.l.record_audio_message}} </h2> 
  </div>
  <div>
    <div class="recordingContainer">
      <!-- Start/stop recording audio or go back -->
      <div class="recordBtnContainer">
        <button *ngIf="!isRecording" (click)="record()" class="headerIconBtn">{{ts.l.record_audio}}</button>
        <button *ngIf="isRecording" (click)="record()" class="headerIconBtn">{{ts.l.stop_recording}}</button>          
        <div *ngIf="isRecording" class="recordingIcon"><i class="fa fa-circle"></i></div>
      </div>
      <!-- Listen back to message -->
      <div *ngIf="newRecording" class="greenLinkText" (click)="getAudio()">{{ts.l.would_you_like_to_listen_back}}</div>
      <audio *ngIf="showAudio" [src]="audioSource" id="audio" controls #audioTag class="audioPlayer"></audio>
    </div>
    <div *ngIf="errorText" class="errorMessage">{{errorText}}</div>
    <!-- Cancel or send audio -->
    <div class="modalBtnContainer" mat-dialog-actions [align]="'center'">
        <button class="modalBtn" [mat-dialog-close]="">{{ts.l.cancel}}</button>
        <button class="modalBtn createBtnGreen" (click)="saveAudio()" *ngIf="newRecording" [mat-dialog-close]="">{{ts.l.send}} <i class="fas fa-paper-plane"></i></button>
        <div class="inactiveBtn" *ngIf="!newRecording">{{ts.l.send}} <i class="fas fa-paper-plane"></i></div>
    </div>
</div>