.content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.5rem;
    flex-wrap: wrap;
    width: 90%;
    background: white;
    border-radius: 5px;
    margin-left: 5%;
    padding: 20px;
}

.stats-card-header {
    display: flex;
    justify-content: space-between;
}

.stats-card:hover {
    cursor: pointer;
}

.stats-card-fullscreen {
    width: 90%;
    z-index: 10;
    left: 5%;
}