.dashboard {
    display: flex;
    flex-direction: column;
    width: 90%;
    background: white;
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: 5%;
    padding: 20px;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
}

.cards-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding: 20px;
}

.stats-card-header {
    display: flex;
    justify-content: space-between;
}

i:hover {
    cursor: pointer;
    font-size: larger;
    margin-top: -1px;
    margin-right: -1px;
}

mat-card {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
}

mat-card-content {
    flex-grow: 1;
}