<div class="content" *ngIf="!dialogRef">
    <mat-card class="stats-card">
        <ng-template #ngramTemplate [ngIf]="!dialogRef">
            <mat-card-header class="stats-card-header">
                <mat-card-title>N-gram Distribution</mat-card-title>
                <i *ngIf="!dialogRef" class="fa fa-expand" aria-hidden="true" (click)="openModal(ngramTemplate)"></i>
                <i *ngIf="dialogRef" class="fa fa-compress" aria-hidden="true" (click)="dialogRef.close()"></i>
            </mat-card-header>
            <mat-card-content>
                <app-ngram-distribution [texts]="sampleTexts"></app-ngram-distribution>
            </mat-card-content>
        </ng-template>
    </mat-card>
</div>