<div class="dashboard" *ngIf="!dialogRef">
    <div class="dashboard-header">
        <h3 class="dashboard-title">Statistics Dashboard</h3>
        <button mat-stroked-button (click)="openClassroomSelector()">
            {{classroomTitle}}
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </div>
    <div class="cards-container">
        <!-- N-Gram Graph -->
        <mat-card class="stats-card">
            <ng-template #ngramTemplate [ngIf]="!dialogRef">
                <mat-card-header class="stats-card-header">
                    <mat-card-title>N-gram Distribution</mat-card-title>
                    <i *ngIf="!dialogRef" class="fa fa-expand" aria-hidden="true" (click)="openModal(ngramTemplate)"></i>
                    <i *ngIf="dialogRef" class="fa fa-compress" aria-hidden="true" (click)="dialogRef.close()"></i>
                </mat-card-header>
                <mat-card-content>
                    <app-ngram-distribution [texts]="textsToAnalyse"></app-ngram-distribution>
                </mat-card-content>
            </ng-template>
        </mat-card>
        <!-- Word Count Graph -->
        <mat-card class="stats-card">
            <ng-template #wordCountTemplate [ngIf]="!dialogRef">
                <mat-card-header class="stats-card-header">
                    <mat-card-title>Average Word Counts</mat-card-title>
                    <i *ngIf="!dialogRef" class="fa fa-expand" aria-hidden="true" (click)="openModal(wordCountTemplate)"></i>
                    <i *ngIf="dialogRef" class="fa fa-compress" aria-hidden="true" (click)="dialogRef.close()"></i>
                </mat-card-header>
                <mat-card-content>
                    <app-word-counts [wordCountData]="wordCountData"></app-word-counts>
                </mat-card-content>
            </ng-template>
        </mat-card>
        <!-- Grammar Pie Chart -->
        <mat-card class="stats-card">
            <ng-template #grammarPieChartTemplate [ngIf]="!dialogRef">
                <mat-card-header class="stats-card-header">
                    <mat-card-title>Grammar Errors</mat-card-title>
                    <i *ngIf="!dialogRef" class="fa fa-expand" aria-hidden="true" (click)="openModal(grammarPieChartTemplate)"></i>
                    <i *ngIf="dialogRef" class="fa fa-compress" aria-hidden="true" (click)="dialogRef.close()"></i>
                </mat-card-header>
                <mat-card-content>
                    <app-grammar-pie-chart [errorCounts]="grammarErrorCounts"></app-grammar-pie-chart>
                </mat-card-content>
            </ng-template>
        </mat-card>
    </div>
</div>
