<div class="container">
  <div class="header"> User Guides </div><br>
  <mat-card style="text-align:left;">
    <mat-card-header>
      <mat-card-title>Download the User Guide</mat-card-title>
      <mat-card-subtitle>You can download a written version of our User Guide by clicking the link below.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <a href="assets/pdf/User_guide.pdf" class="greenBtn" download>{{ts.l.user_guide}} <i class="fas fa-download"></i></a>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card style="text-align:left;">
    <mat-card-header>
      <mat-card-title>Video Tutorial</mat-card-title>
      <mat-card-subtitle>You can watch the following instructional video on how to use An Scéalaí.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <a href="assets/pdf/User_guide.pdf" class="greenBtn" download>{{ts.l.user_guide}} <i class="fas fa-download"></i></a>
    </mat-card-content>
  </mat-card>
  
</div>
