.contents {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}

.classContainer {
    display: inline-flex;
    flex-direction: column;
}

.storyClassBody {
    display: inline-flex;
    flex-direction: row;
    padding: 5px;
    gap: 1rem;
    flex-grow: 1;
    overflow-y: scroll;
}

.storyClassBody > * {
    flex: 1; // makes the columns equally spaced
}

.storyTextContainer { 
    display: inline-flex;
    flex-direction: column;
    background-color: var(--scealai-gray);
    border-radius: 5px;
}

.storyTextHeader {
    background-color: var(--scealai-dark-green);
    border-radius: 5px 5px 0px 0px;
    color: white;
    display: flex;
    padding: 4px;
    font-size: 12pt;
    justify-content: center;
}

.storyText {
    text-align: left;
    padding: 4px;
    overflow: auto;
    white-space: pre-wrap;
    background-color: white;
    border-radius: 5px;
    margin: 8px;
    height: 100%;
}

.storyInfoContainer { 
    display: inline-flex;
    flex-direction: column;
    background-color: var(--scealai-gray);
    border-radius: 5px;
}

.storyInfoBody {
    display: inline-flex;
    flex-direction: column;
    margin: 8px;
    overflow: auto;
    height: 100%;
}

.userInfoContainer {
  flex: 0.75;
}

.userInfo {
    float: right;
    display: flex;
    align-items: center;
    padding-top: 8px;
    width: 100%;
    white-space: nowrap;
}

.userInfoTextarea {
    width: 100%;
}

.feedbackContainer {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex: 2;
}

.feedbackHeaderTeacherStory {
    width: 100%;
    background-color: var(--scealai-dark-green);
    border-radius: 5px 5px 0px 0px;
    color: white;
    padding: 4px;
}

.feedbackBody {
    padding: 4px;
    text-align: left;
    overflow-y: scroll;
}

.feedbackTextarea {
    border: none;
    width: 100%;
    resize: none;
}

.feedbackFooter {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 4px;
    border-top: 1px solid var(--scealai-gray);
    border-radius: 5px;
    margin-top: auto;
}

.seenByStudent {
    font-size: 10pt;
    color: var(--scealai-light-gray);
    margin-left: 4px;
}

.sendFeedbackBtn {
    margin-left: auto;
}

.feedbackBtnContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

.audioPlayer {
    height: 32px;
    margin-top: 7px;
}

@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}

@-webkit-keyframes blinker {  
    from { opacity: 1; }
    to { opacity: 0; }
  }

@media (min-width: 1000px) {

}

@media only screen and (max-width: 1000px) and (max-height: 750px) {
  .userInfo {
    font-size: 12px;
  }
  
}