.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalBtn {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #d1d1d1;
    border: none;
    border-radius: 5px;
    margin: 5px;
    margin-top: 15px;
}

.modalBtn:hover {
    background-color: #707070;
    color: white;
}

.confirmBtnGreen {
    background-color: #70a87f;
    color: white;
}

.confirmBtnGreen:hover {
    background-color: #304e38;
}

.modalText {
    font-size: 12pt;
    white-space: normal;
    color: black;
}