.landingTextContainer {
    margin-top: -5vh;
    padding-left: 5px;
    padding-right: 5px;
}

.landingImg {
    width: 42%;
}

.landingText {
    margin-bottom: -2px;
    font-family: "Optima";
    color: var(--dark-text);
}

.quoteAuthorText {
    position: absolute;
    right: 20%;
    z-index: -5;
}

.landingBtnsContainer {
    margin-top: 20px;
}

.teacherRegisterBtn {
    font-size: 14pt;
    margin: 10px;
    background-color: var(--scealai-yellow);
    color: white;
}

.teacherRegisterBtn:hover {
    background-color: var(--scealai-yellow-hover);
    color: white;
}

.studentRegisterBtn {
    font-size: 14pt;
    background-color: var(--scealai-orange);
}

.studentRegisterBtn:hover {
    background-color: #843c1d;
    color: white;
}

.loginTextContainer {
    margin-top: 2vh;
}

.bottomLeftImg {
    width: 300px;
    height: auto;
    left: 0px;
    bottom: 55px;
    position: fixed;
    z-index: -2;
}

.bottomRightImg {
    width: 300px;
    height: auto;
    right: 0px;
    bottom: 40px;
    position: fixed;
    z-index: -2;
}

.catContainer {
    width: 100%;
    text-align: center;
}

.catJumpingImg {
    width: 180px;
    height: auto;
    bottom: 80px;
    position: fixed;
    margin-left: -10%;
    z-index: -1;
    
}

.catWalkingImg {
    display: none;
    z-index: -1;
}

.footerLanding {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
}

.copyright {
    text-align: left;
    font-size: 8pt;
    height: 15px;
    opacity: 0.5;
}

.footerLogos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logoImg {
    height: 40px;
}

.separator {
    width: 1px;
    opacity: 0;
    height: 40px;
    background-color: grey;
}

@media only screen and (max-width: 620px) {
    .catJumpingImg {
        display: none;
    }

    .catWalkingImg {
        display: none;
    }

    .topRightImg {
        display: none;
    }

    .bottomRightImg {
        display: none;
    }

    .bottomLeftImg {
        width: 55%;
        bottom: 95px;
    }

    .landingTextContainer {
        margin-top: -2vh;
    }

}

@media only screen and (min-width: 900px) {
    .catJumpingImg {
        display: none;
    }

    .catWalkingImg {
        width: 14%;
        height: auto;
        bottom: 4vh;
        position: fixed;
        display: block;
        margin-left: 42%;
    }

    .bottomLeftImg {
        width: 30%;
    }

    .bottomRightImg {
        width: 30%;
    }

    .topRightImg {
        display: none;
    }

    .landingImg {
        width: 350px;
    }
}