<div class="content">
  <div class="userInfoDisplay">
    <div class="userInfo"><b>Title:</b> <textarea readonly class="userInfoTextarea">{{story?.title}}</textarea></div>
    <div class="userInfo"><b>Author:</b> <textarea readonly class="userInfoTextarea">{{story?.author}}</textarea></div>
    <div class="userInfo"><b>Creation date:</b> <textarea readonly class="userInfoTextarea dateTextArea">{{story?.date}}</textarea></div>
  </div>
  <div class="textContainer">
    <div class="textContainerHeader">
      <b>Text</b>
    </div>
    <div class="textContainerBody">
      {{story?.text}}
    </div>
  </div>
</div>