<div class="content">
  <div class="classBody">
      <div class="storyTextContainer">
        <div class="storyTextHeader">{{ts.l.text}}</div>
        <div class="storyText">{{story?.text}}</div>
        <button class="greenBtn" (click)="goToStoryHistory()">{{ts.l.story_history}}y</button>
      </div>
      <div class="storyInfoContainer">
          <div class="storyTextHeader">{{ts.l.information}}</div>
          <div class="storyInfoBody">
              <div class="userInfo">{{ts.l.title}}: <textarea readonly class="userInfoTextarea">{{story?.title}}</textarea></div>
              <div class="userInfo">{{ts.l.author_admin}}: <textarea readonly class="userInfoTextarea">{{story?.author}}</textarea></div>
              <div class="userInfo">{{ts.l.creation_date}}: <textarea readonly class="userInfoTextarea">{{story?.date}}</textarea></div>
              <div class="userInfo">{{ts.l.dialect}}: <textarea readonly class="userInfoTextarea">{{story?.dialect}}</textarea></div>
              <div class="feedbackContainer">
                <div class="feedbackHeader">{{ts.l.feedback}}</div>
                <div class="feedbackBody" *ngIf="story">
                    <textarea class="feedbackTextarea" placeholder="Leave some feedback on {{authorPossessive}} story" [(ngModel)]="story.feedback.text" (input)="feedbackSent = false"></textarea>
                  </div>
                <div class="feedbackFooter">
                  <div class="seenByStudent" *ngIf="story">
                    <span *ngIf="story.feedback.seenByStudent">{{ts.l.seen_by}} {{story?.author}} <i class="fas fa-check"></i></span>
                    <span *ngIf="!story.feedback.seenByStudent">{{ts.l.not_seen_by}} {{story?.author}}</span>
                  </div>
                </div>
              </div>
              <div class="feedbackBtnContainer">
                <div *ngIf="audioSource">
                  <audio [src]="audioSource" id="audio" controls #audioTag class="audioPlayer"></audio>
                </div>
              </div>
            </div>
        </div>
  </div>
</div>