.container {
    width: 600px;
}

.header {
    margin-bottom: 60px;
}

.quote {
    font-size: 12pt;
    font-style: italic;
}

.author {
    font-style: normal;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fileDownloadBtn {
    padding: 5px;
    background-color: var(--scealai-green);
    color: white;
    border-radius: 4px;
    margin-bottom: 10px;
}

.fileDownloadBtn:hover {
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .container {
        width: 95%;
    }
    .aboutContent {
        font-size: 10pt;
    }
    .header {
        font-size: 15pt;
    }
    .quote {
        font-size: 10pt;
    }
}