<div class="container">
  <div class="header">
    {{ts.l.about_an_scealai}}
    <div class="quote">
      "{{ts.l.about_quote}}" <br/> - <span class="author">{{ts.l.about_quote_author}}</span>
    </div>
  </div>
  <div class="aboutContent">
    <div class="headerTitle">{{ts.l.what_is_an_scealai}}</div>
    {{ts.l.about_content_text}}
    <br/>
    <br/>
    {{ts.l.about_content_text_academic}}
  </div>
  <div class="buttonContainer">
    <a href="assets/pdf/paper1.pdf" class="fileDownloadBtn" download>{{ts.l.academic_paper}} <i class="fas fa-download"></i></a>
    <a href="assets/pdf/User_guide.pdf" class="fileDownloadBtn" download>{{ts.l.user_guide}} <i class="fas fa-download"></i></a>
  </div>
</div>
