.container {
    width: 95%;
}

.header {
    margin-bottom: 60px;
}

.quote {
    font-size: 12pt;
    font-style: italic;
}

.author {
    font-style: normal;
}

.fileDownloadBtn {
    padding: 5px;
    background-color: var(--scealai-green);
    color: white;
    border-radius: 4px;
    margin-bottom: 10px;
    text-decoration: none;
    text-align: center;
}

.fileDownloadBtn:hover {
  color: var(--scealai-light-green);
  cursor: pointer;
  -webkit-transition: 0.5s; /* Safari */
  transition: 0.5s;
}

.textContent {
  font-size: 12pt;
}

.paperHeader {
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 12pt;
}

.panel {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.panelTitle {
  width: 50%;
}

@media only screen and (max-width: 700px) {
    .container {
        width: 95%;
    }
    .aboutContent {
        font-size: 10pt;
    }
    .header {
        font-size: 15pt;
    }
    .quote {
        font-size: 10pt;
    }
}