.container {
    width: 600px;
    background-color: white;
    border-radius: 4px;
    padding-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
}

.header {
    width: 100%;
    font-size: 20pt;
    height: 50px;
    margin-bottom: 60px;
}

.quote {
    font-size: 12pt;
    font-style: italic;
}

.author {
    font-style: normal;
}

.content {
    text-align: left;
}

.pdfViewer {
    width: 100%;
    height: 700px;
}

.headerTitle {
    font-size: 14pt;
    font-weight: bold;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fileDownloadBtn {
    padding: 5px;
    background-color: var(--scealai-green);
    color: white;
    border-radius: 4px;
    margin-bottom: 10px;
}

.fileDownloadBtn:hover {
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .container {
        width: 95%;
    }
    .content {
        font-size: 10pt;
    }
    .header {
        font-size: 15pt;
    }
    .quote {
        font-size: 10pt;
    }
}