.synthesisContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.synthesisHeader {
    padding: 20px;
    background-color: var(--scealai-green);
    color: white;
    display: flex;
}

.closeDictionaryBtn {
    margin-left: auto;
}

.closeDictionaryBtn:hover {
    cursor: pointer;
}

.synthVoiceContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.speedButton:hover {
    cursor: pointer;
}

.synthButtonContainer {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.synthButton {
    padding: 5px;
    border-radius: 5px;
    border: none;
    min-width: 100px;
    text-align: center;
    background-color: var(--scealai-green);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.synthButton:hover:enabled{
    color: var(--scealai-light-green)
}

.spinner-grow {
    width: 1rem;
    height: 1rem;
}