<!-- Displays selected classroom details -->
<div class="contents">
    <!-- Nav bar and students container-->
    <div class="classContainer">
      <!-- Nav bar -->
      <div class="classHeader">
        <div class="backArrow" routerLink="/teacher/dashboard"><i class="fas fa-arrow-left"></i></div>
        {{ts.l.classrooms}}
      </div>
      
      <!--Classroom title -->
        <div class="classTitle">
          <h2>  {{classroom?.title}} </h2>
          <i class="fas fa-edit headerIconBtn" (click)="openUpdateClassroomDialog()"></i>
        </div>
        
        <!-- List of students -->
        <h5 class="studentsHeader"> Students Enrolled </h5>
        <mat-card class="studentsList">
          <div class="classBody">
            <div class="classCard" *ngFor="let student of students">
              <div>{{student.username}}</div>
              <i class="fa fa-times deleteX" aria-hidden="true" (click)="removeStudent(student._id)"></i>
            </div>
          </div>
        </mat-card>
        
        <!-- Grammar Options -->
        <h5 class="studentsHeader"> Grammar Checker Options </h5>
        <h6 style="text-align:left; margin-left:5%; padding-bottom:10px;"> Select which grammar checkers you would like your students to use. </h6>
        <div class="checkBoxes">
          <span><input [(ngModel)]="checkerSelection.anGramadoir" (ngModelChange)="changesSaved = false;" type="checkbox"> An Gramadoir</span>
          <span><input [(ngModel)]="checkerSelection.relativeClause" (ngModelChange)="changesSaved = false;" type="checkbox"> Relative Clause</span>
          <span><input [(ngModel)]="checkerSelection.genitive" (ngModelChange)="changesSaved = false;" type="checkbox"> Genitive Checker</span>
          <span><input [(ngModel)]="checkerSelection.broadSlender" (ngModelChange)="changesSaved = false;" type="checkbox"> Broad/Slender Checker</span>
        </div>
        <div class="saveBtn"> <button class="greenBtn" (click)="updateCheckers()"> {{changesSaved? ts.l.saved : ts.l.save}} </button> </div>
    </div>
  </div>