<div class="homeContainer">
  <div class="appCards">
    <mat-card routerLink="/student/dashboard" class="dashButton main">
      <mat-card-header>
        <mat-card-title> {{ ts.l.story_dashboard }} </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{ ts.l.story_dashboard_description }}
      </mat-card-content>
    </mat-card>

    <mat-card (click)="goToStats()" class="dashButton main">
      <mat-card-header>
        <mat-card-title> {{ ts.l.statistics_dashboard }} </mat-card-title>
      </mat-card-header>
      <mat-card-content> {{ ts.l.statistics_description }} </mat-card-content>
    </mat-card>

    <mat-card
      *ngIf="isEnrolled"
      (click)="goToMessages()"
      class="dashButton main"
    >
      <mat-card-header>
        <mat-card-title> {{ ts.l.messages }} </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{ ts.l.messages_description }}
      </mat-card-content>
    </mat-card>

    <div>
      <mat-card routerLink="/dictogloss" class="dashButton main">
        <mat-card-header>
          <mat-card-title> {{ ts.l.dictogloss_snatu }} </mat-card-title>
        </mat-card-header>
        <mat-card-content> {{ ts.l.dictogloss_description }} </mat-card-content>
      </mat-card>
      <br /><br />

      <a
        href="https://bat-mirialta.detail-design-develop.com/applications/bat-mirialta/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <mat-card class="dashButton main">
          <mat-card-header>
            <mat-card-title> An Bat Mírialta </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            {{ ts.l.bat_mirialta_description }}
          </mat-card-content>
        </mat-card>
      </a>
    </div>

    <mat-card class="dashButton">
      <mat-card-header>
        <mat-card-title> LARA </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div style="padding-bottom: 10px">{{ ts.l.lara_description }}</div>
        <mat-card routerLink="/about-lara" class="dashSubButton">
          <mat-card-content> {{ ts.l.what_is_LARA }} </mat-card-content>
        </mat-card>
        <mat-card routerLink="/resources" class="dashSubButton">
          <mat-card-content> {{ ts.l.irish_stories }} </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashButton">
      <mat-card-header>
        <mat-card-title> Cén Scéal </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div style="padding-bottom: 10px">
          {{ ts.l.cen_sceal_description }}
        </div>
        <mat-card routerLink="/prompts/general" class="dashSubButton">
          <mat-card-content> {{ ts.l.general_prompts }} </mat-card-content>
        </mat-card>
        <mat-card routerLink="/prompts/proverb" class="dashSubButton">
          <mat-card-content> {{ ts.l.proverb_prompts }} </mat-card-content>
        </mat-card>
        <mat-card routerLink="/prompts/exam" class="dashSubButton">
          <mat-card-content> {{ ts.l.exam_prompts }} </mat-card-content>
        </mat-card>
        <mat-card routerLink="/prompts/lara" class="dashSubButton">
          <mat-card-content> {{ ts.l.lara_prompts }} </mat-card-content>
        </mat-card>
        <mat-card routerLink="/prompts/combination" class="dashSubButton">
          <mat-card-content>
            {{ ts.l.combination_generator }}
          </mat-card-content>
        </mat-card>
        <mat-card routerLink="/prompts/pos" class="dashSubButton">
          <mat-card-content>
            {{ ts.l.part_of_speech_generator }}
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>
</div>
