.homeContainer {
    padding: 50px;
}

.appCards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
}


mat-card {
    text-align: left;
    background-color: rgba(#70a87f, 0.3);
}

mat-card-title {
    margin-left: -15px;
}

.dashButton {
    width: 500px;
    min-width: 500px;
}

.dashSubButton {
    margin-bottom: 10px;
}

.main:hover,
.dashSubButton:hover {
    background-color: rgba(#568162, 0.3);
    cursor: pointer;
}

a {
    text-decoration: none;
}

@media (max-width: 700px) {
    .dashButton {
        width: 300px;
        min-width: 300px;
    }
}