.homeContainer {
    padding: 50px;
}

.appCards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 4rem;
}

mat-card {
    //width: 500px;
    text-align: left;
    background-color: rgba(#70a87f, 0.3);
}

mat-card:hover {
    cursor: pointer;
}

.dashButton {
    width: 500px;
}

a {
    text-decoration: none; /* Remove underline from the link */
    cursor: pointer;
}