.homeContainer {
    padding: 50px;
}

.appCards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
}


mat-card {
    text-align: left;
    background-color: rgba(#70a87f, 0.3);
}

.dashButton {
    width: 500px;
    min-width: 500px;
}

.dashSubButton {
    margin-bottom: 10px;
}

.main:hover,
.dashSubButton:hover {
    background-color: rgba(#568162, 0.3);
    cursor: pointer;
}

a {
    text-decoration: none; /* Remove underline from the link */
    cursor: pointer;
}