* {
    box-sizing: border-box;
  }

  .content {
    text-align: center;
    margin-top: 10%;
}

  .logo {
    width: 160px;
    height: auto;
    margin-top: -10px;
    }

    .navBtn {
        color: #FFFFFF;
        display: block;
        line-height: 2em;
        padding: 0.5em 0.5em;
        text-decoration: none;
        display: inline-block;
    }
    
    .navBtn:hover {
        color: #91ffa5;
        display: inline-block;
        line-height: 2em;
        padding: 0.5em 0.5em;
        text-decoration: none;
        -webkit-transition: 1s; /* Safari */
        transition: 1s;
    }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: #70a87f;
    position: relative;
    -webkit-box-shadow: 0px -3px 32px 10px rgba(0,0,0,0.31);
-moz-box-shadow: 0px -3px 32px 10px rgba(0,0,0,0.31);
box-shadow: 0px -3px 32px 10px rgba(0,0,0,0.31);
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > #nav-check {
    display:none;
  }

  @media (max-width:550px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: #437250;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 4px solid #ffffff;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #437250;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
      webkit-box-shadow: 0px 17px 20px -2px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 17px 20px -2px rgba(0,0,0,0.31);
box-shadow: 0px 17px 20px -2px rgba(0,0,0,0.31);
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(32vh - 50px);
        overflow-y: auto;
    }
  }