<ng2-slim-loading-bar color="green"></ng2-slim-loading-bar>
<div class="page">
    <div class="nav">
        <input type="checkbox" id="nav-check" [checked]="checkVal">
        <div class="nav-header">
        <div class="nav-title">
            <a routerLink="/landing"><img src="assets/img/logo-navbar.png" class="logo"></a>
        </div>
        </div>
        <div class="nav-btn" (click)="changeCheck()">
        <label>
            <span></span>
            <span></span>
            <span></span>
        </label>
        </div>
            <div class="nav-links">
                <a routerLink="/contents" class="navBtn" (click)="changeCheck()">{{ts.l.my_stories}}</a>
                <a routerLink="/about" class="navBtn" (click)="changeCheck()">{{ts.l.about}}</a>
                <a routerLink="/technology" class="navBtn" (click)="changeCheck()">{{ts.l.technology}}</a>
                <a *ngIf="!auth.isLoggedIn()" routerLink="/login" class="navBtn rightNavBtn" (click)="changeCheck()">{{ts.l.sign_in}}</a>
                <div *ngIf="auth.isLoggedIn()" class="rightNavBtn">
                    <a routerLink="/profile" class="navBtn" (click)="changeCheck()">{{auth.getUserDetails()?.username}} <i class="fas fa-user"></i></a>
                    <div class="notificationBtn" *ngIf="storiesForNotifications && storiesForNotifications.length > 0" (click)="showNotifications()">{{storiesForNotifications.length}}</div>
                </div>
            </div>
            <div *ngIf="notificationsShown && storiesForNotifications.length > 0" class="optionsPopup notifcationPopup">
                <div class="notificationsHeader">{{ts.l.new_feedback}}</div>
                <div class="notificationsBody">
                    <div *ngFor="let story of storiesForNotifications" class="notificationCard" (click)="goToStory(story.id)">
                        {{story.title}}
                    </div>
                </div>
            </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>