<!-- main page where all of the components are displayed over -->
<ng2-slim-loading-bar color="green"></ng2-slim-loading-bar>
<div class="page">
  <!-- nav bar at the top of the page -->
    <div class="nav">
        <input type="checkbox" id="nav-check" [checked]="checkVal">
        <!-- logo -->
        <div class="nav-header">
          <!-- redirect to the landing component for login / register -->
          <div class="nav-title">
              <a routerLink="/landing"><img src="assets/img/logo-navbar.png" class="logo"></a>
          </div>
        </div>
        <!-- not sure yet -->
        <div class="nav-btn" (click)="changeCheck()">
            <label *ngIf="!checkVal">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <div *ngIf="checkVal" class="closeMenu">
                <div>
                    <i class="fas fa-times closeMenuTimes"></i>
                </div>
            </div>
            
            <div class="notificationBtn menuNotificationBtn" *ngIf="!checkVal && storiesForNotifications && storiesForNotifications.length > 0" (click)="changeCheck()"></div>
        </div>
        <!-- links on the nav bar -->
        <div class="nav-links">
            <a *ngIf="auth.isLoggedIn() && auth.getUserDetails().role === 'STUDENT'" routerLink="/contents" class="navBtn" (click)="changeCheck()">{{ts.l.my_stories}}</a>
            <a *ngIf="auth.isLoggedIn() && auth.getUserDetails().role === 'TEACHER'" routerLink="/teacher/dashboard" class="navBtn" (click)="changeCheck()">{{ts.l.my_classrooms}}</a>
            <a *ngIf="auth.isLoggedIn() && auth.getUserDetails().role === 'ADMIN'" routerLink="/admin/dashboard" class="navBtn" (click)="changeCheck()">{{ts.l.admin_dashboard}}</a>
            <a routerLink="/about" class="navBtn" (click)="changeCheck()">{{ts.l.about}}</a> 
            <a routerLink="/technology" class="navBtn" (click)="changeCheck()">{{ts.l.technology}}</a>
            <a routerLink="/resources" class="navBtn" (click)="changeCheck()">{{ts.l.resources}}</a>
            <a href="../assets/pdf/User_guide.pdf" class="navBtn" download>{{ts.l.user_guide}}</a>
            <!-- Change language dropdown and login button-->
            <div class="navBtn rightNavBtn">
              <div ngbDropdown #myDrop="ngbDropdown">
                <button class="btn languageBtn" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()" onclick="this.blur();">{{currentLanguage}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                  <button ngbDropdownItem (click)="changeToEnglish()"> English </button>
                  <button ngbDropdownItem (click)="changeToIrish()"> Gaeilge </button>
                </div>
              </div>
              <a *ngIf="!auth.isLoggedIn()" routerLink="/login" class="btn languageBtn" (click)="changeCheck()" onclick="this.blur();">{{ts.l.sign_in}}</a>
              <div *ngIf="auth.isLoggedIn()" class="">
                  <a routerLink="/profile" (click)="changeCheck()" class="btn languageBtn" onclick="this.blur();">{{auth.getUserDetails()?.username}} <i class="fas fa-user"></i></a>
                  <div class="notificationBtn" *ngIf="auth.getUserDetails().role === 'STUDENT' && storiesForNotifications && storiesForNotifications.length > 0 && messagesForNotifications" (click)="showNotifications()">{{storiesForNotifications.length + messagesForNotifications.length}}</div>
                  <div class="notificationBtn" *ngIf="auth.getUserDetails().role === 'STUDENT' && storiesForNotifications.length == 0 && messagesForNotifications.length > 0 " (click)="showNotifications()">{{messagesForNotifications.length}}</div>
                  <div class="notificationBtn" *ngIf="auth.getUserDetails().role === 'TEACHER' && teacherMessagesForNotifications && teacherMessagesSum > 0 " (click)="showNotifications()">{{teacherMessagesSum}}</div>
              </div>
            </div>
          
        </div>
        <!-- notification container for STUDENTS if button clicked-->
        <div *ngIf="notificationsShown && (storiesForNotifications.length > 0 || messagesForNotifications.length > 0)" class="optionsPopupOld notifcationPopup">
            <div *ngIf="storiesForNotifications.length > 0" class="notificationsHeader">{{ts.l.new_feedback}}</div>
            <div class="notificationsBody">
                <div *ngFor="let story of storiesForNotifications" class="notificationCard" (click)="goToStory(story.id)">
                    {{story.title}}
                </div>
            </div>
            <div class="notificationsHeader" *ngIf="notificationsShown && messagesForNotifications.length > 0">{{ts.l.new_messages}}</div>
            <div class="notificationsBody">
                <div *ngFor="let message of messagesForNotifications" class="notificationCard" (click)="goToMessages(message.senderId)">
                    {{message.subject}}
                </div>
            </div>
        </div>
        <!-- notification container for TEACHER messages if button clicked -->
        <div *ngIf="notificationsShown && auth.isLoggedIn() && auth.getUserDetails().role === 'TEACHER'" class="optionsPopupOld notifcationPopup">
          <div class="notificationsHeader">{{ts.l.new_messages}}</div>
          <div class="notificationsBody" *ngFor="let message of teacherMessagesForNotifications | keyvalue">
              <div *ngIf="message.value > 0" class="notificationCard" (click)="goToMessages(message.key._id)">
                  {{message.key.title}} -- {{message.value}}
              </div>
          </div>
        </div>
        
    </div>
    <!-- add component here given a specific route -->
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>