<div id="commentContainer" class="commentContainer">
  <textarea
    #commentIndex
    class="commentText"
    [(ngModel)]="comment.text"
    [disabled]="!isEditing"
    (click)="$event.stopPropagation()"
    (blur)="saveCommentText()"
    >{{ comment.text }}</textarea
  >

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="deleteComment()">
      <mat-icon>delete</mat-icon>
      <span>{{ ts.l.delete }}</span>
    </button>
    <button mat-menu-item (click)="editCommentText()">
      <mat-icon>create</mat-icon>
      <span> Edit </span>
    </button>
  </mat-menu>
</div>
