.commentContainer {
    text-align: left;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 10pt;
    word-wrap: break-word;
    display: flex;
    height: 100%;
}

.commentContainer:hover {
    background-color:rgba(0,0,0,.04);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.commentText {
    width: 100%;
    resize: none;
    background-color: white;
}

.commentText:disabled {
    cursor: pointer;
}