<div id="commentContainer" class="commentContainer">
  <button mat-icon-button [matMenuTriggerFor]="menu" style="float: right">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item >
      <mat-icon>delete</mat-icon>
      <span>{{ ts.l.delete }}</span>
    </button>
    <button mat-menu-item (click)="editCommentText()">
      <mat-icon>create</mat-icon>
      <span> Edit </span>
    </button>
  </mat-menu>
  <div [attr.id]="commentIndex" (blur)="saveCommentText()" (keydown.enter)="saveCommentText()" >
    {{comment.comment}}
  </div>
</div>
