.adminTitle {
    font-size: 20pt;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #304e38;
    border-radius: 5px 5px 0px 0px;
}

.content {
    width: 90%;
    margin-left: 5%;
    height: 80vh;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
}

.backArrow {
    margin-right: 8px;
    float: left;
}

.backArrow:hover {
    cursor: pointer;
    color:#ff9100;
    transition: color, 0.5s;
}


@media (max-width:550px) {
    .content {
        margin-top: 0vh;
    }
}