<!-- HEADER -->
<div class="storyTitleHeader">
  <!-- CLASSROOM TITLE -->
  <div class="storyTitleContainer">
    <div>Classroom Title</div>
  </div>
</div>

<!-- CLASSROOM DRAWER BUTTON-->
<span class="menuButton material-symbols-outlined">menu</span>

<!-- BODY CONTAINER-->
<mat-drawer-container class="bodyDrawerContainer" autosize>
  <!-- CLASSROOM LIST DRAWER-->

  <!-- CLASSROOM OPTIONS TOOL BAR -->
  <div>
    <div class="teacherOptionsBtnContainer">
      <!-- SHARE CODE -->
      <div class="optionsBtn">
        {{ ts.l.share_code }}
        <i class="fas fa-share-alt headerIcon"></i>
      </div>

      <!-- STATISTICS -->
      <div class="optionsBtn">
        {{ ts.l.stats }}
        <i class="fas fa-calculator optionsBtnIcon"></i>
      </div>

      <!-- MESSAGES -->
      <div class="optionsBtn">
        {{ ts.l.messages }}
        <i class="fa fa-envelope optionsBtnIcon"></i>
      </div>

      <!-- DICTOGLOSS -->
      <div class="optionsBtn">
        {{ ts.l.dictogloss }}
        <i class="fas fa-file-audio optionsBtnIcon"></i>
      </div>

      <!-- SETTINGS -->
      <div class="optionsBtn">
        {{ ts.l.settings }}
        <i class="fas fa-cog optionsBtnIcon"></i>
      </div>
    </div>
  </div>

  <!-- BODY -->
  <div class="storyAndCommentsContainer">
    <div class="storyTitleContainer">
      <div class="storyTitleAndDate">
        <div>{{ story.title }}</div>
        <div>({{ story?.date | date : "dd/MM/yyyy, hh:mm aa" }})</div>
        <button class="commentButton"> <i class="fa-solid fa-message" (click)="createComment()"></i></button>
        
      </div>
      <div><i class="fa-solid fa-times closeFeedbackButton"></i></div>
    </div>
    <div class="quillAndCommentsContainer">
      <div class="quillContainer">
        <quill-editor
          placeholder=""
          [modules]="config"
          [preserveWhitespace]="true"
          [debounceTime]="1500"
          [(ngModel)]="story.feedback.feedbackMarkup"
          (onEditorCreated)="onEditorCreated($event)"
          (onSelectionChanged)="showInlineCommentButton($event)"
        ></quill-editor>
      </div>

      <div class="commentsContainer">
        <div id="comments-container" class="commentsList">
          <app-feedback-comment
            *ngFor="let comment of commentsList; let i = index"
            class="comment"
            (click)="highlightCommentReferenceInQuill(i)"
            [comment]="comment"
            [commentIndex] = "i"
            (deleteEmitter)="deleteComment(i, comment)"
            (editTextEmitter)="editCommentText()"
          >
          </app-feedback-comment>
        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>
