.content {
    width: 90%;
    margin-left: 5%;
    padding-top: 3vh;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.generateCodeTitle {
    font-size: 14pt;
    display: flex;
    justify-content: center;
}

.userInfoDisplay {
    width:30%;
    margin-left: 30%;
    margin-top: 2vh;
}

.userInfo {
    float: right;
    display: flex;
    align-items: center;
}

.userInfoTextarea {
    background-color: var(--scealai-gray);
}

.buttonContainer {
  padding-top: 15px;
}

.deleteAccountButton {
  background-color: var(--delete-red-2);
  font-size: 12pt;
  border-radius: 10px 10px 10px 10px;
}

.deleteAccountButton:hover {
    background-color: var(--delete-red-2-hover);
    transition: 0.5s;
}

.contentBody {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.teacherAccountsContainer {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

.teacherAccountsDisplay {
    margin-top: 4vh;
    width: 100%;
    height: 45vh;
    background-color: var(--scealai-gray);
    border-radius: 5px 5px 5px 5px;
}

.teacherAccountsHeader {
    font-size: 14pt;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--scealai-dark-green);
    border-radius: 5px 5px 0px 0px;
}

.teacherAccountsBody {
    padding: 10px;
    padding-bottom: 0px;
    text-align: left;
    overflow: auto;
    height: 40vh;
}

.activeTeacherCodeContainer {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
}

.whiteBtn:hover {
    color:white;
    background-color: var(--scealai-med-brown-hover);
    cursor: pointer;
}

.studentCount {
    margin-left: auto;
}

.eventContainerHeader {
    justify-content: space-between;
}

.maximiseIconContainer {
    margin-right: 8px;
}

.dateTextContainer {
    display: flex;
    align-items: center;
    width: 100%;
    color: #777777;
    margin-bottom: 10px;
}

.dateText {
  padding-left: 10px;
  padding-right: 10px;
}


.dateLine {
  height: 1px;
  background-color: #777777;
  width: 50%;
}

.eventContainer {
    flex-direction: column;
}

.eventHeader {
    display: flex;
}

.eventTime {
    margin-left: auto;
}

.eventBody {
    display: flex;
    flex-direction: column;
}

.mainEventBody {
    border-top: 1px solid var(--scealai-gray);
}

.storyLink {
    color: black;
    color: inherit;
}

.storyLink:hover {
    text-decoration: none;
    color: #53ff81;
    text-decoration: underline;
}

.storyLinkIcon {
    margin-left: 5px;
}


.hidden {
    visibility: hidden;
    opacity: 0;
}

.hiddenFade {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease-in;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.visibleFade {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s ease-out;
}
