* {
  box-sizing: border-box;
}

.placeHolderText {
  color: var(--scealai-light-gray);
}

.invisibleBackground {
  background-color: rgba(0,0,0,0);
}

.appContainer {
  height: 94%;
}

.clickableText:hover {
  background-color: rgba(250, 10, 10, 200);
}

.content {
  text-align: center;
  margin-top: 55px;
  margin-bottom: 2vh;
  min-height: 93%;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 115px;
  height: auto;
  margin-top: -12.5px;
}

.navBtn {
  color: #FFFFFF;
  display: block;
  line-height: 2em;
  padding: 0.5em 0.5em;
  text-decoration: none;
  display: inline-block;
}

.navBtn:hover {
  color: var(--scealai-light-green);
  line-height: 2em;
  padding: 0.5em 0.5em;
  text-decoration: none;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}

.nav {
  height: 50px;
  width: 100%;
  padding-top: 2.5px;
  background-color: var(--scealai-green);
  position: relative;
  // -webkit-box-shadow: 0px -3px 32px 10px rgba(0,0,0,0.31);
  // -moz-box-shadow: 0px -3px 32px 10px rgba(0,0,0,0.31);
  // box-shadow: 0px -3px 32px 10px rgba(0,0,0,0.31);
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > #nav-check {
  display:none;
}

.rightNavBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 20px;
}

// TODO: Does this actually affect the style?
.mat-badge-content {
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.profileBtnContainer {
  display: flex;
  align-items: center;
}

.navbarBtn {
  background-color: transparent;
  color: #FFFFFF;
  font-size: 12pt;
}

.navbarBtn:hover {
  cursor: pointer;
  color: var(--scealai-light-green);
}

.userGuide {
  color: black;
  text-decoration: none;
}

.notificationPopup {
  position: absolute;
  top: 40px;
  right: 10px;
  display: flex;
  flex-direction: column;
}

.notificationsHeader {
  width: 100%;
  color: white;
  background-color: var(--scealai-med-green);
  padding: 4px;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
}

.optionsPopupOld {
  z-index: 10;
  width: 180px;
  top: 40px;
  right: 20px;
  position: fixed;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--scealai-cream-2);
  -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.61);
  -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.61);
  box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.61);
  border-radius: 5px;
}

.optionsPopupOld:after {
  content: '';
  position: absolute;
  top: 0px;
  right: 25px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: var(--scealai-med-green);
  border-top: 0;
  margin-left: -10px;
  margin-top: -10px;
}

.notificationsBody {
  display: flex;
  flex-direction: column;
  padding: 4px;
  padding-top: 0px;
  width: 100%;
}

.notificationCard {
  background-color: var(--scealai-green);
  color: white;
  border-radius: 5px;
  margin-top: 4px;
  width: 100%;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.notificationCard:hover {
  cursor: pointer;
  color: var(--scealai-light-green);
  -webkit-transition: 0.5s; /* Safari */
  transition: 0.5s;
}

@media (max-width:1150px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: var(--scealai-med-green);
  }

  .closeMenu {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--scealai-med-green);
  }
  
  .closeMenuTimes {
    font-size: 22pt;
    color: white;
  }

  .menuNotificationBtn {
    z-index: 30;
    position: absolute;
    top: 10px;
    right: 8px;
    width: 14px;
    height: 14px;
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 4px solid #ffffff;
  }

  .nav > .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--scealai-med-green);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;

    right: 0px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-shadow: 0px 17px 20px -2px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 17px 20px -2px rgba(0,0,0,0.31);
    box-shadow: 0px 17px 20px -2px rgba(0,0,0,0.31);
  }

  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }

  .rightNavBtn {
    position: static;
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-bottom: 10px;

  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
    z-index: 30;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: fit-content;
    z-index: 30;
    overflow-y: auto;
  }

  .notificationPopup {
    position: absolute;
    top: 220px;
    right: 0px;
    display: flex;
    flex-direction: column;
  }

  .notificationsHeader {
    width: 100%;
    color: white;
    background-color: var(--scealai-med-green);
    padding: 4px;
    border-radius: 0px;
    text-align: center;
  }

  .optionsPopupOld {
    z-index: 50;
    width: 50%;
    position: fixed;
    margin-top: 25px;
    display: flex;
    align-items: center;
    background-color: var(--scealai-cream-2);
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.61);
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.61);
    border-radius: 0px 0px 5px 5px;
  }

  .optionsPopupOld:after {
    display: none;
  }
}
