.custom-tooltip::before {
    content: none !important;
}

/* Gramadoir error tag colour coding */
span[data-gramadoir-tag] {
  border-radius: 4px;
}

span[data-gramadoir-tag="default"] {
    background-color: #aed9ff; 
}

span[data-gramadoir-tag="default"] > * {
    background-color: #aed9ff; 
}

span[data-gramadoir-tag="SEIMHIU"] {
    background-color: #a6dfc2;
}

span[data-gramadoir-tag="CLAOCHLU"] {
    background-color: #d1c3eb;
}

span[data-gramadoir-tag="CAIGHDEAN"] {
    background-color: #ffdc71;
}
