.custom-tooltip::before {
    content: none !important;
}

/* Gramadoir error tag colour coding */
[data-gramadoir-tag-style-type] {
}
span[data-gramadoir-tag-style-type] {
  border-radius: 3px;
}

span:not[data-gramadoir-tag-style-type] {
  border-radius: 0;
  padding-left: 0px;
  padding-right: 0px;
}

[data-gramadoir-tag-style-type="default"] {
    background-color: #aed9ff; 
}

[data-gramadoir-tag-style-type="default"] > * {
    background-color: #aed9ff; 
}

[data-gramadoir-tag-style-type="SEIMHIU"] {
    background-color: #a6dfc2;
}

[data-gramadoir-tag-style-type="CLAOCHLU"] {
    background-color: #d1c3eb;
}

[data-gramadoir-tag-style-type="CAIGHDEAN"] {
    background-color: #ffdc71;
}

[data-vowel-agreement-tag] {
  background-color: lightpink;
}
