.custom-tooltip::before {
    content: none !important;
}

[data-selected] {
  box-shadow: 2px 2px;
  margin: 0.3em;
}

[data-vowel-agreement-tag]
{
  border-radius: 0;
  border: 1px solid gray;
}

[data-genitive-tag]
{
    background-color: darkcyan;
    color: white;
    border-radius: 3px;
}

[data-genitive-tag]:hover
{
    cursor: pointer;
}

/* Gramadoir error tag colour coding */
[data-gramadoir-tag-style-type] {
}
[data-gramadoir-tag-style-type]
/*:not([data-vowel-agreement-tag])*/
{
  border-radius: 3px;
}

span[data-gramadoir-tag-style-type]:hover
/*:not([data-vowel-agreement-tag])*/
{
  cursor: pointer;
}

span:not[data-gramadoir-tag-style-type] {
  border-radius: 0;
  padding-left: 0px;
  padding-right: 0px;
}

[data-gramadoir-tag-style-type]
{
    background-color: #FFA3A3;  /* lightpink */
}

[data-gramadoir-tag-style-type="rare"]
{
    background-color: steelblue;
    color: white;
}

[data-gramadoir-tag-style-type="vocabulary"]
{
    background-color: lightblue;
}

[data-gramadoir-tag-style-type="wrongNumber"]
{
    background-color: mediumspringgreen; 
}

[data-gramadoir-tag-style-type="article"]
{
    background-color: coral;
}

[data-gramadoir-tag-style-type="genitive"]
{
    background-color: darkcyan;
    color: white;
}

[data-gramadoir-tag-style-type="SEIMHIU"]
{
    background-color: darkorchid;
    color: white;
}

[data-gramadoir-tag-style-type="CLAOCHLU"]
{
    background-color: #d1c3eb;
}

[data-gramadoir-tag-style-type="CAIGHDEAN"]
{
    background-color: #ffdc71;
}

[data-gramadoir-tag-style-type="CUPLA"],
[data-gramadoir-tag-style-type="KESUNYANS"]
{
    background-color: #fcd694;
}

[data-gramadoir-tag-style-type="DROCHMHOIRF"]
{
    background-color: #21E9E9;
}

[data-vowel-agreement-tag]
{
  border-radius: 0 !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-color: rgba(255,255,100,0.8);
}
