.contents {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}

.classContainer {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    height: 80vh;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
}

.classHeader {
    width: 100%;
    background-color: #304e38;
    border-radius: 5px 5px 0px 0px;
    color: white;
    display: flex;
    padding: 8px;
    padding-left: 16px;
    font-size: 16pt;
}

.classBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    padding-top: 0px;
    overflow: auto;
    height: 67.5vh;
}

.classroomCard {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px;
    color: white;
    font-size: 14pt;
    background-color: #534d3d;
    border-radius: 5px;
    margin-top: 5px;
}

.classroomCard:hover {
    color:#ff9100;
    background-color: #3b372b;
    transition: color, background-color, 0.5s;
    cursor: pointer;
}

.classroomKey {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #d1d1d1;
    color: #424242;
}

.notificationBtn {
    margin-left: 5px;
    background-color: #bd2323;
    color: white;
    font-size: 8pt;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: inset 0px -9px 9px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px -9px 9px -14px rgba(0,0,0,0.75);
  box-shadow: inset 0px -9px 9px -14px rgba(0,0,0,0.75);
}

.headerIconContainer {
    margin-left: auto;
    display: flex;
    overflow-x: auto;
}

.headerIconBtn {
    font-size: 12pt;
    margin-left: 8px;
    background-color: #70a87f;
    border-radius: 5px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.headerIconBtn:hover {
    cursor: pointer;
    color: #91ffa5;
    -webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;
}

.headerIcon {
    margin-left: 5px;
}

.backArrow {
    margin-right: 8px;
}

.backArrow:hover {
    cursor: pointer;
    color:#ff9100;
    transition: color, 0.5s;
}

@media (max-width:550px) {

    .modalContent {
        margin-top: 10vh;
        width: 90%;
        margin-left: 5%;
    }

    .classHeader {
        font-size: 10pt;
    }

    .headerIconBtn {
        font-size: 10pt;
    }
}