.contents {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}

.backArrow {
    margin-right: 8px;
}

.backArrow:hover {
  cursor: pointer;
  color: var(--orange-text);
  transition: color, 0.5s;
}

.headerIconContainer {
    margin-left: auto;
    display: flex;
    overflow-x: auto;
}

.headerIconBtn {
    font-size: 12pt;
    margin-left: 8px;
    background-color: var(--scealai-green);
    border-radius: 5px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.headerIconBtn:hover {
    cursor: pointer;
    color: var(--scealai-light-green);
    -webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;
}

.headerIcon {
    margin-left: 5px;
}

.notificationBtn {
    margin-left: 5px;
    background-color: var(--notification-button);
    color: white;
    font-size: 8pt;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: inset 0px -9px 9px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -9px 9px -14px rgba(0,0,0,0.75);
    box-shadow: inset 0px -9px 9px -14px rgba(0,0,0,0.75);
}

.classroomKey {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    background-color: var(--scealai-gray);
    color: var(--scealai-dark-gray);
}

.classBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    padding-top: 0px;
    overflow: auto;
    height: 67.5vh;
}

.classroomCard {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px;
    color: white;
    font-size: 14pt;
    background-color: var(--scealai-med-brown);
    border-radius: 5px;
    margin-top: 5px;
}


.classroomCard:hover {
    color:var(--orange-text);
    background-color: var(--scealai-med-brown-hover);
    transition: color, background-color, 0.5s;
    cursor: pointer;
}

@media (max-width:550px) {
    .classHeader {
        font-size: 10pt;
    }

    .headerIconBtn {
        font-size: 10pt;
    }
}