<!-- Displays selected classroom details -->
<div class="contents">
    <!-- Nav bar and students container-->
    <div class="classContainer">
      <!-- Nav bar -->
      <div class="classHeader">
        <div class="backArrow" routerLink="/teacher/dashboard"><i class="fas fa-arrow-left"></i></div>
        {{classroom?.title}}
        <div class="headerIconContainer">
          <div *ngIf="studentIds.length > 0" class="headerIconBtn" (click)="goToMessages()"> {{ts.l.messages}} <i class="fa fa-envelope"></i><span class="notificationBtn" *ngIf="unreadMessages > 0">{{unreadMessages}}</span></div>
          <div *ngIf="studentIds.length > 0" class="headerIconBtn" (click)="goToStats()">{{ts.l.stats}} <i class='fas fa-calculator'></i></div>
          <div class="headerIconBtn" (click)="openCodeDialog()">{{ts.l.share_code}}<i class="fas fa-share-alt headerIcon"></i></div>
          <div class="headerIconBtn" (click)="openUpdateClassroomDialog()">{{ts.l.edit_classroom_title}} <i class="fas fa-edit headerIcon"></i></div>
          <div class="headerIconBtn" (click)="openDeleteClassroomDialog()">{{ts.l.delete}} <i class="fas fa-trash-alt headerIcon"></i></div>
        </div>
      </div>
      <div class="classroomKey">
        <div>{{ts.l.student_username}}</div>
      </div>
      <!-- List of students -->
      <div class="classBody">
        <div class="classroomCard" *ngFor="let student of students" (click)="goToStudent(student._id)">
          <div>{{student.username}}</div>
          <i class="fas fa-arrow-right arrow"> {{numOfStories.get(student.username)}} </i>
        </div>
      </div>
    </div>
  </div>
