.contents {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}

.notificationBtn {
    display: inline-flex;
}

@media (max-width:550px) {
    .classHeader {
        font-size: 10pt;
    }

    .headerIconBtn {
        font-size: 10pt;
    }
}