<div>
  <mat-card>
    Listen to {{audioMessageRefs.length !== 1 ? 'these ' + audioMessageRefs.length + ' audio recordings.' : 'this audio recording.'}}
    In them, a narrator is describing a picture.
  </mat-card>
  <mat-card
    style="justify-content: center;">
    <ng-container
        *ngFor="let message of messages; let index = index">
      <dsc-listen
        [src]=message.src
        (finishPlaying)="nextMessage()"
        *ngIf="currentMessage === index">
      </dsc-listen>
    </ng-container>
    <mat-button-toggle-group name="chooseMessage" value="0">
      <mat-button-toggle
        *ngFor="let message of  messages; let index = index"
        (click)=selectMessage(index)
        value={{index}}
        >{{index + 1}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card>
</div>
<br>
<mat-card>
  <mat-card-title>
  Which picture was described?
  </mat-card-title>
  {{submittedImage}}
  {{correctImage}}
  <mat-card-content>
    <mat-button-toggle-group name="chooseImage">
      <mat-button-toggle
        *ngFor="let image of  possibleImages; let index = index"
        (click)=selectImage(index)
        [style.background-color]="getColor(image)"
        >{{index + 1}}
      </mat-button-toggle>
    </mat-button-toggle-group>
    <button mat-button
      class="primary"
      [disabled]="!selectedImage || correctImage"
      [style.background-color]="'lightgreen'"
      (click)=submit()>
      submit
    </button>
    <lib-ngx-image-zoom
      *ngIf=selectedImage
      [thumbImage]=toHref(selectedImage)
      [fullImage]=toHref(selectedImage)
      [enableLens]=true
      [lensWidth]=600
      [lensHeight]=600
      [magnification]=0.4
      [circularLens]=true
    ></lib-ngx-image-zoom>
    <button mat-button
      *ngIf=correctImage
      [style.background-color]="'lightblue'"
      (click)=nextGame()>
      Next game
    </button>
    <mat-card
      *ngIf="correctImage && correctImage !== submittedImage"
      [style.background-color]="'lightgreen'">
      <mat-card-title
        >
        Correct image:
        <lib-ngx-image-zoom
          [thumbImage]=toHref(correctImage)
          [fullImage]=toHref(correctImage)
          [enableLens]=true
          [lensWidth]=600
          [lensHeight]=600
          [magnification]=0.4
          [circularLens]=true
        ></lib-ngx-image-zoom>
      </mat-card-title>
    </mat-card>
  </mat-card-content>
</mat-card>
