Message {{currentMessage + 1}} of {{audioMessageRefs.length}}
<div>
  <ng-container
      *ngFor="let message of messages; let index = index">
    <dsc-listen
      [src]=message.src
      (finishPlaying)="nextMessage()"
      *ngIf="currentMessage === index">
    </dsc-listen>
  </ng-container>
  <div
    style="
      display: flex;
      flex-direction: row;
      ">
    <div
      *ngFor="let message of  messages; let index = index"
      (click)=selectMessage(index)
      class="selectable"
      [style.width]="'' + (100/audioMessageRefs.length) + '%'"
      [style.background-color]="(currentMessage === index) ? 'lightgreen' : 'gray'"
      >{{index + 1}}</div>
  </div>
</div>
<br>
<span style="
  display: grid;
  grid-template-columns: 4fr 2fr;
  ">
  <span style ="
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    ">
    <img
      *ngFor="let possibleImage of possibleImages; let index = index"
      [src]=possibleImage
      class="selectable"
      [style.width]="''+150/possibleImages.length+'%'"
      style="
        margin: 5px;
        padding: 5px;
        "
      (click)=selectImage(index) />
  </span>
  <span>
    <div
      *ngFor="let image of possibleImages; let index = index;">
      <lib-ngx-image-zoom
        *ngIf="selectedImage && selectedImage === image"
        [thumbImage]=image
        [fullImage]=image
        [enableLens]=true
        [lensWidth]=600
        [lensHeight]=600
        [magnification]=0.4
        [circularLens]=true
      ></lib-ngx-image-zoom>
    </div>
    <span *ngIf="!selectedImage"
      style="font-size: 20vw;">?</span>
  </span>
</span>
