Message {{currentMessage + 1}} of {{audioMessageRefs.length}}
<div>
  <ng-container
      *ngFor="let apiRef of  audioMessageRefs; let index = index">
    <description-game-listen
      [apiRef]=apiRef
      (finishPlaying)="nextMessage()"
      *ngIf="currentMessage === index">
    </description-game-listen>
  </ng-container>
  <div
    style="
      display: flex;
      flex-direction: row;
      ">
    <div
      *ngFor="let apiRef of  audioMessageRefs; let index = index"
      (click)=selectMessage(index)
      class="selectable"
      [style.width]="'' + (100/audioMessageRefs.length) + '%'"
      [style.background-color]="(currentMessage === index) ? 'lightgreen' : 'gray'"
      >{{index + 1}}</div>
  </div>
</div>
<br>
<span
  style="
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;">
  <span
    *ngFor="let possibleImage of possibleImages; let index = index"
    style="
      margin: 5px;
      padding: 5px;
      width: {{100/possibleImages.length}}%;
      height: {{100/possibleImages.length}}%;"
    (click)=selectImage(index)>
      <img
        style="
          margin: 0;
          padding: 0;
          max-width: 100%;
          max-height: 100%;"
        class="selectable"
        [src]=possibleImage />
  </span>
</span>
<div
  *ngFor="let image of possibleImages; let index = index;">
  <lib-ngx-image-zoom
    *ngIf="selectedImage && selectedImage === image"
    [thumbImage]=image
    [fullImage]=image
    [enableLens]=true
    [lensWidth]=600
    [lensHeight]=600
    [magnification]=0.4
    [circularLens]=true
  ></lib-ngx-image-zoom>
</div>
<span *ngIf="!selectedImage"
  style="font-size: 20vw;">?</span>
