span {
  margin: 20px;
};
input[type=radio]:checked {
  background-color: #c2dac8;
};

.selectable {
   margin: 0;
   padding: 0;
   opacity: 0.8;
 }
 .selectable:hover {
   background-color: white;
 }

mat-card {
  padding: 10px;
}

.mat-button-toggle-checked {
  font-weight: bold;
}
