/*
.bookImg {
    z-index: -10;
    --bookContainerHeight: 80vh;
    --bookContainerWidth: 70%;
    height: calc(var(--bookContainerHeight/2));
    width: var(--bookContainerWidth);
    position: fixed;
    right: 5%;
}
*/

.bookContainer {
    --bookContainerHeight: 80vh;
    --bookContainerWidth: 70%;
    height: calc(var(--bookContainerHeight/2));
    width: var(--bookContainerWidth);
    margin-left: 13%;
    -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.4); 
    box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.4);
    border-radius: 5px 5px 5px 5px;
    border: solid 2px #827662b8;
}

.contentsContainer {
  padding: 20px;
}

/*
.contentsContainer {
    padding-left: 3%;
    padding-right: 3%;
    height: 450px;
    width: 80%;
    margin-left: 10%;

    background: url("/assets/img/paperBg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    border-radius: 5px 5px 5px 5px;
}
*/

.bookContentsTitle {
    color: var(--dark-text);
    padding-left: 5%;
    padding-right: 5%;
    display: inline-block;
    font-size: 18pt;
}

.contentsTitleContainer {
    width: 100%;
    padding: 5px;
    display:flex;
    justify-content: space-between;
}

.contentsLinkTitle {
    float: left;
    margin-left: 1%;
    font-size: 14pt;
    color: var(--scealai-orange);
}

.contentsDateTitle {
    font-size: 14pt;
    color: var(--scealai-orange);
}

.contentsLinkContainer {
  height: 260px;
  overflow: auto;
  padding: 10px;
  background-color: #f7f2e7; 
  -webkit-box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.5);
  box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.5);
  border-radius: 5px 5px 5px 5px;
}

.contentSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deleteCheckbox {
    float:left;
    margin-right: 5px;
    margin-top: 5px;
}

.contentsLink {
    color: var(--dark-text);
    text-align: left;
    width: 50%;
    text-decoration: none;
}

.contentsLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.contentsDate {
    color: var(--dark-text);
}

.contentsBtnsContainer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.deleteBtn {
    background-color: var(--scealai-yellow);
    border-style: none;
    color: white;
    margin: 0px;
    /* float: left; */
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-top: 2px;
    height: 38px;
    margin-right: 4px;
    border-radius: 5px 5px 5px 5px;
}

.deleteBtn:hover {
    background-color: var(--scealai-yellow-hover);
}

.deleteModeBtn {
    background-color: var(--delete-red);
}

.deleteModeBtn:hover {
    background-color: var(--delete-red-hover);
}

.trashImg {
    width: 24px;
}

.messagesBtn {
    background-color: var(--scealai-yellow);
    border-style: none;
    color: white;
    font-size: 12pt;
    border-radius: 5px 5px 5px 5px;
    display: flex;
}

.messagesBtn:hover {
    background-color: var(--scealai-yellow-hover);
    color: white;
}

.notificationBtn {
    margin-left: 5px;
    background-color: var(--notification-button);
    color: white;
    font-size: 8pt;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: inset 0px -9px 9px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -9px 9px -14px rgba(0,0,0,0.75);
    box-shadow: inset 0px -9px 9px -14px rgba(0,0,0,0.75);
}

.newStoryBtn {
    background-color: var(--scealai-yellow);
    border-style: none;
    color: white;
    font-size: 12pt;
    margin: 0px;
    border-radius: 5px 5px 5px 5px;
}

.newStoryBtn:hover {
    background-color: var(--scealai-yellow-hover);
    color: white;
}

@media only screen and (max-width: 700px) { 
    .bookImg {
        display: none;
    }
    .bookContentsContainer {
        width: 95%;
        padding-top: 10px;
        margin-left: 2.5%;
        z-index: 10;
    }
    .contentsContainer {
       width: 90%;
       margin-left: 5%;
    }
    .contentsLinkContainer {
        height: 270px;
        padding-top: 10px;
    }
    .contentsLinkTitle {
        font-size: 12pt;
    }

    .contentsDateTitle {
        font-size: 12pt;
    }
    .optionsPopupBtn {
        padding: 5px;
        padding-top: 2px;
        margin: 0px;
        height: 30px;
        margin-right: 4px;
        font-size: 12pt;
    }

    .deleteBtn {
        background-color: var(--scealai-yellow);
        border-style: none;
        color: white;
        margin: 0px;
        float: left;
        padding-left: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-top: 0px;
        height: 30px;
        margin-right: 4px;
        border-radius: 5px 5px 5px 5px;
    }
    
    .deleteBtn:hover {
        background-color: var(--scealai-yellow-hover);
    }
    
    .deleteModeBtn {
        background-color: var(--delete-red);
    }
    
    .deleteModeBtn:hover {
        background-color: var(--delete-red-hover);
    }
    
    
    .trashImg {
        width: 20px;
    }
}

.newStoryMessage {
    color: rgb(167, 157, 136);
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
}

@media only screen and (min-width: 700px) {
    .bookImg {
        z-index: -10;
        width: 630px;
        left: 50%;
        margin-left: -315px;
    }

    .bookContentsContainer {
        width: 560px;
        position: fixed;
        left: 50%;
        margin-left: -280px;
        padding-top: 40px;
    }

    .optionsPopup {
        margin-left: 55px;
    }

}

@media only screen and (min-width: 1400px) and (min-height: 800px) {
    .bookImg {
        z-index: -10;
        width: 630px;
        left: 50%;
        margin-left: -315px;
        margin-top: 100px;
    }

    .bookContentsContainer {
        width: 560px;
        position: fixed;
        left: 50%;
        margin-left: -280px;
        padding-top: 40px;
        margin-top: 100px;
    }

    .optionsPopup {
        margin-left: 55px;
    }

}
