.bookContainer {
    --bookContainerHeight: 80vh;
    --bookContainerWidth: 80%;
    // height: calc(var(--bookContainerHeight/2));
    width: var(--bookContainerWidth);
    height: 100%;
    background: var(--paper-img);
    margin-left: 10%;
    -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.4); 
    box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.4);
    border-radius: 5px 5px 5px 5px;
    border: solid 2px #827662b8;
}

.contentsContainer {
  padding: 20px;
}

.bookContentsTitle {
    color: var(--dark-text);
    padding-left: 5%;
    padding-right: 5%;
    display: inline-block;
    font-size: 18pt;
}

.contentsLinkContainer {
  height: 260px;
  overflow: auto;
  padding: 10px;
  background-color: #f7f2e7; 
  -webkit-box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.5);
  box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.5);
  border-radius: 5px 5px 5px 5px;
}

.contentsLink {
    color: var(--dark-text);
    text-align: left;
    width: 50%;
    text-decoration: none;
}

.contentsLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.contentsDate {
    color: var(--dark-text);
}

.contentsBtnsContainer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.deleteBtn {
    background-color: var(--scealai-yellow);
    border-style: none;
    color: white;
    margin: 0px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-top: 2px;
    height: 38px;
    margin-right: 4px;
    border-radius: 5px 5px 5px 5px;
}

.deleteBtn:hover {
    background-color: var(--scealai-yellow-hover);
}

.deleteModeBtn {
    background-color: var(--delete-red);
}

.deleteModeBtn:hover {
    background-color: var(--delete-red-hover);
}

.trashImg {
    width: 24px;
}

.messagesBtn {
    background-color: var(--scealai-yellow);
    border-style: none;
    color: white;
    font-size: 12pt;
    border-radius: 5px 5px 5px 5px;
    display: flex;
}

.messagesBtn:hover {
    background-color: var(--scealai-yellow-hover);
    color: white;
}

.newStoryBtn {
    background-color: var(--scealai-yellow);
    border-style: none;
    color: white;
    font-size: 12pt;
    margin: 0px;
    border-radius: 5px 5px 5px 5px;
}

.newStoryBtn:hover {
    background-color: var(--scealai-yellow-hover);
    color: white;
}

@media only screen and (max-width: 700px) { 
    .contentsContainer {
       width: 90%;
       margin-left: 5%;
    }
    .contentsLinkContainer {
        height: 270px;
        padding-top: 10px;
    }
    .contentsLinkTitle {
        font-size: 12pt;
    }

    .contentsDateTitle {
        font-size: 12pt;
    }
    .optionsPopupBtn {
        padding: 5px;
        padding-top: 2px;
        margin: 0px;
        height: 30px;
        margin-right: 4px;
        font-size: 12pt;
    }

    .deleteBtn {
        background-color: var(--scealai-yellow);
        border-style: none;
        color: white;
        margin: 0px;
        float: left;
        padding-left: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-top: 0px;
        height: 30px;
        margin-right: 4px;
        border-radius: 5px 5px 5px 5px;
    }
    
    .deleteBtn:hover {
        background-color: var(--scealai-yellow-hover);
    }
    
    .deleteModeBtn {
        background-color: var(--delete-red);
    }
    
    .deleteModeBtn:hover {
        background-color: var(--delete-red-hover);
    }
    
    
    .trashImg {
        width: 20px;
    }
}

.newStoryMessage {
    color: rgb(167, 157, 136);
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
}

@media only screen and (min-width: 700px) {
    .optionsPopup {
        margin-left: 55px;
    }

}

@media only screen and (min-width: 1400px) and (min-height: 800px) {
    .optionsPopup {
        margin-left: 55px;
    }

}
