.classroom-card-container {
    display: flex;
    flex-direction: column;
}

.classroom-card {
    padding: 15px;
    border: 1px solid grey;
}

.classroom-card:hover {
    cursor: pointer;
    background: rgb(236, 236, 236);
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}

.xbutton:hover {
    cursor: pointer;
}

.noClassrooms {
  text-align: center;
  font-weight: bold;
}