.profileContainer {
    //background-color: green;
    width: 100%;
    height: 90vh;
    display: flex;
    margin-top: -55px; // margin defined in app.css
}

.sideMenu {
    //background-color:red;
    flex: 0 0 20%; /* width of the side menu */
    //width: fit-content; -> this works too
    border-right: 1px solid black; 

}

.sideMenu > * {
    text-align: left;
    padding: 50px;
    font-size: 16pt;
    font-weight: bolder;
}

.sideMenu > :hover {
    cursor: pointer;
    font-style: italic;
    color: var(--scealai-green)
}

.body {
    //background-color: blue;
    flex-grow: 1; /* take up the remaining width space */
    padding-top: 50px;
    overflow-y: scroll;
}

.clickedMenu {
    font-style: italic;
    color: var(--scealai-green)
}