.profileContainer {
    width: 100%;
    height: 90vh;
    margin-top: -55px; // app margin defined in app.css
}

.menuOption {
    text-align: left;
    padding: 50px;
    font-size: 16pt;
    font-weight: bolder;
    cursor: pointer;

    &:hover {
        font-style: italic;
        color: var(--scealai-green)
    }
}

mat-sidenav-content {
    background-color: white;
}

mat-sidenav-container {
    background-color: white;
}

.menuButton {
    float: left;
    padding-top: 10px;
    font-size: 40px;

    &:hover {
        cursor: pointer;
    }
}

.body {
    padding-top: 50px;
    overflow-y: scroll;
    width: 100%;
}

.clickedMenu {
    font-style: italic;
    color: var(--scealai-green)
}

i {
    margin-left: 5px;
}

