<div class="profileContainer">
  <div class="sideMenu">
    <div (click)="displayComponent = 'accountSettings'">Account Settings</div>
    <div (click)="displayComponent = 'languageInfo'">My Language Info</div>
    <div (click)="displayComponent = 'learningGoals'">Learning Goals</div>
    <div>Sign Out</div>
  </div>
  <div class="body" [ngSwitch]="displayComponent">
    <app-account-settings *ngSwitchDefault>account settings</app-account-settings>
    <app-register-profile *ngSwitchCase="'languageInfo'">language info</app-register-profile>
    <div *ngSwitchCase="'learningGoals'">Coming Soon!</div>
  </div>

</div>