table {
    width: 100%;
    text-align: left;
}

td, th {
    text-align: left !important;
    vertical-align: middle !important;
}

.mat-sort-header-container {
    justify-content: space-evenly !important;
}

.example-container {
    overflow-x: scroll;
    max-width: 60px;
    text-align: left !important;
  }

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}