
h3 {
  text-align: left;
  padding-top: 20px;
  text-decoration: underline;
}

.tableButtons {
  width: 100%;
  margin: auto;
  text-align: right;
  margin-bottom: 10px;
}

.button-add-row {
  background: var(--scealai-green);
  margin-right: 5px;
}

.button-remove-rows {
  background: red;
}

.multipleRowInputContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.multipleRowInputInstructions{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.multipleRowInput {
  width: 90%;
  text-align: left;
}

ul {
  text-align: left;
}

table {
  width: 90%;
  margin: auto;
  margin-top: 25px;
}

.btn-edit {
  text-align: right;
}

::ng-deep .mat-form-field-infix {
  width: 100% !important;
}

.form-input {
  padding-right: 5px;
}

.mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-checkmark-color: #fff;
  --mdc-checkbox-selected-focus-icon-color: var(--scealai-green);
  --mdc-checkbox-selected-hover-icon-color: var(--scealai-green);
  --mdc-checkbox-selected-icon-color: var(--scealai-green);
  --mdc-checkbox-selected-pressed-icon-color: var(--scealai-green);
}