<div class="table-header">
  <div>
    <button class="button-remove-rows" mat-button (click)="deleteSelectedRows()" >
      Delete Rows
    </button>
    <button class="button-add-row" mat-button (click)="addRow()">
      Add Row
    </button>
    <button class="button-add-row" mat-button (click)="useMultipleRowInput = !useMultipleRowInput">
      {{ useMultipleRowInput ? "Cancel" : "Add Multiple Rows" }}
    </button>
  </div>
</div>

<!-- Text box for adding multiple rows at once-->
<div *ngIf="useMultipleRowInput">
  Add multiple rows here
  <div> 
    Prompt texts can be added one at a time, or you can add several at once with each prompt on a new line (enter key after each one)
  </div>
  <mat-form-field appearance="fill" class="multipleRowInput" >
    <mat-label>Prompt data rows</mat-label>
    <textarea matInput [(ngModel)]="multipleRowData"></textarea>
  </mat-form-field><br>
  <button class="button-add-row" mat-button (click)="addMultipleRows()">
    Add Rows
  </button>
</div>

<!-- Prompt Data table-->
<table mat-table [dataSource]="dataSource">
  <!-- one ng-container to describe each column, 'key' in schema determines what is displayed -->
  <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
    <!-- header: ngSwitch determines either a checkbox or textual label -->
    <th mat-header-cell *matHeaderCellDef [ngSwitch]="col.key">
      <span *ngSwitchCase="'isSelected'">
        <mat-checkbox
          (change)="selectAll($event)"
          [checked]="isAllSelected()"
          [indeterminate]="!isAllSelected() && isAnySelected()"
        ></mat-checkbox>
      </span>
      <span *ngSwitchDefault>{{ col.label }}</span>
    </th>
    <!-- row data: 'element' is a row, row 'type' determines what is displayed -->
    <td mat-cell *matCellDef="let element">
      <!-- display data in view mode -->
      <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
        <ng-container *ngSwitchCase="'isSelected'">
          <mat-checkbox
            (change)="element.isSelected = $event.checked"
            [checked]="element.isSelected"
          ></mat-checkbox>
        </ng-container>
        <div class="btn-edit" *ngSwitchCase="'isEdit'">
          <button mat-button (click)="element.isEdit = !element.isEdit">
            Edit
          </button>
          <button
            mat-button
            class="button-remove"
            (click)="deleteRow(element._id)"
          >
            Delete
          </button>
        </div>
        <span *ngSwitchCase="'date'">
          {{ element[col.key] | date: 'mediumDate' }}
        </span>
        <span *ngSwitchDefault>
          {{ element[col.key] }}
        </span>
      </div>
      <!-- display data in edit mode -->
      <div [ngSwitch]="col.type" *ngIf="element.isEdit">
        <div *ngSwitchCase="'isSelected'"></div>
        <div class="btn-edit" *ngSwitchCase="'isEdit'">
          <button
            mat-button
            (click)="saveRow(element)"
            [disabled]="disableSubmit(element._id)"
          >
            Done
          </button>
        </div>
        <div *ngSwitchCase="'date'"></div>
        <mat-form-field class="form-input" *ngSwitchDefault>
          <input
            matInput
            [required]="col.required"
            [pattern]="col.pattern"
            [type]="col.type"
            [(ngModel)]="element[col.key]"
            (change)="inputHandler($event, element.id, col.key)"
          />
        </mat-form-field>
      </div>
    </td>
  </ng-container>
  <!-- actual implementation of table headers and data rows -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users" ></mat-paginator>
