.storyAuthor {
  width: 300px;
  text-align: left;
}

.filter {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.classroomKey {
    justify-content: space-between;
}

.title {
  width: 370px;
  text-align: left;
}

.storyTitle {
  width: 400px;
  text-align: left;
}

.arrow {
    margin-left: auto;
}
