.backArrow {
    margin-right: 8px;
}

.backArrow:hover {
    cursor: pointer;
    color: var(--scealai-gray);
    transition: color, 0.5s;
}

.storyAuthor {
  width: 300px;
  text-align: left;
}

.filter {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.classroomKey {
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    background-color: var(--scealai-gray);
    color: var(--scealai-dark-gray);
}

.title {
  width: 370px;
  text-align: left;
}

.storyTitle {
  width: 400px;
  text-align: left;
}

.arrow {
    margin-left: auto;
}
