.content {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}

.classContainer {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    height: 80vh;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
}

.classHeader {
    width: 100%;
    background-color: var(--scealai-dark-green);
    border-radius: 5px 5px 0px 0px;
    color: white;
    display: flex;
    padding: 8px;
    padding-left: 16px;
    font-size: 16pt;
}
.filter {
  display: flex;
  justify-content: space-between;
  width: 100px;
}


.storyAuthor {
  width: 300px;
  text-align: left;
}

.addClassBtn {
    margin-left: auto;
}

.addClassBtn:hover {
    cursor: pointer;
    color: var(--scealai-green);
    transition: color 0.5s;
}

.classBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    padding-top: 0px;
    overflow: auto;
    height: 67.5vh;
}

.classroomCard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    color: white;
    font-size: 14pt;
    background-color: var(--scealai-med-brown);
    border-radius: 5px;
    margin-top: 5px;
}

.classroomCard:hover {
    color: var(--orange-text);
    background-color: var(--scealai-med-brown-hover);
    transition: color, background-color, 0.5s;
    cursor: pointer;
}

.storyTitle {
  width: 400px;
  text-align: left;
}

.title {
  width: 370px;
  text-align: left;
}

.classroomKey {
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    background-color: var(--scealai-gray);
    color: var(--scealai-dark-gray);
}

.createBtnGreen {
    background-color: var(--scealai-green);
    color: white;
}

.createBtnGreen:hover {
    background-color: var(--scealai-dark-green);
}

.titleInput {
    margin-top: 10px;
    padding-left: 4px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.hiddenFade {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease-in;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.visibleFade {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s ease-out;
}

.headerIconContainer {
    margin-left: auto;
    display: flex;
}

.headerIconBtn {
    font-size: 12pt;
    margin-left: 8px;
    background-color: var(--scealai-green);
    border-radius: 5px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.headerIconBtn:hover {
    cursor: pointer;
    color: var(--scealai-light-green);
    -webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;
}

.headerIcon {
    margin-left: 5px;
}

.codeView {
    background-color: var(--scealai-gray);
    border: 1px solid var(--scealai-light-gray);
    border-radius: 4px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 16px;
}

.deleteRedBtn {
    background-color: var(--scealai-delete-red-3);
    color: white;
}

.deleteRedBtn:hover {
    background-color: var(--scealai-delete-red-3-hover);
}

.arrow {
    margin-left: auto;
}

.backArrow {
    margin-right: 8px;
}

.backArrow:hover {
    cursor: pointer;
    color: var(--scealai-gray);
    transition: color, 0.5s;
}
