<!--Display the stories of a particular student in a class -->
<div class="content">
    <div class="classContainer">
        <div class="classHeader">
          <div class="backArrow" (click)="goBack()"><i class="fas fa-arrow-left"></i></div>
          <!-- display student name along with feedback checkbox-->
          <span class="storyAuthor" *ngIf="ts.inEnglish()">
            {{student?.username}}'<span style="margin-right: 8px;" *ngIf="user?.username[user?.username.length-1] !== 's'">s</span>{{ts.l.stories}}
          </span>
          <span class="storyAuthor" *ngIf="ts.inIrish()">
            {{ts.l.stories}} {{student?.username}}
          </span>
          <!-- filter by checkbox -->
          <div class="filter"> {{ts.l.filter_by}}: </div>
          <div class="checkbox"> <input type="checkbox"[(ngModel)]="viewNoFeedback"/> {{ts.l.no_feedback_given}} ({{storiesWithoutFeedback.length}})</div>
        </div>
        <div class="classroomKey">
          <div class="title">{{ts.l.title}}</div>
          <div> {{ts.l.last_updated}} </div> <div> </div>
        </div>
        <!-- list of stories -->
        <div class="classBody" *ngIf="!viewNoFeedback">
          <div class="classroomCard" *ngFor="let story of stories" (click)="goToStory(story._id)">
            <div class="storyTitle">{{story.title}}<div style="color: rgba(255, 255, 255, 0.4); margin-left: 8px;" *ngIf="story.createdWithPrompts">{{ts.l.dashboard_prompts}}</div></div>
            <div> {{story.lastUpdated | date:'MMMM dd,  yyyy h:mm aa' }} </div>
            <div><i class="fas fa-arrow-right arrow"></i></div>
          </div>
        </div>
        <div class="classBody" *ngIf="viewNoFeedback">
          <div class="classroomCard" *ngFor="let story of storiesWithoutFeedback" (click)="goToStory(story._id)">
            <div class="storyTitle">{{story.title}}</div>
            <div> {{ story.lastUpdated | date:'MMMM dd,  yyyy h:mm aa' }} </div>
            <div><i class="fas fa-arrow-right arrow"></i></div>
          </div>
        </div>
      </div>
</div>