<mat-tab-group>
  <mat-tab label="Describe!">
    <ng-template matTabContent>
      <dsc-describe
        *ngIf=playDescribeGame
        (finishGame)=refreshDescribeGame()>
      </dsc-describe>
    </ng-template>
  </mat-tab>
  <mat-tab label="Listen!"> 
    <ng-template matTabContent>
      <dsc-decide
        #decideGame
        *ngIf=playDecideGame
        (finishGame)=refreshDecideGame()>
      </dsc-decide>
    </ng-template>
  </mat-tab>
  <mat-tab label="Manage your data!">
    <ng-template matTabContent>
      <dsc-recording-dashboard>
      </dsc-recording-dashboard>
    </ng-template>
  </mat-tab>
</mat-tab-group>
