<mat-tab-group>
  <mat-tab label="Describe!">
    <ng-template matTabContent>
      <description-game-describe>
      </description-game-describe>
    </ng-template>
  </mat-tab>
  <mat-tab label="Listen!"> 
    <ng-template matTabContent>
      <description-game-decide>
      </description-game-decide>
    </ng-template>
  </mat-tab>
  <mat-tab label="Manage your data!">
    <ng-template matTabContent>
      <description-game-recording-dashboard>
      </description-game-recording-dashboard>
    </ng-template>
  </mat-tab>
</mat-tab-group>
