<div class="container">
  <div class="header">
    <strong>Report An Issue</strong>
  </div>
  <!-- 'Thank you' messages to some sponsors -->
  <!--
  <mat-card class="sponsorCard">
    <div class="name"><b>{{ts.l.thanks_to}}:</b></div>
    <div class="cardBody">
      <div innerHTML={{ts.l.sponsor_cogg}} class="cardLeft"></div>
      <div class="cardRight">
        <img src="assets/img/logo_cogg.png" class="logoCardImg" alt="An Chomhairle um Oideachas Gaeltachta & Gaelscolaíochta">
      </div>
    </div>
  </mat-card><br>
  -->
  <!--
  <mat-card class="sponsorCard">
    <div class="name"><b>{{ts.l.like_to_highlight}}:</b></div>
    <div class="cardBody">
      <div innerHTML={{ts.l.sponsor_cgd}} class="cardLeft"></div>
      <div class="cardRight">
        <img src="assets/img/logo_cgd.png" class="logoCardImg" alt="Coláiste Ghaoth Dobhair">
      </div>
    </div>
  </mat-card><br>
  -->
  <!--
  <div class="textBlock" innerHTML={{ts.l.interested_teachers}}></div>
  -->
  <!-- Report An Issue Prose-->
  <mat-card class="sponsorCard">
    <p><a href="mailto:email@scealai.info@gmail.com">scealai.info@gmail.com</a></p>
    <p>
      If you have noticed any issues with any of the services provided on the An Scéalaí website
      we would be delighted to hear from you so that we can get it fixed as quickly as possible.
      You can reach the team at <a href="mailto:email@scealai.info@gmail.com">scealai.info@gmail.com</a>
    </p>
    <p>
      We are also always grateful to hear about any positive experiences you've had with the site.
    </p>
    <!--
    <ul class="textBlock">
      <li class="smallTextBlock">"{{ts.l.testimonial_1}}"</li>
      <li class="smallTextBlock">"{{ts.l.testimonial_2}}"</li>
      <li class="smallTextBlock">"{{ts.l.testimonial_3}}"</li>
      <li class="smallTextBlock">"{{ts.l.testimonial_4}}"</li>
      <li class="smallTextBlock">"{{ts.l.testimonial_5}}"</li>
    </ul>
    -->
  </mat-card>
</div>
