<div class="container">
  <div class="header">
    <strong>{{ts.l.report_an_issue}}</strong>
  </div>
  <!-- Report An Issue Prose-->
  <mat-card class="sponsorCard">
    <p><a href="mailto:email@scealai.info@gmail.com">scealai.info@gmail.com</a></p>
    <p>
    {{ts.l.report_an_issue_prose}}
    <a href='mailto:email@scealai.info@gmail.com'>scealai.info@gmail.com</a>.
    </p>
    <p>
    {{ts.l.report_an_issue_ps}}
    </p>
    <!--
      <ul class="textBlock">
      <li class="smallTextBlock">"{{ts.l.testimonial_1}}"</li>
      <li class="smallTextBlock">"{{ts.l.testimonial_2}}"</li>
      <li class="smallTextBlock">"{{ts.l.testimonial_3}}"</li>
      <li class="smallTextBlock">"{{ts.l.testimonial_4}}"</li>
      <li class="smallTextBlock">"{{ts.l.testimonial_5}}"</li>
      </ul>
    -->
  </mat-card>
</div>
