<div class="content">
    <div class="classContainer">
        <div class="classHeader">
          <div class="backArrow" (click)="goBack()"><i class="fas fa-arrow-left"></i></div>
          <span *ngIf="ts.inEnglish()">
            {{student?.username}}'<span style="margin-right: 8px;" *ngIf="user?.username[user?.username.length-1] !== 's'">s</span> {{ts.l.stories}}
          </span>
          <span *ngIf="ts.inIrish()">
            {{ts.l.stories}} {{student?.username}}
          </span>
        </div>
        <div class="classroomKey">
          <div class="keyTitle">{{ts.l.title}}</div>
        </div>
        <div class="classBody">
          <div class="classroomCard" *ngFor="let story of stories" (click)="goToStory(story._id)">
            <div class="classroomTitle">{{story.title}}</div>
            <i class="fas fa-arrow-right arrow"></i>
          </div>
        </div>
      </div>
</div>