<!-- Part Of Speech Prompt Component-->
<div *ngIf="promptType == 'pos'">
  <app-part-of-speech></app-part-of-speech>
</div>

<!--All Other Prompts-->
<div *ngIf="promptType !== 'pos'">
  <div>
    <div class="container">
      <div *ngIf="promptType == 'state-exam'" class="header"> {{ ts.l.sep_header }} </div>
      <div *ngIf="promptType == 'proverb'" class="header"> {{ ts.l.pp_header }} </div>
      <div *ngIf="promptType == 'lara'" class="header"> {{ ts.l.lp_header }} </div>
      <div *ngIf="promptType == 'story'" class="header"> {{ ts.l.sp_dropdown }} </div>
      <div *ngIf="promptType == 'general'" class="header"> {{ ts.l.gp_dropdown }} </div>
      <div>
        <p *ngIf="promptType == 'state-exam'">{{ ts.l.sep_explanation }}</p>
        <p *ngIf="promptType == 'proverb'">{{ ts.l.pp_explanation }}</p>
        <p *ngIf="promptType == 'lara'">{{ ts.l.lp_explanation }}</p>
        <p *ngIf="promptType == 'story'">{{ ts.l.sp_explanation }}</p>
        <p *ngIf="typpromptTypee == 'general'">{{ ts.l.gp_explanation }}</p>
      </div>
      <!-- Choose Level Dropdown -->
      <div *ngIf="promptType == 'state-exam' || promptType == 'story'" class="button-div">
        <form [formGroup]="levelForm">
          <div class="formGroup">
            <label class="formLabel">{{ ts.l.choose_level }}</label>
            <select formControlName="level" class="level-select">
              <option *ngFor="let lp of levelPreferences; let i = index" [ngValue]="lp">
                {{ ts.l.level_preferences[i] }}
              </option>
            </select>
          </div>
        </form>
      </div>
      <!-- Choose Dialect Dropdown -->
      <div *ngIf="promptType == 'proverb'" class="button-div">
        <form [formGroup]="dialectForm">
          <div class="formGroup">
            <label class="formLabel">{{ ts.l.choose_level }}</label>
            <select formControlName="dialect" class="level-select">
              <option *ngFor="let dp of dialectPreferences; let i = index" [ngValue]="dp">
                {{ this.ts.l[dp] }}
              </option>
            </select>
          </div>
        </form>
      </div>
      <!-- Get Prompt Button -->
      <div class="button-div">
        <button class="button" (click)="currentPrompt()">
          {{ ts.l.get_prompt }}
        </button>
      </div>
      <!--Display Prompt-->
      <div *ngIf="promptExists; else noPrompt">
        <!-- Story Prompt Options -->
        <div *ngIf="promptType == 'story'">
          <div *ngFor="let lp of levelPreferences">
            <div *ngIf="levelForm.controls['level'].value === lp" class="story-prompt">
                <!-- character -->
              <div class="story-prompt-box">
                <p>{{ ts.l.sp_character }}</p>
                <button class="button" (click)="changeStoryPrompt('character')">
                  {{ ts.l.sp_change }}
                </button>
              </div>
              <i class="character">{{ chosenCharacter }}</i>
               <!-- setting -->
              <div class="story-prompt-box">
                <p>{{ ts.l.sp_setting }}</p>
                <button class="button" (click)="changeStoryPrompt('setting')">
                  {{ ts.l.sp_change }}
                </button>
              </div>
              <i class="setting">{{ chosenSetting }}</i>
               <!-- theme -->
              <div class="story-prompt-box">
                <p>{{ ts.l.sp_theme }}</p>
                <button class="button" (click)="changeStoryPrompt('theme')">
                  {{ ts.l.sp_change }}
                </button>
              </div>
              <i class="theme">{{ chosenTheme }}</i>
            </div>
          </div>
        </div>
        <!-- Generated Prompt -->
        <i class="prompt">{{ prompt }}</i>
        <!-- Create new story -->
        <form [formGroup]="newStoryForm">
          <!--Form input-->
          <div>
            <div class="formGroup" novalidate>
              <p class="formLabel">{{ ts.l.pos_save_name }}</p>
              <input
                data-cy="title"
                type="text"
                class="titleInput"
                formControlName="title"
                maxLength="35"
              />
              <!-- Select dialect -->
              <div class="formGroup">
                <p class="formLabel">{{ ts.l.dialect }}</p>
                <select formControlName="dialect" class="dialectSelect">
                  <option value="connemara">{{ ts.l.connacht }}</option>
                  <option value="donegal">{{ ts.l.ulster }}</option>
                  <option value="kerry">{{ ts.l.munster }}</option>
                </select>
              </div>
              <!--Save story button-->
              <button
                data-cy="create-story"
                type="submit"
                (click)="
                  addNewStory(
                    newStoryForm.controls['title'].value,
                    newStoryForm.controls['dialect'].value,
                    prompt
                  )
                "
                [disabled]="newStoryForm.pristine || newStoryForm.invalid"
                class="button"
              >
                {{ ts.l.pos_save_to_stories }}
              </button>
            </div>
            <!-- check for invalid title -->
            <div
              *ngIf="
                newStoryForm.controls['title'].invalid &&
                (newStoryForm.controls['title'].dirty ||
                  newStoryForm.controls['title'].touched)
              "
              class="validationAlert"
            >
              <div *ngIf="newStoryForm.controls['title'].errors.required">
                *{{ ts.l.title_required }}.
              </div>
            </div>
          </div>
        </form>
      </div>
      <!--No Prompt-->
      <ng-template #noPrompt>
        <div *ngIf="promptExists === false" class="prompt">
          {{ ts.l.please_choose_prompt }}
        </div>
      </ng-template>
    </div>
  </div>
</div>
