<!-- Part Of Speech Prompt Component-->
<div *ngIf="promptType == 'partOfSpeech'">
  <app-part-of-speech></app-part-of-speech>
</div>

<!--All Other Prompts-->
<div *ngIf="promptType !== 'partOfSpeech'">
  <div>
    <div class="container">
      <!-- Instructions popup -->
      <i class="fa fa-info-circle" style="cursor:pointer; float:right;" (click)="openInformationDialog()"></i>
      <div *ngIf="promptType == 'exam'" class="header"> {{ ts.l.exam_prompts }} </div>
      <div *ngIf="promptType == 'proverb'" class="header"> {{ ts.l.proverb_prompts }} </div>
      <div *ngIf="promptType == 'lara'" class="header"> {{ ts.l.lara_prompts }} </div>
      <div *ngIf="promptType == 'combination'" class="header"> {{ ts.l.combination_generator }} </div>
      <div *ngIf="promptType == 'general'" class="header"> {{ ts.l.general_prompts }} </div>
      <div>
        <p *ngIf="promptType == 'exam' || promptType == 'proverb'">{{ ts.l.click_below_to_generate_prompt }}</p>
        <p *ngIf="promptType == 'lara'">{{ ts.l.click_below_to_generate_prompt_lara }}</p>
        <p *ngIf="promptType == 'combination'">{{ ts.l.click_to_generate_random_character_setting_theme }}</p>
        <p *ngIf="promptType == 'general'">{{ ts.l.press_button_to_generate_start_of_new_story }}</p>
      </div>
      <!-- Choose Exam Level Dropdown -->
      <div *ngIf="promptType == 'exam'" class="button-div">
        <form [formGroup]="levelForm">
          <div class="formGroup">
            <label class="formLabel">{{ ts.l.choose_level }}</label>
            <select formControlName="level" class="level-select" (ngModelChange)="prompt = ''">
              <option *ngFor="let lp of levelPreferences; let i = index" [ngValue]="lp">
                {{ ts.l.level_preferences[i] }}
              </option>
            </select>
          </div>
        </form>
      </div>
      <!-- Choose Combination Level Dropdown -->
      <div *ngIf="promptType == 'combination'" class="button-div">
        <form [formGroup]="combinationLevelForm">
          <div class="formGroup">
            <label class="formLabel">{{ ts.l.choose_level }}</label>
            <select formControlName="combinationLevel" class="level-select" (ngModelChange)="prompt = ''">
              <option *ngFor="let lp of combinationLevelPreferences; let i = index" [ngValue]="lp">
                {{ this.ts.l[lp] }}
              </option>
            </select>
          </div>
        </form>
      </div>
      <!-- Choose Dialect Dropdown -->
      <div *ngIf="promptType == 'proverb'" class="button-div">
        <form [formGroup]="dialectForm">
          <div class="formGroup">
            <label class="formLabel">{{ ts.l.choose_dialect }}</label>
            <select formControlName="dialect" class="level-select" (ngModelChange)="prompt = ''">
              <option *ngFor="let dp of dialectPreferences; let i = index" [ngValue]="dp">
                {{ this.ts.l[dp] }}
              </option>
            </select>
          </div>
        </form>
      </div>
      <!-- Get Prompt Button -->
      <div class="button-div">
        <button class="button" (click)="generatePromptBank()">
          {{ ts.l.get_prompt }}
        </button>
      </div>
      <!--Display Prompt-->
      <div *ngIf="prompt.length > 0">
        <div *ngIf="promptType == 'combination' || promptType == 'proverb'" (click)="showTranslation = !showTranslation" class="showTranslation"> {{showTranslation? 'Hide translation': 'Show translation'}}</div>
        <!-- Story Prompt Options -->
        <div *ngIf="promptType == 'combination'">
          <div *ngFor="let lp of combinationLevelPreferences">
            <div *ngIf="combinationLevelForm.controls['combinationLevel'].value === lp" class="story-prompt">
                <!-- character -->
              <div class="story-prompt-box">
                <p>{{ ts.l.character }}</p>
                <button class="button" (click)="changeCombinationPrompt('character')">
                  {{ ts.l.change }}
                </button>
              </div>
              <i class="character">{{ chosenCharacter.word }} <span *ngIf="showTranslation">({{chosenCharacter.translation}})</span></i>
               <!-- location -->
              <div class="story-prompt-box">
                <p>{{ ts.l.location }}</p>
                <button class="button" (click)="changeCombinationPrompt('location')">
                  {{ ts.l.change }}
                </button>
              </div>
              <i class="location">{{ chosenLocation.word }} <span *ngIf="showTranslation">({{chosenLocation.translation}})</span></i>
               <!-- theme -->
              <div class="story-prompt-box">
                <p>{{ ts.l.theme }}</p>
                <button class="button" (click)="changeCombinationPrompt('theme')">
                  {{ ts.l.change }}
                </button>
              </div>
              <i class="theme">{{ chosenTheme.word }} <span *ngIf="showTranslation">({{chosenTheme.translation}})</span></i>
            </div>
          </div>
        </div>
        <!-- Generated Prompt -->
        <div class="prompt" *ngIf="promptType !== 'combination' && prompt.length > 0">
          <i>{{ prompt }}</i>
          <div *ngIf="showTranslation">({{translation}})</div>
        </div>
        <!-- Create New Story Button-->
        <button *ngIf="auth.getUserDetails()?.role == 'STUDENT'" class="button" (click)="createNewStory()">
            {{ ts.l.start_my_story }}
        </button>
      </div>
    </div>
  </div>
</div>
