.container {
    width: 90%;
    background-color: white;
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    animation-duration: 1s;
    animation-name: fadeIn;
}

.header {
    width: 100%;
    font-size: 20pt;
    height: 20px;
    margin-bottom: 40px;
}

.button-div {
    max-height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.formGroup {
    display: flex;
    margin: auto;
    padding: 8px;
}

.formLabel {
    margin: 2px;
    padding: 2px;
}

.level-select {
    font-size: 16px;
    height: 24px;
}

.button {
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border-width: 1px;
    letter-spacing: 1px;
    background-color: rgba(126, 118, 118, 0.1);
    transition: all 0.3s ease 0s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.button:hover:not([disabled]) {
    background-color: var(--scealai-green);
    color: #fff;
    transform: translateY(-4px);
}

.story-prompt-box {
    display: flex;
    max-height: fit-content;
    justify-content: center;
}

.story-prompt-box > p {
    margin: 4px;
}

.story-prompt {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 24px;
}

.story-prompt > p {
    margin: 8px 4px 4px 0px;
}

.character {
    font-size: 24px;
    margin: 0px 8px 8px 0px;
    animation-name: slots;
    animation-duration: 3s;
}

.setting {
    font-size: 24px;
    margin: 0px 8px 8px 0px;
    animation-name: slots;
    animation-duration: 4s;
}

.theme {
    font-size: 24px;
    margin: 0px 8px 8px 0px;
    animation-name: slots;
    animation-duration: 5s;
}

.prompt {
    padding-top: 2px;
    padding-bottom: 20px;
    margin-top: 24px;
    font-size: 24px;
}


@media only screen and (max-width: 700px) {
    .container {
        width: 95%;
    }
    .content {
        font-size: 10pt;
    }
    .header {
        font-size: 15pt;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0%;
        transform: translateY(100px) scale(0.9);
    }

    to {
        opacity: 100%;
        transform: translateY(0px) scale(1);
    }
}

@keyframes slots {
    from {
        transform: rotateY(7200deg);
    }
    to {
        transform: rotateY(0deg);
    }
}
