.greyOut {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
	display: flex;
  align-items: center;
  justify-content: center;
}

.greyOut:hover {
	cursor: pointer;
}

.messageBox {
	/*display: flex;*/
	padding: 40px;
	width: 400px;
  align-items: center;
  justify-content: center;
	background-color: white;
	z-index: 101;
}
