<div class="header"> Profile Statistics </div>
<!-- Toggle between date picker and feature logs -->
<div class="dataOptions">
  <div class="option" (click)="selectDateRange = true"> Date Range</div> |
  <div class="option" (click)="selectDateRange = false"> Previous Data </div>
</div>
<div class="content">
    <!-- Date picker -->
  <div class="datePicker" *ngIf="selectDateRange">
    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>
    <div> (No date range entered retrieves all data from the DB) </div><br>
    <div class="submitButton" (click)="getProfileData()">Get Data</div>
  </div>
    <!-- List of previous feature logs -->
  <div class="datePicker" *ngIf="!selectDateRange">
    <div *ngIf="previousProfiles">
      <div *ngFor="let profile of previousProfiles">
        <div class="submitButton" (click)="setProfileToDisplay(profile.statsData)"> {{profile.date | date : 'd/M/yy, h:mm a'}} </div>
      </div>
    </div>
    <br>
    <div class="submitButton" (click)="addNewProfileData()">Add Data Log</div>
  </div>
</div>

<!-- Loading panel -->
<div *ngIf="!dataLoaded" class="loaderContainer">
  <b>{{ts.l.compiling_data}}</b>
  <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

<div *ngIf="dataLoaded" class="profileNumber"> Profiles Found: {{profileToDisplay.length}} </div>

<!-- Personal Information -->
<div *ngIf="dataLoaded">
  <div class="profileHeader"> {{ts.l.personal_info}} </div>
  <mat-accordion multi class="displayData">
    <!-- Gender -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b>{{ts.l.gender}}</b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          Gender of users
        </mat-panel-description>
      </mat-expansion-panel-header>
        <div *ngFor="let gender of profileToDisplay.gender | keyvalue">
          <div> {{gender.key}} : {{gender.value}} </div>
        </div>
    </mat-expansion-panel>
    <!-- Age -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b>{{ts.l.age}}</b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          Age of users
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let age of profileToDisplay.age | keyvalue">
        <div> {{age.key}} : {{age.value}} </div>
      </div>
    </mat-expansion-panel>
    <!-- Country -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b>{{ts.l.country}}</b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          Countries of users
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="sideBySide">
        <div>
          <div *ngFor="let option of profileToDisplay.notFromIreland | keyvalue">
            <div> Total users not from Ireland : {{option.value}} </div>
          </div>
        </div>
        <div>
          <div *ngFor="let country of profileToDisplay.country | keyvalue">
            <div> {{country.key}} : {{country.value}} </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <!-- County -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b>{{ts.l.county}}</b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          County of users from Ireland
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let county of profileToDisplay.county | keyvalue">
        <div> {{county.key}} : {{county.value}} </div>
      </div>
    </mat-expansion-panel>
    <!-- Current Studies -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b> Student School Level </b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          Which level/type of schooling users are in
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let school of profileToDisplay.studentSchoolLevel | keyvalue">
        <div> {{school.key}} : {{school.value}} </div>
      </div>
    </mat-expansion-panel>
    <!-- Primary Year -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b> Primary Year </b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          Wich year of primary school users are in
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let year of profileToDisplay.primaryYear | keyvalue">
        <div> {{year.key}} : {{year.value}} </div>
      </div>
    </mat-expansion-panel>
    <!-- Secondary Year -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b> Secondary Year </b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          Wich year of secondary school users are in
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let year of profileToDisplay.secondaryYear | keyvalue">
        <div> {{year.key}} : {{year.value}} </div>
      </div>
    </mat-expansion-panel>
    <!-- Primary/Secondary school type -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b> School Type </b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          Wich type of primary/secondary school students attend
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let type of profileToDisplay.studentSchoolType | keyvalue">
        <div> {{type.key}} : {{type.value}} </div>
      </div>
    </mat-expansion-panel>
    <!-- Third Level School Types -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b> Third Level Studies </b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          What third level students are currently studying
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let option of profileToDisplay.thirdLevelOption | keyvalue">
        <div> {{option.key}} : {{option.value}} </div>
      </div>
    </mat-expansion-panel>
    <!-- Other third level studies -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b> Other Studies </b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          Other third level studies that are not listed
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let level of profileToDisplay.otherStudies | keyvalue">
        <div> {{level.key}} : {{level.value}} </div>
      </div>
    </mat-expansion-panel>
    <!-- Third Level Year -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b> Third Level Year </b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          What year third level students are currently in
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let year of profileToDisplay.thirdLevelYear | keyvalue">
        <div> {{year.key}} : {{year.value}} </div>
      </div>
    </mat-expansion-panel>
    <!-- Third Level Year -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b> USA School </b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          What students are currently in the USA
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let option of profileToDisplay.usaOption | keyvalue">
        <div> {{option.key}} : {{option.value}} </div>
      </div>
    </mat-expansion-panel>
    <!-- Other Postgrad studies -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b> Postgrad Studies </b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          What postgrad students are currently studying
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let option of profileToDisplay.otherPostgradStudies | keyvalue">
        <div> {{option.key}} : {{option.value}} </div>
      </div>
    </mat-expansion-panel>
    <!-- Immersion Course -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b> Immersion Course </b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          Whether or not students are attending an Irish immersion course
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let option of profileToDisplay.immersionCourse | keyvalue">
        <div> {{option.key}} : {{option.value}} </div>
      </div>
    </mat-expansion-panel>
    <!-- Teacher School Types -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b> Teacher School Types </b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          What level of schools teachers work in 
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let option of profileToDisplay.teacherSchoolTypes | keyvalue">
        <div> {{option.key}} : {{option.value}} </div>
      </div>
    </mat-expansion-panel>
    <!-- Teacher Primary Type -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b> Teacher Primary School </b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          What type of primary school teachers work in 
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let option of profileToDisplay.teacherPrimaryType | keyvalue">
        <div> {{option.key}} : {{option.value}} </div>
      </div>
    </mat-expansion-panel>
    <!-- Teacher Secondary Type -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b> Teacher Secondary School </b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          What type of secondary school teachers work in 
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let option of profileToDisplay.teacherSecondaryType | keyvalue">
        <div> {{option.key}} : {{option.value}} </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<!-- Language Competence -->

<div *ngIf="dataLoaded">
  <div class="profileHeader"> {{ts.l.language_competence}} </div>
  <mat-accordion multi class="displayData">
    <!-- Native Speaker Status -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b>{{ts.l.native_speaker}}</b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          Status of native speakers
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let status of profileToDisplay.nativeSpeakerStatus | keyvalue">
        <div> {{status.key}} : {{status.value}} </div>
      </div>
    </mat-expansion-panel>
    <!-- Dialect Preference -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b>{{ts.l.dialect}}</b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          Dialect preference of users
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let dialect of profileToDisplay.dialectPreference | keyvalue">
        <div> {{dialect.key}} : {{dialect.value}} </div>
      </div>
    </mat-expansion-panel>
    <!-- Spoken Comprehension Level -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b>Spoken Comprehension Level</b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          Spoken comprehension level of users
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let level of profileToDisplay.spokenComprehensionLevel | keyvalue">
        <div> {{level.key}} : {{level.value}} </div>
      </div>
    </mat-expansion-panel>
    <!-- Other Languages Spoken at Home -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b>Other Languages</b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          Other languages spoken at home and percentage of use
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let language of profileToDisplay.otherLanguages | keyvalue">
        <div> {{language.key}} : {{language.value}} </div>
      </div>
    </mat-expansion-panel>
    <!-- Father Native Tongue -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b> Father Native Tongue </b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          Native tongue of father
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let language of profileToDisplay.fatherNativeTongue | keyvalue">
        <div> {{language.key}} : {{language.value}} </div>
      </div>
    </mat-expansion-panel>
    <!-- Mother Native Tongue -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b> Mother Native Tongue </b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          Native tongue of mother
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let language of profileToDisplay.motherNativeTongue | keyvalue">
        <div> {{language.key}} : {{language.value}} </div>
      </div>
    </mat-expansion-panel>
    <!-- Years of Irish -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b> Years of Irish </b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          The number of years students have been studying Irish
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let year of profileToDisplay.totalYearsOfIrish | keyvalue">
        <div> {{year.key}} years : {{year.value}} </div>
      </div>
    </mat-expansion-panel>
    <!-- Other language proficiency -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b> Other Language Proficiency </b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          Other languages that users speak/are proficient in
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let language of profileToDisplay.otherLanguageProficiency | keyvalue">
        <div> {{language.key}} : {{language.value}} </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<!-- Exposure to Irish -->
<div *ngIf="dataLoaded">
  <div class="profileHeader"> {{ts.l.exposure_to_irish}} </div>
  <mat-accordion multi class="displayData">
    <!-- Speaking Frequency -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b>Speaking Frequency</b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          Frequency users speak Irish
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let frequency of profileToDisplay.speakingFrequency | keyvalue">
        <div> {{frequency.key}} : {{frequency.value}} </div>
      </div>
    </mat-expansion-panel>
    <!-- Speak With -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b>Speak With</b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          With whom users normally speak Irish 
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let who of profileToDisplay.speakWith | keyvalue">
        <div> {{who.key}} : {{who.value}} </div>
      </div>
    </mat-expansion-panel>
    <!-- Irish Media -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b>Irish Media</b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          Types of Irish media that users use and how ofthen they use it
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="sideBySide">
        <div>
          Type:
          <div *ngFor="let media of profileToDisplay.irishMedia | keyvalue">
            <div> {{media.key}} : {{media.value}} </div>
          </div>
        </div>
        <div>
          How often:
          <div *ngFor="let time of profileToDisplay.howOftenMedia | keyvalue">
            <div> {{time.key}} : {{time.value}} </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <!-- Irish Reading -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b>Irish Reading</b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          Types of Irish reading that users do and how ofthen they use it
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="sideBySide">
        <div>
          Type:
          <div *ngFor="let reading of profileToDisplay.irishReading | keyvalue">
            <div> {{reading.key}} : {{reading.value}} </div>
          </div>
        </div>
        <div>
          How often:
          <div *ngFor="let time of profileToDisplay.howOftenReading | keyvalue">
            <div> {{time.key}} : {{time.value}} </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <!-- Irish Media -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b>Irish Writing</b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          Types of Irish writing that users do and how ofthen they use it
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="sideBySide">
        <div>
          Type:
          <div *ngFor="let writing of profileToDisplay.irishWriting | keyvalue">
            <div> {{writing.key}} : {{writing.value}} </div>
          </div>
        </div>
        <div>
          How often:
          <div *ngFor="let time of profileToDisplay.howOftenWriting | keyvalue">
            <div> {{time.key}} : {{time.value}} </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <!-- Synth Opinion -->
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b> Synth Opinion </b>
        </mat-panel-title>
        <mat-panel-description class="panelDescription">
          User opinion on synthetic voices
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let opinion of profileToDisplay.synthOpinion | keyvalue">
        <div> {{opinion.key}} : {{opinion.value}} </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

  

