.headerTitle {
  font-size: 16pt;
  padding-top: 10px;
}

.dataOptions {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.option {
  padding-right: 5px;
  padding-top: 5px;
}

.option:hover {
    color: var(--scealai-green);
    text-decoration: none;
    cursor: pointer;
}

.adminContent {
    justify-content: space-around;
}

.container {
  padding-bottom: 20px;
}

.datePicker {
  padding-top: 10px;
}


.submitButton {
    background-color: var(--scealai-green);
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
}

.submitButton:hover {
    cursor: pointer;
    background-color: var(--scealai-dark-green);
}

.logContainer {
  padding: 10px;
}

.profileNumber {
  text-align: left;
  padding-left: 20px;
}

.profileHeader {
  text-align: center;
  font-weight: bold;
  font-size: 14pt;
}

.displayData {
  padding: 20px;
}

mat-panel-description.panelDescription {
  flex-grow: 0;
}

.sideBySide {
  display: flex;
  justify-content: space-around;
  padding-left: 30%;
  padding-right: 20%;
  text-align: left;
}

.dataLabel {
  font-size: 12pt;
  font-weight: bold;
  padding-bottom: 5px;
}

.data {
  text-align: left;
  padding-left: 40%;
}

