<div class="profileContainer">
    <div class="formTitle">Profile</div><div class="editIcon" (click)="toggleEditMode()"><img src="../../assets/img/editIcon.ico" class="editImg"></div><br>
    <div *ngIf="editMode" class="formContainer">
      <form>
        <div class="form-group">
          <div class="formLabel"><label>Username</label></div>
          <input type="text" class="form-control inputField"
          placeholder="Enter username" name="username">
        </div>
        <div class="form-group">
          <div class="formLabel"><label>Password</label></div>
          <input type="password" class="form-control inputField" 
          placeholder="Enter password" name="password">
        </div>
        <button type="submit" class="btn loginBtn">Register</button>
      </form>
    </div>
    <div *ngIf="!editMode" class="formContainer">
        <div class="form-group">
          <div class="formLabel">Username</div>
          <div class="userInfo">{{auth.getUserDetails().username}}</div>
        </div>
        <div class="form-group">
          <div class="formLabel">Password</div>
          <div class="userInfo">*******</div>
        </div>
        <div class="form-group">
          <button routerLink="/landing" class="btn logoutBtn" (click)="auth.logout()">log out</button>
        </div>
      </div>
</div>