<div class="dialogContainer">
  <div *ngIf="data?.title" class="header">
    <h2 mat-dialog-title>{{ data.title }}</h2>
  </div>

  <div *ngIf="data?.message" mat-dialog-content [innerHTML]="data.message" ></div>

  <!--<div *ngIf="data?.body">-->
    <ul>
      <li *ngFor="let point of data.body" [innerHTML]="point">
        <!--{{ point }}-->
      </li>
    </ul>
  <!--</div>-->

  <div>
    <br />
    <div mat-dialog-actions [align]="'center'">
      <button class="modalBtn deleteRedBtn" [mat-dialog-close]="" *ngIf="data.cancelText" > {{ data.cancelText }} </button>
      <!--<button class="modalBtn confirmBtnGreen" [mat-dialog-close]="textInputs" *ngIf="data.confirmText" > {{ data.confirmText }} </button>-->
    </div>
  </div>
</div>
