<img src="assets/img/book.png" class="bookImg">
<div class="page">
  <div class="bookContainer">
      <div class="bookHeader">
        <a routerLink="/contents" class="myStoriesBtn">Contents</a>
        <div class="bookTitle">{{story?.title}}</div>
        <a (click)="topRightButton()" class="chatbotBtn">Taidhgín</a>
      </div>
      <div class="storyContainer">
        <div class="textFieldContainer">
            <textarea class="textField" value="{{story?.text}}"></textarea>
        </div>
        <div class="saveBtnContainer">
            <button class="btn saveBtn" (click)="saveStory(story.title, story.date, story.text)">Save</button>
        </div>
      </div>
  </div>
</div>