.classroom-card-container {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.classroom-card {
    padding: 15px;
}

.classroom-card:hover {
    cursor: pointer;
}

.selectorHeader {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}

.xbutton:hover {
    cursor: pointer;
}

.noClassrooms {
  text-align: center;
  font-weight: bold;
}

.checkBox {
  font-weight: bold;
  font-size: 12px;
  padding: 10px;
}

.contentsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.datePicker {
  padding-top: 10px;
  padding-bottom: 5px;
  align-self: center;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #fff; 
}