<div class="container">
  <div class="header">
    {{ts.l.resources}}
  </div>
  <div class="content">
    <div class="headerTitle"> {{ts.l.story_examples}} </div><br>
    <div class="headerTitle"> {{ts.l.story_bank_growing}} </div><br><br>
    <div style="font-size: 15pt;"> {{ts.l.higher_level}} </div>
    <!-- Gweedore (Ulster) stories-->
    <div class="dialectTitle"> {{ts.l.gweedore}} </div>
    <mat-accordion multi>
      <!-- Balor -->
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'200px'" [expandedHeight]="'200px'">
          <mat-panel-title>
            <img src="assets/img/1_balor.png" class="storyImg" alt="Balor">
          </mat-panel-title>
          <mat-panel-description class="panelDescription">
            Balor
          </mat-panel-description>
        </mat-expansion-panel-header>
          <div> {{ts.l.balor1}} </div> <br>
          <div> {{ts.l.balor2}} </div> <br>
          <div> {{ts.l.balor3}} </div>
        <mat-action-row>
          <a class="viewStoryBtn" href="https://www.abair.tcd.ie/lara/balor2vocabpages/_hyperlinked_text_.html" target="_blank" rel="noopener noreferrer"> {{ts.l.view_story}} </a>
        </mat-action-row>
      </mat-expansion-panel>
      <!-- Beatha na Féinne -->
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'200px'" [expandedHeight]="'200px'">
          <mat-panel-title>
            <img src="assets/img/beatha02_color.png" class="storyImg" alt="Beatha na Féinne">
          </mat-panel-title>
          <mat-panel-description class="panelDescription">
            Beatha na Féinne 
          </mat-panel-description>
        </mat-expansion-panel-header>
          <div> {{ts.l.beathna_na_feinne1}} </div> <br>
          <div> {{ts.l.beathna_na_feinne2}}</div>
        <mat-action-row>
          <a class="viewStoryBtn" href="https://www.abair.tcd.ie/lara/beatha-na-feinne_anb_dnnvocabpages/_hyperlinked_text_.html" target="_blank" rel="noopener noreferrer"> {{ts.l.view_story}} </a>
        </mat-action-row>
      </mat-expansion-panel>
      <!-- Colorado -->
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'200px'" [expandedHeight]="'200px'">
          <mat-panel-title>
            <img src="assets/img/logo-S.png" class="storyImg" alt="Colorado">
          </mat-panel-title>
          <mat-panel-description class="panelDescription">
            Colorado
          </mat-panel-description>
        </mat-expansion-panel-header>
          <div> {{ts.l.colorado1}} </div> <br>
          <div> {{ts.l.colorado2}}</div>
        <mat-action-row>
          <a class="viewStoryBtn" href="https://www.abair.tcd.ie/lara/colorado_anb_dnnvocabpages/_hyperlinked_text_.html" target="_blank" rel="noopener noreferrer"> {{ts.l.view_story}} </a>
        </mat-action-row>
      </mat-expansion-panel>
      <!-- Druma Mór -->
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'200px'" [expandedHeight]="'200px'">
          <mat-panel-title>
            <img src="assets/img/logo-S.png" class="storyImg" alt="Druma Mór">
          </mat-panel-title>
          <mat-panel-description class="panelDescription">
            Druma Mór
          </mat-panel-description>
        </mat-expansion-panel-header>
          <div> {{ts.l.druma_mor1}}</div> <br>
          <div> {{ts.l.druma_mor2}} </div> <br>
          <div> <i> {{ts.l.druma_mor3}}</i> </div> <br>
          <div> {{ts.l.druma_mor4}} </div> <br>
          <div> {{ts.l.druma_mor5}} </div> <br>
          <div> {{ts.l.druma_mor6}} </div>
        <mat-action-row>
          <a class="viewStoryBtn" href="https://www.abair.tcd.ie/lara/druma-mor_anb_dnnvocabpages/_hyperlinked_text_.html" target="_blank" rel="noopener noreferrer"> {{ts.l.view_story}} </a>
        </mat-action-row>
      </mat-expansion-panel>
      
    </mat-accordion>
    
    <!-- Mumhan (Munster) stories-->
    <div class="dialectTitle"> {{ts.l.mumhan}} </div>
    <mat-accordion multi>
      <!-- Mar a Baisteadh Fionn  -->
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'200px'" [expandedHeight]="'200px'">
          <mat-panel-title>
            <img src="assets/img/fionn01_colors.jpg" class="storyImg" alt="Mar a Baisteadh Fionn">
          </mat-panel-title>
          <mat-panel-description class="panelDescription">
            Mar a Baisteadh Fionn
          </mat-panel-description>
        </mat-expansion-panel-header>
          <div> {{ts.l.mar_a_baisteadh_fionn1}} </div> <br>
          <div> {{ts.l.mar_a_baisteadh_fionn2}} </div> <br>
          <div> {{ts.l.mar_a_baisteadh_fionn3}} </div> <br>
          <div> {{ts.l.mar_a_baisteadh_fionn4}} </div>
        <mat-action-row>
          <a class="viewStoryBtn" href="https://www.abair.tcd.ie/lara/mar_a_baisteadh_fionnvocabpages/_hyperlinked_text_.html" target="_blank" rel="noopener noreferrer"> {{ts.l.view_story}} </a>
        </mat-action-row>
      </mat-expansion-panel>
      <!-- Fairceallach Fhinn Mhic Chumhaill -->
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'200px'" [expandedHeight]="'200px'">
          <mat-panel-title>
            <img src="assets/img/Fairceallach.png" class="storyImg" alt="Fairceallach Fhinn Mhic Chumhaill"> 
          </mat-panel-title>
          <mat-panel-description class="panelDescription">
             Fairceallach Fhinn Mhic Chumhaill
          </mat-panel-description>
        </mat-expansion-panel-header>
          <div> {{ts.l.fairceallach1}} </div> <br>
          <div> {{ts.l.fairceallach2}} </div> <br>
          <div> {{ts.l.fairceallach3}} </div>
        <mat-action-row>
          <a class="viewStoryBtn" href="https://www.abair.tcd.ie/lara/fairceallach-fhinn-mhic-cumhaill_cmg_dnnvocabpages/_hyperlinked_text_.html" target="_blank" rel="noopener noreferrer"> {{ts.l.view_story}} </a>
        </mat-action-row>
      </mat-expansion-panel>
      <!-- Pósadh ar an mBlascaod Mór -->
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'200px'" [expandedHeight]="'200px'">
          <mat-panel-title>
            <img src="assets/img/posadh01.png" class="storyImg" alt="Pósadh ar an mBlascaod Mór">
          </mat-panel-title>
          <mat-panel-description class="panelDescription">
            Pósadh ar an mBlascaod Mór
          </mat-panel-description>
        </mat-expansion-panel-header>
          <div> {{ts.l.posadh_ar_an_mblascaod_mor1}} </div> <br>
          <div> {{ts.l.posadh_ar_an_mblascaod_mor2}} </div>
        <mat-action-row>
          <a class="viewStoryBtn" href="https://www.abair.tcd.ie/lara/an-bhlascaod_nnc_dnnvocabpages/_hyperlinked_text_.html" target="_blank" rel="noopener noreferrer"> {{ts.l.view_story}} </a>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
    
    <!-- Leaving Cert stories-->
    <div class="dialectTitle"> {{ts.l.leaving_cert_stories}} </div>
    <div *ngIf="!auth.isLoggedIn()" style="padding-left:30px"> {{ts.l.sign_in_to_view_more}} </div>
    <mat-accordion multi *ngIf="auth.isLoggedIn()">
      <!-- Oisín i dTír na nÓg  -->
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'200px'" [expandedHeight]="'200px'">
          <mat-panel-title>
            <img src="assets/img/logo-S.png" class="storyImg" alt="Mar a Baisteadh Fionn">
          </mat-panel-title>
          <mat-panel-description class="panelDescription">
            Oisín i dTír na nÓg
          </mat-panel-description>
        </mat-expansion-panel-header>
          <div> {{ts.l.oisin_i_dTir_na_nOg1}} </div> <br>
          <div> {{ts.l.oisin_i_dTir_na_nOg2}} </div> <br>
          <div> {{ts.l.oisin_i_dTir_na_nOg3}} </div>
        <mat-action-row>
          <a class="viewStoryBtn" href="https://abair.ie/lara/oisin_i_dtir_na_nogvocabpages/_hyperlinked_text_.html" target="_blank" rel="noopener noreferrer"> {{ts.l.view_story}} </a>
        </mat-action-row>
      </mat-expansion-panel>
      <!-- Dís -->
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'200px'" [expandedHeight]="'200px'">
          <mat-panel-title>
            <img src="assets/img/logo-S.png" class="storyImg" alt="Fairceallach Fhinn Mhic Chumhaill"> 
          </mat-panel-title>
          <mat-panel-description class="panelDescription panelFlex">
            <div>Dís</div>
            <div>le Siobhán Ní Shúilleabháin</div>
          </mat-panel-description>
        </mat-expansion-panel-header>
          <div> {{ts.l.dis1}} </div> <br>
          <div> {{ts.l.dis2}} </div>
        <mat-action-row>
          <a class="viewStoryBtn" href="https://abair.ie/lara/disvocabpages/_hyperlinked_text_.html" target="_blank" rel="noopener noreferrer"> {{ts.l.view_story}} </a>
        </mat-action-row>
      </mat-expansion-panel>
      <!-- An Gnáthrud -->
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'200px'" [expandedHeight]="'200px'">
          <mat-panel-title>
            <img src="assets/img/logo-S.png" class="storyImg" alt="Pósadh ar an mBlascaod Mór">
          </mat-panel-title>
          <mat-panel-description class="panelDescription panelFlex">
            <div>An Gnáthrud</div>
            <div>le Deirdre Ní Ghrianna</div>
          </mat-panel-description>
        </mat-expansion-panel-header>
          <div> {{ts.l.an_gnathrud}} </div>
        <mat-action-row>
          <a class="viewStoryBtn" href="https://abair.ie/lara/an-gnathrudvocabpages/_hyperlinked_text_.html" target="_blank" rel="noopener noreferrer"> {{ts.l.view_story}} </a>
        </mat-action-row>
      </mat-expansion-panel>
      <!-- Hurlamboc -->
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'200px'" [expandedHeight]="'200px'">
          <mat-panel-title>
            <img src="assets/img/logo-S.png" class="storyImg" alt="Pósadh ar an mBlascaod Mór">
          </mat-panel-title>
          <mat-panel-description class="panelDescription panelFlex">
            <div>Hurlamboc</div>
            <div>le hÉilís Ní Dhuibhne</div>
          </mat-panel-description>
        </mat-expansion-panel-header>
          <div> {{ts.l.hurlamboc}} </div>
        <mat-action-row>
          <a class="viewStoryBtn" href="https://abair.ie/lara/hurlamabocvocabpages/_hyperlinked_text_.html" target="_blank" rel="noopener noreferrer"> {{ts.l.view_story}} </a>
        </mat-action-row>
      </mat-expansion-panel>
      <!-- Seal i Neipeal -->
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'200px'" [expandedHeight]="'200px'">
          <mat-panel-title>
            <img src="assets/img/logo-S.png" class="storyImg" alt="Pósadh ar an mBlascaod Mór">
          </mat-panel-title>
          <mat-panel-description class="panelDescription panelFlex">
            <div>Seal i Neipeal</div>
            <div>le Cathal Ó Searcaigh</div>
          </mat-panel-description>
        </mat-expansion-panel-header>
          <div> {{ts.l.seal_i_neipeal}} </div>
        <mat-action-row>
          <a class="viewStoryBtn" href="https://abair.ie/lara/seal-i-neipealvocabpages/_hyperlinked_text_.html" target="_blank" rel="noopener noreferrer"> {{ts.l.view_story}} </a>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
    
    <!-- Other stories-->
    <div class="dialectTitle"> {{ts.l.other_stories}} </div>
    <div *ngIf="!auth.isLoggedIn()" style="padding-left:30px"> {{ts.l.sign_in_to_view_more}} </div>
    <mat-accordion multi *ngIf="auth.isLoggedIn()">
      <!-- An Prionsa Beag  -->
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'200px'" [expandedHeight]="'200px'">
          <mat-panel-title>
            <img src="assets/img/logo-S.png" class="storyImg" alt="Mar a Baisteadh Fionn">
          </mat-panel-title>
          <mat-panel-description class="panelDescription">
            An Prionsa Beag
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-action-row>
          <a class="viewStoryBtn" href="https://abair.ie/lara/an-prionsa-beagvocabpages/_hyperlinked_text_.html" target="_blank" rel="noopener noreferrer"> {{ts.l.view_story}} </a>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
    
  </div>
</div>