.container {
    padding-bottom: 20px;
}

.headerTitle {
    text-align: center;
}

.dialectTitle {
    font-size: 15pt;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 30px;
}

.storyImg {
  width: 300px;
  height: 200px;
  padding: 5px;
}

.panelDescription {
  font-size : 15pt;
  font-weight: bold;
  padding-top: 70px;
}

.panelFlex {
  display:flex;
  flex-direction: column;
}

.panelDescriptionNoPhoto {
  font-size : 15pt;
  font-weight: bold;
}

.moreResources {
  place-content: space-between;
}

.dialectContainer {
  display:flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.viewStory {
  padding-right: 10px;
}

.viewStoryBtn {
    padding: 7px;
    background-color: var(--scealai-green);
    color: white;
    border-radius: 4px;
    text-decoration:none;
    text-align: center;
}

.viewStoryBtn:hover {
    cursor: pointer;
}

.signIn {
  font-weight: bold;
  font-style: italic;
  font-size: 16pt;
  padding-top:40px;
  text-align: center;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
  margin-top:-5px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  /*min-width: 160px;*/
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /*z-index: 1;*/
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.footerLARA {
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    align-items: center;
    background: #F5EEDE;
}

.footerLogos {
    display: flex;
    flex-wrap: wrap;
}

.copyright {
    padding-top:10px;
    padding-right:5px;
    height: 15px;
    opacity: 0.5;
}

.logoPadding {
  padding-left:50px;
  padding-right:50px;
  padding-top:5px;
  padding-bottom:5px;
}

.logoImg {
    height: 40px;
}

@media only screen and (max-width: 700px) {
    .container {
        width: 95%;
    }
    .content {
        font-size: 10pt;
    }
    .header {
        font-size: 15pt;
    }
}