<!-- FORM TO RESET PASSWORD -->
<div class="registerContainer">
  <div 
     class="formTitle">
    {{ts.l.reset_password}}
    <div 
     class="closeForgotPasswordBtn" 
     style="margin-left: auto;"
     (click)="cancel()">
    </div>
  </div><br>
  <div class="formContainer">
    <p
        class="formLabel"
        style="text-align: justify;">{{ts.l.forgot_password_prose}}
    <a href="mailto:scealai.info@gmail.com" target="_blank">scealai.info@gmail.com</a>
    </p>
    <input
        class="form-control inputField"
        type="text"
        placeholder="{{ts.l.enter_username}}"
        name="username"
        [(ngModel)]="username">
    <button
        class="modalBtn createBtnGreen"
        (click)="resetPassword();">
      {{ts.l.send}}
    </button>
    <button
        class="modalBtn createBtnGreen"
        (click)=cancel()>
      {{ts.l.cancel}}
      <i class="fa fa-times"></i>
    </button>

    <!-- DISPLAY ERROR OR OK MESSAGES -->
    <div
        *ngFor="let err of errKeys"
        class="errorMessage">
      {{ ts.l[err] ? ts.l[err] : err }}
    </div>
    <div
        *ngFor="let ok of okKeys"
        class="">
      {{ ts.l[ok] ? ts.l[ok] : ok }}
    </div>
  </div>
</div>
