@import "../node_modules/ng2-slim-loading-bar/style.css";

body {
    background: url("assets/img/paperBg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Open Sans";
}

.btn {
  color: white;
  font-size: 14pt;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  background-color: #e5bd3b;
  z-index: 20;
}

.btn:hover {
  background-color: #ad8f2b;
  color: white;
}