.contentsContainer {
    padding-left: 3%;
    padding-right: 3%;
    height: 390px;
    width: 80%;
    margin-left: 10%;
    background: var(--paper-img) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    border-radius: 5px 5px 5px 5px;
}

.myStoriesBtn {
    display: inline;
    float: left;
    border-style: none;
    color: var(--dark-text);
    font-size: 12pt;
    padding-top: 10px;
}

.myStoriesBtn:hover {
    color: var(--scealai-orange);
    cursor: pointer;
    transition: color 0.5s;
}

.bookTitle {
    color: var(--dark-text);
    padding-right: 30px;
    display: inline-block;
    font-size: 18pt;
}

.contentsLinkContainer {
    height: 300px;
    overflow: scroll;
    padding: 10px;
    -webkit-box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.5);
    border-radius: 5px 5px 5px 5px;
}

.contentsLink {
    color: var(--dark-text);
    text-align: left;
    width: 50%;
}

.contentsDate {
    color: var(--dark-text);
}


@media only screen and (max-width: 700px) { 
    .bookImg {
        display: none;
    }
    .bookContentsContainer {
        width: 95%;
        padding-top: 10px;
        margin-left: 2.5%;
        z-index: 10;
    }
    .contentsContainer {
       width: 90%;
       margin-left: 5%;
    }
    .contentsLinkContainer {
        height: 270px;
        padding-top: 10px;
    }
    .contentsLinkTitle {
        font-size: 12pt;
    }

    .contentsDateTitle {
        font-size: 12pt;
    }
}

@media only screen and (min-width: 700px) {
    .bookImg {
        z-index: -10;
        width: 630px;
        left: 50%;
        margin-left: -315px;
    }

    .bookContentsContainer {
        width: 560px;
        position: fixed;
        left: 50%;
        margin-left: -280px;
        padding-top: 40px;
    }
}

@media only screen and (min-width: 1400px) and (min-height: 800px) {
    .bookImg {
        z-index: -10;
        width: 630px;
        left: 50%;
        margin-left: -315px;
        margin-top: 100px;
    }

    .bookContentsContainer {
        width: 560px;
        position: fixed;
        left: 50%;
        margin-left: -280px;
        padding-top: 40px;
        margin-top: 100px;
    }
}