<div class="container">
  <div class="header">
    {{ts.l.the_team}}
  </div>
  <div class="content">
    <div class="headerTitle"> Meet the Principal Investigator… </div><br>
    <mat-accordion multi>
      <!-- Neasa Ní Chiaráin  -->
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'300px'" [expandedHeight]="'300px'">
          <mat-panel-title>
            <div>
              <div class="name"><b>Neasa Ní Chiaráin </b></div>
              <img src="assets/img/neasa.jpg" class="neasaImg" alt="Neasa Ní Chiaráin">
            </div>
          </mat-panel-title>
          <mat-panel-description>
            <div> Neasa Ní Chiaráin is Ussher Assistant Professor of Irish Speech and Language Technology in the <a href="https://www.tcd.ie/slscs/" target="_blank" rel="noopener noreferrer"> School of Linguistic, Speech and Communication Sciences</a>. 
            She has been working for many years as part of the ABAIR initiative in the <a href="https://www.tcd.ie/slscs/clcs/psl/index.php" target="_blank" rel="noopener noreferrer">Phonetics & Speech Lab., CLCS</a>, on the development of Irish language speech 
            technologies, (see <a href="https://www.abair.tcd.ie/" target="_blank" rel="noopener noreferrer">www.abair.ie</a>). As well as working on the development of the underpinning 
            linguistic resources needed for synthesis, her research focuses on exploring the application of speech and language technology in an intelligent-<b>Computer-Assisted Language Learning (iCALL)</b> context, particularly for the teaching/learning of Irish. <br>
            <br> See more of the activities ongoing in the area <a href="https://wakelet.com/wake/" target="_blank" rel="noopener noreferrer">here</a>: </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
          <div> Neasa’s research interest lies at the intersection between the use of methods such as AI and digital tools, particularly speech technology, and the support of language teaching and learning. 
            The research goal is to look at the mechanisms behind learning/teaching a language and investigating how digital tools can be used to support/enhance that. Central to her research are questions such as: 
                <ul>-	What makes effective tools for language learning and teaching?</ul>
                <ul>-	How can we use technology to support language growth?</ul>
          </div>
          <div>
            Our understanding of language teaching/learning methodologies is in a constant state of development and this research aims to be at the cutting edge in the use of technology to complement language teaching, Irish in particular. 
          </div>
          <div>
            By exploiting state-of-the-art speech and language technologies for Irish we can now start to look at building adaptive and interactive systems, combining natural language processing methods with second language acquisition insights. We aim to investigate:
                <ul>-	opportunities to individualise content (supporting the general goals of certain learning sequences in the language) </ul>
                <ul>-	certain Irish target constructions central to the acquisition process </ul>
                <ul>-	the integration of form and function</ul>
                <ul>-	how best to give learners the opportunity to practice and to achieve fluency</ul>
                <ul>-	the building of effective intelligent language learning environments and intelligent tutoring systems</ul>
          </div>
          <div>
            At the outset An Scéalaí was planned as a platform to explore evidence for language learning. By designing and building An Scéalaí (while still at a developmental stage) we are now in a position to 
            look closely at the process of language acquisition, as established from firm evidence-based research, by:
                <ul>-	-	collecting and analysing learner language </ul>
                <ul>-	-	mapping language development stages </ul>
                <ul>-	-	exploring how task design may influence language development</ul>
          </div>
          <div>
            We also aim to examine the nature of effective feedback and look at what constitutes suitable correction mechanisms for learners so that they may be directed towards their next step in the development ladder.
          </div>
          <div>
            <br><i>An Scéalaí </i>is an important tool both for the learner and the researcher. It is the first of its kind for Irish. It enables us to create a solid learning environment for learners which will continuously evolve and develop informed by real data from real learners. 
          </div>
      </mat-expansion-panel>
    </mat-accordion>
    
    <!-- Developers -->
    <div class="headerTitle" style="padding-top:20px"> Meet the <i>An Scéalaí</i> platform developers…  </div><br>
    <!-- Madeleine Comtois  -->
    <mat-card>
      <div class="developerCard">
      <mat-card-content>
        <div>
          <div class="name"><b>Madeleine Comtois</b></div>
          <img src="assets/img/maddie.jpg" class="maddieImg" alt="Madeleine Comtois">
        </div>
      </mat-card-content>
      <mat-card-content>
        <div>Madeleine grew up in Weatherford, TX, USA, but she moved to Dublin to begin her studies as a Computer Science and Language undergraduate student at Trinity College Dublin, a course which combines studies in computer science, French, and linguistics.  
          She spent a year (2019-2020) in Lyon, France studying computer science at the engineering school INSA as well as linguistics at the Université Lyon 2 Lumière.  She began working with <i>An Scéalaí</i> in 2020, developing the frontend and backend in addition to analysing the data collected from users.  
          She is planning to graduate in the fall of 2021 and hopes to continue working or pursue a master in a computational linguistics related field.</div>
      </mat-card-content>
      </div>
    </mat-card><br>
    <!-- Oisín Nolan -->
    <mat-card>
      <div class="developerCard">
      <mat-card-content>
        <div>Oisín is a student at Trinity College, currently entering the final year of his bachelor's degree in Computer Science & Language. Growing up in Maynooth, Co. Kildare, he attended a gaelscoil for his primary education. Oisín started developing 
          <i>An Scéalaí </i> last summer, modernising a previous iteration of the app. He continued working part-time on the project throughout his Erasmus exchange in Lyon, France. In addition to his work at the Phonetics & Speech Lab, Oisín has completed 
          internships at Google, Zurich and the ADAPT Research Centre, Trinity College Dublin. Upon finishing his undergraduate degree, Oisín hopes to continue studying Computational Linguistics at postgraduate level.</div>
      </mat-card-content>
      <mat-card-content>
        <div>
          <div class="name"><b>Oisín Nolan</b></div>
          <img src="assets/img/oisin.png" class="oisinImg" alt="Oisín Nolan">
        </div>
      </mat-card-content>
      </div>
    </mat-card>
    
    <!-- Artists -->
    <div class="headerTitle" style="padding-top:20px"> Meet the Artist…  </div><br>
    <!-- Anna Giovannini  -->
    <mat-card>
      <div class="developerCard">
      <mat-card-content>
        <div>
          <div class="name"><b>Anna Giovannini</b></div>
          <img src="assets/img/anna.png" class="annaImg" alt="Anna Giovannini">
        </div>
      </mat-card-content>
      <mat-card-content>
        <div>Originally from São Paulo, Brazil, Anna has a Bachelors in Visual Arts and Art History from Brown University, where she also minored in German due to an interest in world languages from a young age. Having learned Japanese during high school, 
          she spent the following years after graduation working in publishing and as a freelance illustrator and taking courses in animation, traditional art and Russian. She then entered the MPhil program in Speech and Language Processing at Trinity College 
          Dublin and, having submitted her dissertation in Affective Speech in 2020, is continuing research in this field while studying Irish on the side.</div>
      </mat-card-content>
      </div>
    </mat-card>
    
    <!-- Abair  -->
    <div class="headerTitle" style="padding-top:20px"> Meet the ABAIR.ie team… </div><br>
    <mat-card>
      <div>
        <mat-card-content>
          <div>This work is carried out as part of the ABAIR initiative in the Phonetics and Speech Lab. and wouldn’t be possible without the collaboration with and constant backup from the talented team of linguistics, computer scientists and speech engineers. 
            See the ABAIR initiative homepage <a href="https://www.abair.tcd.ie/ga/" target="_blank" rel="noopener noreferrer">here</a>: </div>
        </mat-card-content>
        <mat-card-content>
          <div style="text-align: center;">
            <img src="assets/img/an_fhoireann_sa_tsaotharlann2019.jpg" class="teamImg" alt="Abair team">
          </div>
        </mat-card-content>
        <mat-card-content>
          <div style="text-align: center;"><i>The team at the Phonetics and Speech Lab., School of Linguistic, Speech and Communication Sciences, TCD</i></div>
        </mat-card-content>

      </div>
    </mat-card>
  </div>
</div>