.container {
    width: 600px;
    background-color: white;
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    animation-duration: 1s;
    animation-name: fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0%;
        transform: translateY(100px) scale(0.9);
    }

    to {
        opacity: 100%;
        transform: translateY(0px) scale(1);
    }
}

.header {
    width: 100%;
    font-size: 20pt;
    height: 20px;
    margin-bottom: 16px;
}

.button-div {
    max-height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.dialectSelect {
    margin: 4px;
}

.content {
    text-align: left;
}

.formLabel {
    margin: 2px;
    padding: 2px;
}

.level-select {
    font-size: 16px;
    height: 24px;
}

.button {
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border-width: 1px;
    letter-spacing: 1px;
    background-color: rgba(126, 118, 118, 0.1);
    margin: 0px;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-4px);
}

.prompt {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 24px;
    font-size: 24px;
}

.validationAlert {
    color: red;
}

@media only screen and (max-width: 700px) {
    .container {
        width: 95%;
    }
    .content {
        font-size: 10pt;
    }
    .header {
        font-size: 15pt;
    }
}