<!-- Select the synthesis option for a story -->
<img src="assets/img/book.png" class="bookImg">
<div class="page">
  <div class="bookContainerSynth">
    <!--popup for update story option -->
    <div class="{{modalClass}} modalContainer">
      <div class="modalContent">
          <div class="modalText">{{ts.l.save_changes_made_to}} this recording?</div>
          <div *ngIf="registrationError" class="errorMessage">{{errorText}}</div>
          <div>
              <button class="modalBtn" (click)="hideModal();">{{ts.l.cancel}}</button><button class="modalBtn createBtnGreen" (click)="saveModal()">{{ts.l.save}}</button>
          </div>
      </div>
    </div>
    <!-- back button to return to story and save button to send recordings to db-->
      <div class="recordingBookHeader" *ngIf="story">
        <div (click)="goToDashboard()" class="myStoriesBtn"><i class="fa fa-chevron-left"></i> {{ts.l.story}}</div> 
        <div></div>
        <div [ngClass]="recordingMode ? 'bookTitle': 'bookTitleHistory'">{{story?.title}}<span *ngIf="!recordingSaved">*</span></div>
        <div *ngIf="recordingMode" class="recordingSaveIcon">
          <div *ngIf="recordingSaved" class="recordingSavedIcon">
            {{ts.l.saved}} <i class="fas fa-check"></i>
          </div>
          <div *ngIf="!recordingSaved" class="recordingUnsavedIcon" (click)="saveRecordings()">
            {{ts.l.save}} <i class="fas fa-save"></i>
          </div>
        </div>
      </div>
      <div class="recordingStoryContainer" *ngIf="story">
        <div *ngIf="recordingMode" class="recordingStoryHeader">
          Listen, record, and compare
        </div>
        <div class="textFieldContainer">
          <div *ngIf="historyMode" class="historyToolbar">
            <div class="selectStoryFilter">
              <select  [(ngModel)]="recording" (ngModelChange)="displayPreviousRecording()">
                <option *ngFor="let item of recordingHistory" [ngValue]="item">{{item.date | date:'dd/MM/yyyy h:mm aa'}} -- {{item.storyData.dialect}}</option>
              </select>
            </div>
          </div>
          <!--Main container for story -->
            <div [ngClass]="recordingMode ? 'textContainerSynth': 'historyTextContainerSynth'">
              <!-- Display synthesising (loading) -->
              <div *ngIf="!audioFinishedLoading && !recordingsFinishedLoading" class="loaderContainer">
                  <b>{{ts.l.synthesising}}</b>
                  <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
              </div>
              <!-- When synthesis finished loading -->
              <div *ngIf="audioFinishedLoading">
                <!-- loop through each paragraph of text -->
                  <div *ngFor="let p of paragraphs" class="paragraphContainer">
                    <!-- if paragraph option selected -->
                    <span *ngIf="sectionSplit==='paragraph'">
                      <!-- play / pause synthesiser -->
                      <div class="textCard">
                        <div class="cardBody">
                          <span [innerHTML]="p.responseHtml" [attr.id]="'paragraph-' + p.index"></span>
                          <button *ngIf="p.audioPlaying" (click)="stopAudio(p)" class="playAudioBtn"><i class="fas fa-pause"></i></button>
                          <button *ngIf="!p.audioPlaying" (click)="playAudio(p)" class="playAudioBtn"><i class="fa fa-play"></i></button>
                          <!-- Recording button -->
                          <button *ngIf="!isRecordingParagraph[p.index]" class="recordingBtn" (click)="recordAudio(p.index, paragraphChunks, isRecordingParagraph)"><i class="fas fa-microphone"></i></button>
                          <button *ngIf="isRecordingParagraph[p.index]" class="notRecordingBtn blink" (click)="stopRecording(p.index, paragraphAudioSources, paragraphChunks, isRecordingParagraph);"><i class="fas fa-stop-circle"></i></button>
                        </div>
                        <hr class="dividerLine" *ngIf="paragraphAudioSources[p.index]">
                        <!-- Audio player -->
                        <div class="cardFooter" *ngIf="paragraphAudioSources[p.index]">
                          <audio *ngIf="paragraphAudioSources[p.index]" [attr.src]="paragraphAudioSources[p.index]" controls #audioTag class="audioPlayer"></audio>
                          <button *ngIf="paragraphAudioSources[p.index]" class="notRecordingBtn trashBtn" (click)="deleteRecording(p.index, paragraphAudioSources, paragraphChunks)"><i class="fas fa-trash-alt"></i></button>
                          <div *ngIf="registrationError" class="errorMessage">{{errorText}}</div>
                        </div>
                        </div>
                    </span>
                    <!-- if sentence option selected -->
                    <span *ngIf="sectionSplit==='sentence'">
                      <!-- loop thorugh each sentence in the paragraph -->
                      <div *ngFor="let s of p.sentences" class="sentenceContainer">
                        <!-- play / pause synthesiser -->
                        <div class="textCard">
                          <div class="cardBody">
                            <span [innerHTML]="s.responseHtml" [attr.id]="'sentence-' + s.index"></span>
                            <button *ngIf="s.audioPlaying" (click)="stopAudio(s)" class="playAudioBtn"><i class="fas fa-pause"></i></button>
                            <button *ngIf="!s.audioPlaying" (click)="playAudio(s)" class="playAudioBtn"><i class="fa fa-play"></i></button>
                            <!-- Recording button -->
                            <button *ngIf="!isRecordingSentence[s.index]" class="recordingBtn" type="button" (click)="recordAudio(s.index, sentenceChunks, isRecordingSentence)"><i class="fas fa-microphone"></i></button>
                            <button *ngIf="isRecordingSentence[s.index]" class="notRecordingBtn blink" (click)="stopRecording(s.index, sentenceAudioSources, sentenceChunks, isRecordingSentence);"><i class="fas fa-stop-circle"></i></button>          
                          </div>
                            
                          <hr class="dividerLine" *ngIf="sentenceAudioSources[s.index]">
                          <!-- Audio player -->
                          <div class="cardFooter" *ngIf="sentenceAudioSources[s.index]">
                            <audio *ngIf="sentenceAudioSources[s.index]" [attr.src]="sentenceAudioSources[s.index]" id="audio" controls #audioTag class="audioPlayer"></audio>
                            <button *ngIf="sentenceAudioSources[s.index]" class="notRecordingBtn trashBtn" (click)="deleteRecording(s.index, sentenceAudioSources, sentenceChunks)"><i class="fas fa-trash-alt"></i></button>
                            <div *ngIf="registrationError" class="errorMessage">{{errorText}}</div>
                          </div>
                        </div>     
                      </div>
                    </span>
                  </div>
              </div>
            </div>
            <!-- Choose paragraph or Sentence buttons -->
            <div *ngIf="audioFinishedLoading" class="footer">
              <div class="btnContainer">
                <div class="footerText">
                  {{ts.l.listen_by}}
                </div>
                <div *ngIf="sectionSplit==='paragraph'">
                  <button class="changeSplitBtn selectedBtn">{{ts.l.paragraph}}</button>
                  <button class="changeSplitBtn" (click)="sentenceMode()">{{ts.l.sentence}}</button>
                </div>
                <div *ngIf="sectionSplit==='sentence'">
                  <button class="changeSplitBtn" (click)="paragraphMode()">{{ts.l.paragraph}}</button>
                  <button class="changeSplitBtn selectedBtn">{{ts.l.sentence}}</button>
                </div>
                <button class="changeSplitBtn" style="margin-left:auto;" (click)="popupVisible = !popupVisible">{{ts.l.options}}</button>
              </div>
            </div>
            <div class="optionsPopup" [ngStyle]="{'visibility': popupVisible ? 'visible' : 'hidden'}">
              <div class="recordingUnsavedIcon" (click)="archive(story)">Archive Recording <i class="fas fa-inbox"></i></div>
              <div class="recordingUnsavedIcon" style="margin-left: 5px;" [routerLink]="['/recording-history', story.id]">Go to Archive <i class="fas fa-arrow-right"></i></div>
            </div>
        </div>
      </div>
  </div>
</div>