<div class="content">
  <div class="adminTitle">
    {{ ts.l.admin_dashboard }}
  </div>

  <div class="buttonContainer">
    <div class="buttonRow">
      <div class="adminBtnContainer" routerLink="teachers">
        {{ ts.l.teachers }}
      </div>
      <div class="adminBtnContainer" routerLink="find-user">
        {{ ts.l.find_user }}
      </div>
      <div class="adminBtnContainer">
        <a class="adminBtnContainer" style="text-decoration: none" href="https://analytics.google.com/analytics/web/?authuser=2#/report-home/a178889778w247370276p229672953" target="_blank" > Google Analytics </a>
      </div>
    </div>
    <div class="buttonRow">
      <div class="adminBtnContainer" routerLink="database-stats">
        DB Stats
      </div>
      <div class="adminBtnContainer" routerLink="profile-stats">
        Profile Stats
      </div>
      <div class="adminBtnContainer" routerLink="feature-stats">
        Feature Stats
      </div>
      <div class="adminBtnContainer" routerLink="add-content">
        Add Content
      </div>
      <div class="adminBtnContainer" routerLink="backend-monitor">
        Backend Monitor
      </div>
    </div>
  </div>

  <!-- <router-outlet></router-outlet> -->
</div>
