<!--Lists all of the teacher's classrooms -->
<div class="contents">
  <div class="classContainer">
    <!-- header plus add classroom button -->
    <div class="classHeader">
      {{ts.l.classrooms}} <div class="addClassBtn" (click)="openCreateClassroomDialog()"><i class="fas fa-plus"></i></div>
    </div>
    <!-- title and number of students headers -->
    <div class="classroomKey">
      <div class="keyTitle">{{ts.l.title}}</div>
      <div class="keyNumStudents">{{ts.l.no_students}}</div>
    </div>
    <!-- display list of classrooms-->
    <div class="classBody">
      <div class="classroomCard" *ngFor="let classroom of classrooms | async" (click)="goToClassroom(classroom._id)">
        <div class="classroomTitle">{{classroom.title}}</div>
        <div class="numStudents">{{getNumberOfStudents(classroom)}}</div>
      </div>
    </div>
  </div>
</div>