.contents {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}

.modalContainer {
    width: 90%;
    height: 80vh;
}

.modalContent {
    margin-top: 10vh;
    width: 40%;
    margin-left: 30%;
}

.titleInput {
    margin-top: 10px;
    padding-left: 4px;
}

.classHeader {
    padding-right: 16px;
}

.addClassBtn {
    margin-left: auto;
}

.addClassBtn:hover {
    cursor: pointer;
    color: var(--scealai-green);
    transition: color 0.5s;
}

.keyNumStudents {
    margin-left: auto;
}

.numStudents {
    margin-left: auto;
    margin-right: 45px;
}

@media (max-width:550px) {

    .modalContent {
        margin-top: 10vh;
        width: 90%;
        margin-left: 5%;
    }

}
