.contents {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}

.modalContainer {
    width: 90%;
    height: 80vh;
}

.modalContent {
    margin-top: 10vh;
    width: 40%;
    margin-left: 30%;
}

.titleInput {
    margin-top: 10px;
    padding-left: 4px;
}

.createBtnGreen {
    background-color: var(--scealai-green);
    color: white;
}

.createBtnGreen:hover {
    background-color: var(--scealai-dark-green);
}

.classHeader {
    padding-right: 16px;
}

.addClassBtn {
    margin-left: auto;
}

.addClassBtn:hover {
    cursor: pointer;
    color: var(--scealai-green);
    transition: color 0.5s;
}

.classroomKey {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    background-color: var(--scealai-gray);
    color: var(--scealai-dark-gray);
}

.keyNumStudents {
    margin-left: auto;
}

.numStudents {
    margin-left: auto;
    margin-right: 45px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.hiddenFade {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease-in;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.visibleFade {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s ease-out;
}

@media (max-width:550px) {

    .modalContent {
        margin-top: 10vh;
        width: 90%;
        margin-left: 5%;
    }

}
