<div id="display"></div>
<div class="header">
  History of Title <i class="fas fa-info-circle"></i>
</div>
<div class="storyContainer">
  <div class="entry" *ngFor="let entry of entries">
    <div class="eventEntry">
      <div class="eventDate">{{formatDate(entry.event.date)}}</div>
      <div class="eventType">{{entry.event.type}}</div>
    </div>
    <div class="highlightIcon {{getHighlightIconClass(entry)}}" (click)="entry.isHighlighted = !entry.isHighlighted"><i class="fas fa-highlighter"></i></div>
    <div class="textEntry" [innerHtml]="entry.isHighlighted ? entry.textHighlighted : entry.textNotHighlighted">
    </div>
  </div>
</div>