<div class="body">
  <div *ngIf="stories.length > 0">
    <div class="myStories">{{ ts.l.my_stories }}</div>
    <!-- search bar -->
    <div class="form-group">
      <input
        type="text"
        class="form-control searchBox"
        id="search-text"
        aria-describedby="search-text"
        [(ngModel)]="searchText"
        placeholder="{{ ts.l.search_story_title_or_content }}"
      />
    </div>
  </div>
  <!-- list of stories -->
  <div class="storyList">
    <div *ngFor="let story of stories | appFilter : searchText; let i = index" (click)="setStory(story)" >
      <!-- story entry-->
      <div class="contentSection" [attr.id]="story._id">
        <!-- story title-->
        <div class="contentsTitle" [attr.id]="i" (blur)="saveStoryTitle(i, story)">
          {{ story?.title }}
        </div>
        <!-- date and menu icon-->
        <div class="contentsDate">
          {{ story.lastUpdated | date : "d/M/yy" }}
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="deleteStory(story._id)">
              <mat-icon>delete</mat-icon>
              <span>{{ts.l.delete}}</span>
            </button>
            <button mat-menu-item (click)="updateStoryTitle(i)">
              <mat-icon>create</mat-icon>
              <span>Rename</span>
            </button>
          </mat-menu>
        </div>

      </div>
      <hr />
    </div>
  </div>
  <button mat-fab class="newStoryButton" (click)="createNewStory()">
    <mat-icon>add</mat-icon>
  </button>
</div>
