.storyList {
    height: 90%;
    overflow-y:scroll;
}

.contentSection {
    display: flex;
}   

.contentSection:hover {
    cursor: pointer;
}

.contentsTitle {
    color: var(--dark-text);
    text-align: left;
    text-decoration: none;
    min-width: 50%;
    flex: 1 0 50%;
    overflow-wrap: break-word;
}

.contentsTitle:hover {
    text-decoration: underline;
    cursor: pointer;
}

.contentsDate {
    flex: 1 0 50%;
    text-align: right;
    padding-right: 20px;
}

.newStoryButton {
    float: right;
}

.mat-fab.mat-accent, .mat-mini-fab.mat-accent {
    background-color: var(--scealai-green);
}

.clickedresultCard {
    background-color: #eee;
    padding: 2px;
    font-weight: bolder;
    border-radius: 10px;
}