.container {
    max-width: 900px;
    background-color: white;
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    animation-duration: 1s;
    animation-name: fadeIn;
}

.classroomCard {
    justify-content: center;
    display: inline-block;
}

.classroomCluster {
    background-color: darkgrey;
    border-style: solid;
    border-color: black;
    margin: 4px 8px 4px 8px;
    border-radius: 5px;
    justify-content: center;
    display: inline-block;
}

.select {
    
}

.selectButton {
    font-size: 12pt;
    margin: 4px 2px 4px 2px;
    background-color: #a8707086;
    border-color: #a88070;
    border-style: solid;
    border-radius: 5px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.headerIconBtnNotSelected {
    font-size: 12pt;
    margin: 4px 2px 4px 2px;
    background-color: #a8707086;
    border-color: #a88070;
    border-style: solid;
    border-radius: 5px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.headerIconBtnSelected {
    font-size: 12pt;
    margin: 4px 2px 4px 2px;
    background-color: #49ff528c;
    border-color: #70a878;
    border-style: solid;
    border-radius: 5px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

@keyframes fadeIn {
    from {
        opacity: 0%;
        transform: translateY(100px) scale(0.9);
    }

    to {
        opacity: 100%;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fadeInButton {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}