.titleText {
  font-size: 14pt;
  margin-top: 20px;
}

.bodyContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.chart-container {
  width: 600px;
  height: 600px;
}

#canvas {
  width: 600px;
  height: 300px;
}


