<!-- List of stories with delete and add new story button. Each story links to dashboard page-->
<img src="assets/img/book.png" class="bookImg">
<div class="bookContentsContainer">
  <div class="contentsContainer">
    <div class="bookTitle">{{ts.l.my_stories}}</div>
    <div class="contentsTitleContainer">
      <div class="contentsLinkTitle">{{ts.l.title}}</div>
      <div class="contentsDateTitle">{{ts.l.last_updated}}</div>
    </div>
    <!-- create new story message if no stories -->
    <div class="contentsLinkContainer">
      <div *ngIf="stories.length === 0" class="newStoryMessage">
        {{ts.l.click_new_story}}
      </div>
        <!-- List each story -->
      <div *ngFor="let story of stories">
        <div class="contentSection">
          <!-- delete check box if deleteMode -->
          <input type="checkbox" class="deleteCheckbox" *ngIf="deleteMode" (click)="toggleDelete(story.id)">
          <!-- link the story to its dashboard -->
          <a [routerLink]="['/dashboard', story.id]" class="contentsLink">{{story.title}}</a>
          <div class="contentsDate">{{story.date | date : 'M/d/yy, h:mm' }}</div>
        </div>
        <hr/>
      </div>
    </div>     
    <!-- delte and new story buttons -->
    <div class="contentsBtnsContainer">
      <button class="btn deleteBtn" [class.deleteModeBtn]="deleteMode" (click)="toggleDeleteMode()"><img src="assets/img/trash.ico" class="trashImg"></button>
      <button class="btn newStoryBtn" routerLink="/new-story">{{ts.l.new_story}}</button>
    </div>        
  </div>
</div>
