.bookContentsContainer {
    width: 80%;
    margin-left: 10%;
    z-index: 10;
}

.bookImg {
    z-index: -10;
    width: 90%;
    height: 500px;
    position: fixed;
    right: 5%;
}

.bookTitle {
    color: #261500;
    padding-left: 5%;
    padding-right: 5%;
    display: inline-block;
    font-size: 18pt;
}

.contentsContainer {
    padding-left: 3%;
    padding-right: 3%;
    height: 390px;
    width: 80%;
    margin-left: 10%;
    background: url("/assets/img/paperBg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
-moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
border-radius: 5px 5px 5px 5px;
}

.contentsLinkContainer {
    height: 260px;
    overflow: scroll;
    padding: 3%;
    -webkit-box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.5);
-moz-box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.5);
box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.5);
border-radius: 5px 5px 5px 5px;
}

.contentsTitleContainer {
    width: 100%;
    padding: 5px;
    display:flex;
    justify-content: space-between;
}

.contentsLink {
    color: #261500;
    float: left;
}

.contentsDate {
    margin-left: 60%;
    color:#261500;
}

.contentsDateTitle {
    font-size: 14pt;
    color: #c15a2e;
}

.contentsLinkTitle {
    float: left;
    margin-left: 1%;
    font-size: 14pt;
    color: #c15a2e;
}

.contentsBtnsContainer {
    margin-top: 10px;
}

.newStoryBtn {
    font-size: 14pt;
    background-color: #e5bd3b;
    border-style: none;
    color: white;
    font-size: 12pt;
    margin: 0px;
    float: right;
    border-radius: 5px 5px 5px 5px;
}

.newStoryBtn:hover {
    background-color: #ad8f2b;
    color: white;
}

.optionsBtn {
    font-size: 14pt;
    background-color: #e5bd3b;
    border-style: none;
    color: white;
    font-size: 12pt;
    margin: 0px;
    float: left;
    border-radius: 5px 5px 5px 5px;
}

.optionsBtn:hover {
    background-color: #ad8f2b;
    color: white;
}


.optionsPopup {
    z-index: 10;
    position: fixed;
    margin-top: 10px;
    margin-left: 5%;
    display: flex;
    align-items: center;
    padding: 4px;
    padding-right: 0px;
    background: url("/assets/img/paperBg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
-moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
border-radius: 5px 5px 5px 5px;
}

.optionsPopup:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 60px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: #f1e9d8;
	border-top: 0;
	margin-left: -10px;
    margin-top: -10px;
}

.deleteBtn {
    background-color: #e5bd3b;
    border-style: none;
    color: white;
    margin: 0px;
    float: left;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-top: 2px;
    height: 38px;
    margin-right: 4px;
    border-radius: 5px 5px 5px 5px;
}

.deleteBtn:hover {
    background-color: #ad8f2b;
}

.deleteModeBtn {
    background-color: #dd000e;
}

.deleteModeBtn:hover {
    background-color: #b7000a;
}


.trashImg {
    width: 24px;
}

.optionsPopupBtn {
    height: 38px;
    margin-right: 4px;
}

.deleteCheckbox {
    float:left;
    margin-right: 5px;
    margin-top: 5px;
}

@media only screen and (max-width: 700px) { 
    .bookImg {
        display: none;
    }
    .bookContentsContainer {
        width: 95%;
        padding-top: 10px;
        margin-left: 2.5%;
        z-index: 10;
    }
    .contentsContainer {
       width: 90%;
       margin-left: 5%;
    }
    .contentsLinkContainer {
        height: 270px;
    }
    .contentsLinkTitle {
        font-size: 12pt;
    }

    .contentsDateTitle {
        font-size: 12pt;
    }
    .optionsPopupBtn {
        padding: 5px;
        padding-top: 2px;
        margin: 0px;
        height: 30px;
        margin-right: 4px;
        font-size: 12pt;
    }

    .deleteBtn {
        background-color: #e5bd3b;
        border-style: none;
        color: white;
        margin: 0px;
        float: left;
        padding-left: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-top: 0px;
        height: 30px;
        margin-right: 4px;
        border-radius: 5px 5px 5px 5px;
    }
    
    .deleteBtn:hover {
        background-color: #ad8f2b;
    }
    
    .deleteModeBtn {
        background-color: #dd000e;
    }
    
    .deleteModeBtn:hover {
        background-color: #b7000a;
    }
    
    
    .trashImg {
        width: 20px;
    }
}

@media only screen and (min-width: 700px) {
    .bookImg {
        z-index: -10;
        width: 630px;
        left: 50%;
        margin-left: -315px;
    }

    .bookContentsContainer {
        width: 560px;
        position: fixed;
        left: 50%;
        margin-left: -280px;
        padding-top: 40px;
    }

    .optionsPopup {
        margin-left: 55px;
    }

}