<img src="assets/img/book.png" class="bookImg">
<div class="bookContentsContainer">
  <div class="contentsContainer">
    <div class="bookTitle">{{ts.l.my_stories}}</div>
    <div class="contentsTitleContainer">
      <div class="contentsLinkTitle">{{ts.l.title}}</div>
      <div class="contentsDateTitle">{{ts.l.last_updated}}</div>
    </div>
    <div class="contentsLinkContainer">
      <div *ngFor="let story of stories">
      <div class="contentSection">
        <input type="checkbox" class="deleteCheckbox" *ngIf="deleteMode" (click)="toggleDelete(story.id)">
        <a [routerLink]="['/dashboard', story.id]" 
        class="contentsLink">{{story.title}}</a>
        <div class="contentsDate">{{story.date | date : 'M/d/yy, h:mm' }}</div>
      </div>
      <hr/>
    </div>
    </div>     
    <div class="contentsBtnsContainer">
      <button class="btn deleteBtn" [class.deleteModeBtn]="deleteMode" (click)="toggleDeleteMode()"><img src="assets/img/trash.ico" class="trashImg"></button>
      <button class="btn newStoryBtn" routerLink="/new-story">{{ts.l.new_story}}</button>
    </div>        
  </div>
</div>
