.bookContentsContainer {
    width: 80%;
    height: 70vh;
    padding-top: 2vh;
    margin-left: 10%;
    z-index: 10;
}

.bookImg {
    z-index: -10;
    width: 90%;
    height: 75vh;
    position: fixed;
    right: 5%;
}

.bookTitle {
    color: #261500;
    padding-left: 5%;
    padding-right: 5%;
    display: inline-block;
    font-size: 18pt;
}

.contentsContainer {
    padding-top: 1vh;
    padding-left: 3%;
    padding-right: 3%;
    height: 58vh;
    width: 80%;
    margin-left: 10%;
    margin-top: 5vh;
    background: url("/assets/img/paperBg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
-moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
border-radius: 5px 5px 5px 5px;
}

.contentsLinkContainer {
    height: 36vh;
    overflow: scroll;
    padding: 3%;
    -webkit-box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.5);
-moz-box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.5);
box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.5);
border-radius: 5px 5px 5px 5px;
}

.contentsTitleContainer {
    margin: 5px;
}

.contentsLink {
    color: #261500;
    float: left;
}

.contentsDate {
    margin-left: 60%;
    color:#261500;
}

.contentsDateTitle {
    margin-left: 65%;
    font-size: 14pt;
    color: #c15a2e;
}

.contentsLinkTitle {
    float: left;
    margin-left: 1%;
    font-size: 14pt;
    color: #c15a2e;
}

.contentsBtnsContainer {
    margin-top: 1.5vh;
}

.newStoryBtn {
    font-size: 14pt;
    background-color: #e5bd3b;
    border-style: none;
    color: white;
    font-size: 12pt;
    margin: 0px;
    float: right;
    border-radius: 5px 5px 5px 5px;
}

.newStoryBtn:hover {
    background-color: #ad8f2b;
    color: white;
}

.optionsBtn {
    font-size: 14pt;
    background-color: #e5bd3b;
    border-style: none;
    color: white;
    font-size: 12pt;
    margin: 0px;
    float: left;
    border-radius: 5px 5px 5px 5px;
}

.optionsBtn:hover {
    background-color: #ad8f2b;
    color: white;
}

.optionsPopup {
    z-index: 10;
    width: 330px;
    margin-left: 8%;
    height: 10vh;
    position: fixed;
    margin-top: 2vh;
    background: url("/assets/img/paperBg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
-moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
border-radius: 5px 5px 5px 5px;
}

.optionsPopup:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 15%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: #f1e9d8;
	border-top: 0;
	margin-left: -10px;
	margin-top: -10px;
}

.deleteBtn {
    background-color: #e5bd3b;
    border-style: none;
    color: white;
    margin: 0px;
    float: left;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-top: 2px;
    margin-top: 2vh;
    margin-left: 3%;
    height: 6vh;
    border-radius: 5px 5px 5px 5px;
}

.deleteBtn:hover {
    background-color: #ad8f2b;
}

.deleteModeBtn {
    background-color: #dd000e;
}

.deleteModeBtn:hover {
    background-color: #b7000a;
}


.trashImg {
    width: 24px;
}

.optionsPopupBtn {
    margin-left: 3%;
    margin-top: 2vh;
    height: 6vh;
}

.deleteCheckbox {
    float:left;
    margin-right: 5px;
    margin-top: 5px;
}

@media only screen and (max-width: 550px) { 
    .contentsLinkContainer {
        height: 32vh;
    }
}

@media only screen and (min-width: 700px) {
    .bookImg {
        z-index: -10;
        width: 630px;
        left: 50%;
        top: 50%;
        margin-left: -315px;
        margin-top: -35vh;
    }

    .bookContentsContainer {
        width: 560px;
        position: fixed;
        left: 50%;
        top: 50%;
        margin-left: -280px;
        margin-top: -35vh;
    }

    .optionsPopup {
        width: 330px;
        margin-left: 55px;
    }

}