<div class="dashboard">
    <div class="dashboard-header">
        <h3 class="dashboard-title">Database Stats</h3>
    </div>
    <div class="cards-container">
        <!-- User numbers -->
        <mat-card>
            <mat-card-header class="stats-card-header">
                <mat-card-title>Number of Users</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <canvas id="user-counts"> </canvas>
            </mat-card-content>
        </mat-card>
        <!-- Story Stats -->
        <mat-card *ngIf="dataLoaded">
            <mat-card-header class="stats-card-header">
                <mat-card-title>Story Stats</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-card>
                    <mat-card-content>
                        <b>Total stories</b>: {{storyStats.totalStories}}
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-content>
                        <b>Total words</b>: {{storyStats.totalWords}}
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-content>
                        <b>Average words per story</b>: {{storyStats.avgWordCount}}
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-content>
                        <b>Total recordings</b>: {{storyStats.totalRecordings}}
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
        </mat-card>
        <!-- Grammar Pie Chart -->
        <mat-card>
            <mat-card-header class="stats-card-header">
                <mat-card-title>Title</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Content
            </mat-card-content>
        </mat-card>
        <!-- Dictionary Lookups -->
        <mat-card>
            <mat-card-header class="stats-card-header">
                <mat-card-title>Title</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Content
            </mat-card-content>
        </mat-card>
    </div>
</div>
