<div class="dashboard">
    <div class="dashboard-header">
        <h3 class="dashboard-title">Database Stats</h3>
    </div>
    <div class="cards-container">
        <!-- User numbers -->
        <mat-card>
            <mat-card-header class="stats-card-header">
                <mat-card-title>Number of Users</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <canvas id="user-counts"> </canvas>
            </mat-card-content>
        </mat-card>
        <!-- Story Stats -->
        <mat-card *ngIf="dataLoaded">
            <mat-card-header class="stats-card-header">
                <mat-card-title>Story Stats</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-card>
                    <mat-card-content class="cardText">
                        <b>Total words:</b> {{storyStats.totalWords}}
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-content class="cardText">
                        <b>Total stories:</b> {{storyStats.totalStories}}
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-content class="cardText">
                        <b>Avg words per story:</b> {{storyStats.avgWordCount}}
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-content class="cardText">
                        <b>Total recordings:</b> {{storyStats.totalRecordings}}
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
        </mat-card>
        <!-- Teacher Stats -->
        <mat-card *ngIf="dataLoaded">
            <mat-card-header class="stats-card-header">
                <mat-card-title>Teacher Stats</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-card>
                    <mat-card-content class="cardText">
                        <b>Total classrooms:</b> {{totalClassrooms}}
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-content class="cardText">
                        <b>Total feedback given:</b> {{storyStats.totalFeedback}}
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-content class="cardText">
                        <b>Only textual feedback:</b> {{storyStats.onlyTextFeedback}}
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-content class="cardText">
                        <b>Only audio feedback:</b> {{storyStats.onlyAudioFeedback}}
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-content class="cardText">
                        <b>Both text/audio feedback:</b> {{storyStats.bothAudioAndText}}
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-content class="cardText">
                        <b>Total feedback words:</b> {{storyStats.totalFeedbackWords}}
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-content class="cardText">
                        <b>Avg feedback words:</b> {{storyStats.avgFeedbackWordCount}}
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
        </mat-card>
        <!-- User Stats -->
        <mat-card *ngIf="dataLoaded">
            <mat-card-header class="stats-card-header">
                <mat-card-title>User Stats</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-card>
                    <mat-card-content class="cardText">
                        <b>Total words:</b> {{storyStats.totalWords}}
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-content class="cardText">
                        <b>Total stories:</b> {{storyStats.totalStories}}
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-content class="cardText">
                        <b>Avg words per story:</b> {{storyStats.avgWordCount}}
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-content class="cardText">
                        <b>Total recordings:</b> {{storyStats.totalRecordings}}
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
        </mat-card>
    </div>
</div>
