<div class="content">
  <div class="btnContainer" routerLink="../teachers">
    {{ts.l.teachers}}
  </div>
  <div class="btnContainer" routerLink="../stats">
    {{ts.l.statistics}}
  </div>
  <div class="btnContainer" routerLink="../find-user">
    {{ts.l.find_user}}
  </div>
  <div class="btnContainer">
    <a class="btnContainer" style="text-decoration:none" href="https://analytics.google.com/analytics/web/?authuser=2#/report-home/a178889778w247370276p229672953" target="_blank"> Google Analytics </a>
  </div>
</div>