// entire component
.bodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

// container for the columns of settings
.settingsContainer {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

// each account info box
.settingsEntryContainer {
    text-align: left;
    padding: 50px;
}

.settingsLabel {
    font-size: 16pt;
    padding-bottom: 10px;
}

// data in the info box
.settingsEntry {
    display: flex;
    justify-content: space-between;
    width: 250px;
    overflow-x: scroll;
}

.deleteAccount {
    color: var(--delete-red);
    text-align: left;
    padding-left: 30%;
}

.deleteAccount:hover {
    color: var(--delete-red-hover);
    cursor: pointer;
    text-decoration: underline;
}