<div class="bodyContainer">
  <div class="settingsContainer">
    <!-- column one-->
    <div>
      <div class="settingsEntryContainer">
        <div class="settingsLabel"> Username </div>
        <div class="settingsEntry">
          <div> username </div>
          <i class="fas fa-edit headerIconBtn" (click)="openUpdateUsernameDialog()"></i>
        </div>
      </div>
      <div class="settingsEntryContainer">
        <div class="settingsLabel"> Password </div>
        <div class="settingsEntry">
          <div> *******</div>
          <i class="fas fa-edit headerIconBtn" (click)="openUpdateUsernameDialog()"></i>
        </div>
      </div>
      <div class="settingsEntryContainer">
        <div class="settingsLabel"> Classrooom </div>
        <div class="settingsEntry">
          <div> {{classroom?.title}} </div>
          <button *ngIf="classroom">Leave</button>
        </div>
      </div>
    </div>
    <!-- column two-->
    <div>
      <div class="settingsEntryContainer">
        <div class="settingsLabel"> Email </div>
        <div class="settingsEntry">
          <div> email@test.com </div>
          <i class="fas fa-edit headerIconBtn" (click)="openUpdateUsernameDialog()"></i>
        </div>
      </div>
      <div class="settingsEntryContainer">
        <div class="settingsLabel"> Dialect Preference </div>
        <select [(ngModel)]="dialectPreference">
          <option *ngFor="let opt of dialectPreferences">{{opt}}</option>
        </select>
      </div>
    </div>
  </div>
  
  <div class="deleteAccount"> Delete account </div>
</div>
