.loginBtn {
    background-color: #876daa;
}

.loginBtn:hover {
    background-color: #685383;
}

.inputField {
    margin-left: 5%;
    min-width: 0;
}

.formBody {
    width: 500px;
    display: flex;
    justify-content: center;
    padding: 15px;
    color: #261500;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}

.formContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.formTitle {
    margin-bottom: -20px;
    margin-top: 5px;
    font-size: 18pt;
}

.modalContainer {
    position: absolute;
    z-index: 5;
    margin-left: -40px;
    margin-top: -20px;
    width: 600px;
    height: 400px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.modalContent {
    margin-top: 5vh;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 25px;
    padding: 60px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: -1px 10px 17px 0px rgba(0,0,0,0.5);
-moz-box-shadow: -1px 10px 17px 0px rgba(0,0,0,0.5);
box-shadow: -1px 10px 17px 0px rgba(0,0,0,0.5);
}

.modalBtn {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #d1d1d1;
    border: none;
    border-radius: 5px;
    margin: 5px;
    margin-top: 15px;
}

.modalText {
    font-size: 12pt;
    white-space: normal;
    color: black;
}

.modalBtn:hover {
    background-color: #707070;
    color: white;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.hiddenFade {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease-in;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.visibleFade {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s ease-out;
}
.createBtnGreen {
    background-color: #70a87f;
    color: white;
}

.createBtnGreen:hover {
    background-color: #304e38;
}

.profileContainer {
    width: 500px;
    display: inline-block;
    background-color: #437250;
    color: white;
    border-radius: 10px;

    -webkit-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.18);
}

.headerIconBtn {
    font-size: 12pt;
    margin-left: 25px;
    background-color: #70a87f;
    border-radius: 5px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.headerIconBtn:hover {
    cursor: pointer;
    color: #91ffa5;
    -webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;
}

.usernameErrorText {
    font-size: 12pt;
    color: red;
    margin-top: 4px;
    width: 80%;
    margin-left: 10%;
}

.formLabel {
    white-space: nowrap;
}

.userInfo {
    padding-left: 5%;
    white-space: nowrap;
}

.logoutBtn {
    font-size: 12pt;
    background-color: #70a87f;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    z-index: 1;
}

.logoutBtn:hover {
    background-color: #437250;
}

.form-group {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 4px;
}

.form-group-vertical {
    display: flex;
    align-items: left;
    padding: 5px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 4px;
    flex-direction : column;
    margin-bottom: 15px;
}

.form-group-section {
    display: flex;
    align-items: center;
}

.classroomMessage {
    margin: 10px;
}

.leaveClassroomButton {
    background-color: #d6123c;
    border-radius: 5px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12pt;
    margin-left: 20px;
    z-index: 1;
}

.leaveClassroomButton:hover {
    background-color: #9b0d2b;
    transition: 0.5s;
}

.deleteAccountButton {
  background-color: #d6123c;
  margin-bottom: 10px;
  font-size: 9px;
  border-radius: 10px 10px 10px 10px;
  padding: 5px;
}

.deleteAccountButton:hover {
    background-color: #9b0d2b;
    transition: 0.5s;
}

.centerForm {
    justify-content: center;
}

.notFoundText {
    color: #d6123c;
}

.greenLink {
    text-decoration: underline;
    color: #70a87f;
    font-size: 12pt;
}

.greenLink:hover {
    cursor: pointer;
}

.btnContainer {
    display: flex;
    justify-content: space-around;
}

.languageButtonContainer {
    display: flex;
    margin-left: 4px;
}

.languageButton {
    background-color: #70a87f;
    color: white;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 4px;
    margin: 4px;
}

.languageButton:hover { 
    cursor: pointer;
    background-color: #437250;
}

.languageButtonSelected {
    background-color: #437250;
}

@media only screen and (max-width: 700px) {
    .profileContainer {
        width: 90%;
    }
    .formBody {
        width: 100%;
    }
    .logoutBtn {
        font-size: 10pt;
    }
}

@media only screen and (max-width: 550px) {
    .profileContainer {
        width: 90%;
    }
    .formBody {
        width: 100%;
    }
    .formContainer {
        width: 95%;
    }
    .logoutBtn {
        font-size: 10pt;
    }
}