.profileContainer {
    width: 500px;
    display: inline-block;
    background-color: var(--scealai-med-green);
    color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.18);
}

.createBtnGreen {
    background-color: #70a87f;
    color: white;
}

.createBtnGreen:hover {
    background-color: #304e38;
}

.profileContainer {
    width: 500px;
    display: inline-block;
    background-color: #437250;
    color: white;
    border-radius: 10px;

    -webkit-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.18);
}

.headerIconBtn {
    font-size: 12pt;
    margin-left: 25px;
    background-color: #70a87f;
    border-radius: 5px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
}

.headerIconBtn:hover {
    cursor: pointer;
    color: #91ffa5;
    -webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;
}

.usernameErrorText {
    font-size: 12pt;
    color: red;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 80%;
    margin-left: 10%;
}

.modalBtn {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--scealai-gray);
    border: none;
    border-radius: 5px;
    margin: 5px;
    margin-top: 15px;
}

.modalBtn:hover {
    background-color: var(--modal-hover);
    color: white;
}

.createBtnGreen {
    background-color: var(--scealai-green);
    color: white;
}

.createBtnGreen:hover {
    background-color: var(--scealai-dark-green);
}

.formTitle {
    margin-bottom: -20px;
    margin-top: 5px;
    font-size: 18pt;
}

.formBody {
    width: 500px;
    display: flex;
    justify-content: center;
    padding: 15px;
    color: var(--dark-text);
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}

.formContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.formLabel {
    white-space: nowrap;
}

.userInfo {
    padding-left: 5%;
    white-space: nowrap;
}

.headerIconBtn {
    font-size: 12pt;
    margin-left: 25px;
    background-color: var(--scealai-green);
    border-radius: 5px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
}

.headerIconBtn:hover {
    cursor: pointer;
    color: var(--scealai-light-green);
    -webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;
}

.form-group {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 4px;
}

.form-group-vertical {
    display: flex;
    align-items: left;
    padding: 5px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 4px;
    flex-direction : column;
    margin-bottom: 15px;
}

.form-group-section {
    display: flex;
    align-items: center;
}

.inputField {
    margin-left: 5%;
    min-width: 0;
}

.leaveClassroomButton {
    background-color: var(--delete-red-2);
    border-radius: 5px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12pt;
    margin-left: 20px;
    z-index: 1;
}

.leaveClassroomButton:hover {
    background-color: var(--delete-red-2-hover);
    transition: 0.5s;
}

.classroomMessage {
    margin: 10px;
}

.notFoundText {
    color: var(--delete-red-2);
}

.greenLink {
    text-decoration: underline;
    color: var(--scealai-green);
    font-size: 12pt;
}

.greenLink:hover {
    cursor: pointer;
}

.languageButtonContainer {
    display: flex;
    margin-left: 4px;
}

.languageButton {
    background-color: var(--scealai-green);
    color: white;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 4px;
    margin: 4px;
}

.languageButton:hover { 
    cursor: pointer;
    background-color: var(--scealai-med-green);
}

.languageButtonSelected {
    background-color: var(--scealai-med-green);
}

.accountButtonContainer {
  display: flex;
  margin-left: 20%;
}

.deleteAccountButton {
  background-color: var(--delete-red-2);
  margin-bottom: 10px;
  font-size: 9px;
  border-radius: 10px 10px 10px 10px;
  padding: 5px;
}

.deleteAccountButton:hover {
    background-color: var(--delete-red-2-hover);
    transition: 0.5s;
}

.passwordButton {
  background-color: var(--scealai-green);
  color: white;
  margin-bottom: 10px;
  font-size: 9px;
  border-radius: 10px 10px 10px 10px;
  padding: 5px;
  margin-left: 10px;
}

.passwordButton:hover {
    background-color: var(--scealai-med-green);
    transition: 0.5s;
}

.profileBtnContainer {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}

.logoutBtn {
    font-size: 12pt;
    background-color: var(--scealai-green);
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    z-index: 1;
}

.logoutBtn:hover {
    background-color: var(--scealai-med-green);
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.hiddenFade {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease-in;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.visibleFade {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s ease-out;
}

@media only screen and (max-width: 700px) {
    .profileContainer {
        width: 90%;
    }
    .formBody {
        width: 100%;
    }
    .logoutBtn {
        font-size: 10pt;
    }
}

@media only screen and (max-width: 550px) {
    .profileContainer {
        width: 90%;
    }
    .formBody {
        width: 100%;
    }
    .formContainer {
        width: 95%;
    }
    .logoutBtn {
        font-size: 10pt;
    }
}