<div class="profileContainer" *ngIf="auth.getUserDetails()">
  <!-- Popups -->
    <div class="{{modalClass}} modalContainer">
      <!-- Popup for deleting account -->
        <div *ngIf="deleteAccountMode" class="modalContent">
            <pre class="modalText">{{ts.l.are_you_sure}}</pre>
            <pre *ngIf="auth.getUserDetails().role === 'STUDENT'" class="modalText">({{ts.l.this_includes_story_data}})</pre>
            <pre *ngIf="auth.getUserDetails().role === 'TEACHER'" class="modalText">({{ts.l.this_includes_personal_data}})</pre>
            <div>
                <button class="modalBtn createBtnGreen" (click)="deleteAccount(); update">{{ts.l.yes}}</button>
                <button class="modalBtn createBtnGreen" (click)="hideModal(); deleteAccountMode=false;">{{ts.l.no}}</button>
            </div>
        </div>
        <!-- Popup for changing username -->
        <div *ngIf="updateUsernameMode" class="modalContent">
            <div class="modalText"> {{ts.l.change_username}} </div>
            <div class="modalText"> ({{ts.l.you_will_have_to_login}}) </div><br>
            <div class="modalText"> {{ts.l.current_username}}: <i>{{auth.getUserDetails().username}}</i></div><br>
            <div class="modalText"> {{ts.l.new_username}}: <input type="text" placeholder={{ts.l.enter_username}} name="username" [(ngModel)]="updatedUsername"></div>
            <div class="usernameErrorText"> {{errorMessage}} </div>
            <div>
                <button class="modalBtn createBtnGreen" (click)="updateUsername()">{{ts.l.save}}</button>
                <button class="modalBtn createBtnGreen" (click)="hideModal(); updateUsernameMode=false;">{{ts.l.cancel}}</button>
            </div>
        </div>
        <!-- Popup for changing email -->
        <div *ngIf="updateEmailMode" class="modalContent">
            <pre class="modalText">Update email</pre>
            <pre *ngIf="auth.getUserDetails().role === 'STUDENT'" class="modalText">({{ts.l.this_includes_story_data}})</pre>
            <pre *ngIf="auth.getUserDetails().role === 'TEACHER'" class="modalText">({{ts.l.this_includes_personal_data}})</pre>
            <div>
                <button class="modalBtn createBtnGreen" (click)="hideModal(); updateEmailMode=false;">{{ts.l.yes}}</button>
                <button class="modalBtn createBtnGreen" (click)="hideModal(); updateEmailMode=false;">{{ts.l.no}}</button>
            </div>
        </div>
    </div>

    <!-- Profile options -->
    <div class="formTitle">{{ts.l.profile}}</div><br>
    <div *ngIf="!editMode" class="formBody">  
      <div class="formContainer">
        <!-- username details -->
        <div class="form-group">
          <div class="formLabel">{{ts.l.username}} :</div>
          <div class="userInfo">
            <i>{{auth.getUserDetails().username}}</i>
            <i class="fas fa-edit headerIconBtn" (click)="updateUsernameMode=true; errorMessage=''; showModal()"></i>
          </div>
        </div>
        <!--
        <div class="form-group">
          <div class="formLabel">{{ts.l.email}} :</div>
          <div class="userInfo">
            <i>{{auth.getUserDetails().email}}</i>
            <i class="fas fa-edit headerIconBtn" (click)="updateEmailMode=true; errorMessage=''; showModal()"></i>
          </div>
        </div>-->
        <!-- classroom details if STUDENT -->
        <div class="form-group" *ngIf="classroom && auth.getUserDetails().role === 'STUDENT'">
          <div class="formLabel">{{ts.l.classroom}} :</div>
          <div class="userInfo"><i>{{classroom.title}}</i></div>
          <button class="btn leaveClassroomButton" (click)="leaveClassroom()">{{ts.l.leave}}</button>
        </div>
        <!-- join classroom option STUDENT -->
        <div class="form-group-vertical" *ngIf="!classroom && auth.getUserDetails().role === 'STUDENT'">
          <div class="form-group-section">
            <div class="formLabel classroomCodeLabel">{{ts.l.classroom_code}} :</div>
            <input type="text" class="form-control inputField"
            placeholder="{{ts.l.enter_code}}" name="classroomcode" [formControl]="codeInput">
          </div>
          <div class="classroomMessages">
            <div *ngIf="classroomCodeOutput" class="notFoundText classroomMessage">{{classroomCodeOutput}}</div>
            <div *ngIf="foundClassroom" class="greenLink classroomMessage" (click)="joinClassroom()">{{ts.l.join_classroom}} '<b>{{foundClassroom.title}}</b>'?</div>
          </div>
        </div>
        <!-- change language -->
        <div class="form-group">
          <div class="formLabel">{{ts.l.language}} :</div>
          <div *ngIf="ts.inEnglish()" class="languageButtonContainer">
            <div class="languageButton languageButtonSelected">{{ts.l.english}}</div>
            <div class="languageButton" (click)="ts.setLanguage('ga')">{{ts.l.irish}}</div>
          </div>
          <div *ngIf="ts.inIrish()" class="languageButtonContainer">
            <div class="languageButton" (click)="ts.setLanguage('en')">{{ts.l.english}}</div>
            <div class="languageButton languageButtonSelected">{{ts.l.irish}}</div>
          </div>
        </div>
        <!-- delete account -->
        <div>
          <button class="btn deleteAccountButton" (click)="deleteAccountMode=true; showModal()"> {{ts.l.delete_my_account}} </button>
        </div>
        <!-- sign out and profile information -->
        <div class="btnContainer">
          <button routerLink="/register-profile" class="btn logoutBtn">{{ts.l.my_info}}</button>
          <button routerLink="/landing" class="btn logoutBtn" (click)="logout()">{{ts.l.sign_out}} <i class="fas fa-sign-out-alt"></i></button>
        </div>
      </div>
    </div>
</div>