.container {
    width: 600px;
}

.header {
    height: 40px;
}

.content {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.section {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
}

.siteLink {
    margin-left: 5px;
    color: var(--scealai-green);
    text-decoration: underline;
}


@media only screen and (max-width: 700px) {
    .container {
        width: 95%;
    }
    .content {
        font-size: 10pt;
    }
    .header {
        font-size: 15pt;
    }
}