.loginBtn {
    background-color: #70a87f;
    border-radius: 5px;
    margin-bottom: -14px;
}

.loginBtn:hover {
    background-color: #304e38;
}

.inputField {
    width: 60%;
    margin-left: 20%;
}

.formContainer {
    width: 500px;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 25px;
    color: #261500;
    background-color: #d1d1d1;
    border-radius: 0px 0px 10px 10px;
}

.formTitle {
    margin-bottom: -20px;
    margin-top: 5px;
    font-size: 18pt;
}

.registerContainer {
    width: 500px;
    display: inline-block;
    background-color: #304e38;
    color: white;
    border-radius: 10px;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}

.formLabel {
    text-align: left;
    margin-left: 20%;
    width: 60%;
}

.errorMessage {
    margin-left: 10%;
    width: 80%;
}

.selectOptions {
   margin-left: 20%;
   width: 60%;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group-set {
    background-color: #70a87f;
    width: 95%;
    margin-left: 2.5%;
    border-radius: 5px 5px 5px 5px;
}

.group-set-header {
    color: white;
}

.group-set-body {
    background-color: white;
    width: 100%;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.checkbox-group {
    width: 60%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media only screen and (max-width: 700px) {
    .registerContainer {
        width: 90%;
    }
    .formContainer {
        width: 100%;
    }
}