.loginBtn {
    background-color: #e5bd3b;
}

.loginBtn:hover {
    background-color: #ad8f2b;
}

.inputField {
    width: 60%;
    margin-left: 20%;
}

.formContainer {
    width: 300px;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 25px;
    color: #261500;
    background-color: #e6e8ed;
    border-radius: 0px 0px 5px 5px;
}

.formTitle {
    margin-bottom: -20px;
    margin-top: 5px;
    font-size: 18pt;
}

.registerContainer {
    width: 300px;
    display: inline-block;
    background-color: #e5bd3b;
    color: white;
    border-radius: 25px;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
}

.formLabel {
    text-align: left;
    margin-left: 20%;
}