<div class="container">
  <div class="header">
    Newly created tab!
  </div>
  <!--<div class="aboutContent">
    <p style="text-align: center;">This is where the stories will be displayed/can be generated (I think)</p>
    <p style="text-align: center;">List of stories in the db :</p>
    <p style="text-align: center;">(will be filtered based in public/private/who created it)</p>
  </div>-->
  <div style="display: flex;">
    
  </div>
</div>

<!-- Footer containing logos -->
<div class="footerLARA">
  <div class="footerLogos">
    <div class="copyright"> {{ts.l.published_courtesy_of}} </div>
    <div class="logoPadding"><img class="logoImg" src="assets/img/logo_an_gum.png"></div>
    <div class="logoPadding"><img class="logoImg" src="assets/img/logo_foras_na_gaeilge.png"></div>
  </div>
</div>